<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
    <div class="data-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
    <section fxFlex="none" fxLayout="row" >
        <mat-card fxFlex>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex fxLayout="row wrap">
                    <mat-form-field fxFill appearance="outline">
                        <mat-label>Buscar</mat-label>
                        <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                        <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex="none" fxFlex.xs="100">
                    <div fxFlex></div>
                    <section class="search-button">
                        <button mat-raised-button color="accent" (click)="applyFilter()">
                            <mat-icon>search</mat-icon> Buscar
                        </button>
                    </section>
                </div>
            </div>
        </mat-card>
    </section>
    <section fxFlex fxLayout="row">
        <mat-card fxFlex fxLayout="column" >
            <div fxFlex="none" fxLayout="row">
                <div fxFlex="none"></div>
                <div fxFlex></div>
                <div fxFlex="none"></div>
            </div>

            <div fxFlex fxLayout="row raw" style="overflow: auto;">
               <div *ngFor="let pedido of listadoPedidos" fxFlex="33" style="padding:3px;">
                    <mat-card class="grupo" fxLayout="column">
                        <div fxFlex="none" fxLayout="column">
                            <span class="folio-label" fxFlex="none">Folio:</span>
                            <span class="folio-value" fxFlex>{{pedido.folio}}</span>
                        </div>
                        <div fxFlex class="grupo-body">
                            {{pedido.descripcion}}
                        </div>
                        <div fxFlex="none" class="grupo-action" fxLayout="column">
                            <div fxFlex fxLayout="column" style="padding-bottom:4px;">
                                <div fxFlex><span>Claves:</span>(0/0)</div>
                                <div fxFlex><mat-progress-bar mode="determinate" value="40"></mat-progress-bar></div>
                            </div>
                            <div fxFlex fxLayout="column" style="padding-bottom:4px;">
                                <div fxFlex><span>Articulos:</span>(0/0)</div>
                                <div fxFlex><mat-progress-bar mode="determinate" value="40"></mat-progress-bar></div>
                            </div>
                            <div fxFlex fxLayout="column" style="padding-bottom:4px;">
                                <div fxFlex><span>Monto:</span>($0.00/$0.00)</div>
                                <div fxFlex><mat-progress-bar mode="determinate" value="40"></mat-progress-bar></div>
                            </div>
                        </div>
                        <div fxFlex="none" fxLayout="row">
                            <div fxFlex="none">
                                <button mat-stroked-button color="accent">
                                    <mat-icon>info</mat-icon>
                                </button>
                            </div>
                            <div fxFlex></div>
                            <div fxFlex="none">
                                <button mat-flat-button color="primary" [routerLink]="'/pedidos/recepcion-pedidos/detalles/'+pedido.id"><mat-icon>view_list</mat-icon> Detalles</button>
                            </div>
                        </div>
                    </mat-card>
               </div>
            </div>

            <div fxFlex="none">
                <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadListadoPedidos($event)"></mat-paginator>
            </div>
        </mat-card>
    </section>
</section>