<mat-toolbar color="primary"  class="">
    <!--button mat-icon-button aria-label="Ir al inicio" routerLink="/" fxShow.xs fxHide.gt-sm>
      <mat-icon>home</mat-icon>
    </button-->
    <img src="{{(headerIcon)?headerIcon:'assets/logo-icon.svg'}}" alt="" style="height: 60%; width:auto;" fxHide.xs="true">
    <span style="margin-left:10px" *ngIf="!selectedApp"><a routerLink="/">SSADII</a></span> 
    <span class="header-links" *ngIf="selectedApp"><a *ngFor="let link of appHeaderLinks" routerLink="{{link.route}}">{{link.name}}</a></span>

    <span class="spacer"></span>

    <ng-template [ngIf]="isAuthenticated">
      <div class="header-buttons" fxLayout="row">
        <div fxFlex="none">
          <button mat-icon-button color="white" [matMenuTriggerFor]="menuApps" fxHide.xs>
            <mat-icon aria-label="Apps">apps</mat-icon>
          </button>
        </div>
        
        <div fxFlex="none">
          <button mat-icon-button [ngClass]="{'alert-on':alertaEstatus}" [color]="'white'" (click)="alertaOn = !alertaOn" cdkOverlayOrigin #verAlertas="cdkOverlayOrigin">
            <mat-icon aria-label="Notificaciones">{{(alertaEstatus)?'notification_important':'circle_notifications'}}</mat-icon>
          </button>
        </div>
        
        <div fxFlex="none">
          <button mat-icon-button aria-label="Mostrar Sidenav" (click)="toggleSidenav()" fxShow.xs fxHide>
            <img src="{{user.avatar}}" alt="" style="width:auto; margin:auto">
            <!--mat-icon>menu</mat-icon-->
          </button>
        </div>
        
        <div fxFlex="none">
          <button mat-icon-button [matMenuTriggerFor]="menuAccount" fxHide.xs="true">
            <!--mat-icon svgIcon="user-icon" aria-label="Avatar"></mat-icon-->
            <img src="{{user.avatar}}" alt="" style="width:auto; margin:auto">
          </button>
        </div>
      </div>

      <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="verAlertas" [cdkConnectedOverlayOpen]="alertaOn" yPosition="below" xPosition="before" (overlayKeydown)="cerrarAlertas($event)" (overlayOutsideClick)="alertaOn = false">
        <mat-card class="lista-notificaciones">
            <mat-action-list dense>
                <mat-list-item *ngIf="controlAlerta.alerts.length == 0" class="notificacion" disabled>
                  <div class="titulo">
                    No se encontraron notificaciones activas
                  </div>
                </mat-list-item>
                <mat-list-item *ngFor="let alert of controlAlerta.alerts" class="notificacion level-{{alert.nivel_alerta}}">
                  <div class="titulo">
                    {{alert.titulo}}
                  </div>
                  <div class="total">
                    {{alert.total}}
                  </div>
                </mat-list-item>
            </mat-action-list>
        </mat-card>
    </ng-template>
      
      <mat-menu #menuApps="matMenu">
        <button mat-menu-item style="text-align:center" routerLink="/apps">
          <mat-icon>home</mat-icon>
        </button>
        <mat-divider></mat-divider>
        <div class="apps" fxLayout="row" fxLayoutAlign="center center">
          <ng-container *ngFor="let app of apps; let i = index">
              <figure [routerLink]="['/'+app.route]">
                  <img src="{{ app.icon }}" alt="Icon">
                  <figcaption class="ellipsis">{{ app.name }}</figcaption>
              </figure>
          </ng-container>
        </div>
      </mat-menu>

      <mat-menu #menuAccount="matMenu">
        <div style="width:280px;" style="display:flex; justify-content: start center">
          <img src="{{user.avatar}}" alt="" style="width:80px; margin:10px">
          <div style="width:160px; margin:10px;  display: flex; flex-direction:column; justify-content: center; font-size:0.8em;">
            <strong>{{user.name}}</strong>
            <small style="color:#777">{{user.email}}</small>
            <br>
            <button mat-button mat-raised-button color="primary" routerLink="/profile">
                <mat-icon>account_circle</mat-icon> 
                <span>&nbsp;Editar cuenta</span>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" class="data-card" *ngIf="user.unidad_medica_asignada">
          <div fxFlex class="title">Unidad Medica Asignada</div>
          <div fxFlex class="content" fxLayout="column">
            <div fxFlex class="label">CLUES:</div>
            <div fxFlex class="data">{{user.unidad_medica_asignada.clues}}</div>
            <div fxFlex class="label">Nombre:</div>
            <div fxFlex class="data">{{user.unidad_medica_asignada.nombre}}</div>
          </div>
        </div>
        <!--mat-divider></mat-divider>
        <div>
          <button mat-menu-item style="text-align:center" routerLink="/apps">
            <mat-icon>settings</mat-icon> Configuración de Usuario
          </button>
        </div-->
        <!--mat-divider></mat-divider>
        <div>
          <div class="apps" fxLayout="row" fxLayoutAlign="center center">
            <ng-container *ngFor="let app of apps; let i = index">
                <figure [routerLink]="['/'+app.route]" *ngIf="i<9">
                    <img src="{{ app.icon }}" alt="Icon">
                    <figcaption class="ellipsis">{{ app.name }}</figcaption>
                </figure>
            </ng-container>
          </div>
          <button mat-menu-item style="text-align:center" routerLink="/apps">
            <mat-icon>apps</mat-icon>
          </button>
        </div-->
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <mat-icon>info</mat-icon>
          <span>Acerca de ...</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </ng-template>

    <ng-template [ngIf]="!isAuthenticated">
      <a routerLink="/login"><mat-icon>account_circle</mat-icon></a>
    </ng-template>
  </mat-toolbar>