a {
    text-decoration: none;
    color: white;
}

a:hover ,
a:active {
    color: lightgray;
}

.header-links > a{
 margin-left:4px;
 margin-right:4px;
}

a + a::before {
    content: "| ";
}


.navigation-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.spacer {
    flex: 1 1 auto;
}

::ng-deep .alert-nav-icon .mat-badge-content {
    top: 0px !important;
    left: -5px !important;
    background-color: transparent !important;
}

.alert-off{
    color: rgba(255, 255, 255, 0.30);
}

.alert-low{
    color: white;
}

.alert-medium{
    color: yellow;
}

.alert-high{
    text-shadow: -1px -1px 0 rgb(251, 255, 19), 1px -1px 0 rgb(251, 255, 19), -1px 1px 0 rgb(251, 255, 19), 1px 1px 0 rgb(251, 255, 19);
    color: red;
}

::ng-deep .alert-nav-icon.alert-high .mat-badge-content{
    color: red !important;
}

.panel-notificaciones{
    padding: 8px 0px;
    background-color: #3f51b5;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-shadow: 5px 5px 15px 0px grey;
}

.panel-notificaciones .titulo-panel{
    color: whitesmoke;
    padding: 0px 8px 8px 8px;
}

.panel-notificaciones .titulo-panel .titulo{
    display: flex;
    align-items: center;
    font-size: large;
    cursor: default;
}

.lista-notificaciones{
    background-color: whitesmoke;
}

.lista-notificaciones .notificacion{
    cursor: default;
    border-bottom: 1px solid rgba(0,0,0,.25);
    font-family: "Roboto Mono" , "Roboto" !important;
    min-height: 40px;
}

.lista-notificaciones .notificacion.active{
    cursor: pointer;
}

.lista-notificaciones .notificacion.active:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
    font-weight: 600;
}

.lista-notificaciones > div.notificacion:first-of-type{
    border-top: 1px solid rgba(0,0,0,.25);
}

.lista-notificaciones .notificacion > div{
    padding: 8px;
}

.lista-notificaciones .total{
    padding-right: 16px;
}

.lista-notificaciones .titulo-not-found{
    padding-right: 16px;
    font-weight: normal;
    font-style: italic;
}

.lista-notificaciones .titulo{
    padding-right: 16px;
}

.lista-notificaciones .level-high{
    color: #680000;
}

.lista-notificaciones .level-high .icono{
    color: #d00000;
}

.lista-notificaciones .notificacion.level-high:hover{
    background-color: #ffa8a8;
}

.lista-notificaciones .level-medium{
    color: rgb(88, 57, 0);
}

.lista-notificaciones .level-medium .icono{
    color: rgb(210, 144, 0);
}

.lista-notificaciones .notificacion.level-medium:hover{
    background-color: rgb(255, 219, 140);
}

.lista-notificaciones .level-low{
    color: rgb(72, 72, 72);
}

.lista-notificaciones .level-low .icono{
    color: rgb(0, 0, 0);
}

.lista-notificaciones .notificacion.level-low:hover{
    background-color: rgb(207, 207, 207);
}

.apps {    
    display: flex;
    flex:1;
    width:100%;
    margin: auto;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;    
    align-content: flex-start;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.apps figure {
    display: block;
    flex-direction: column;
    text-align: center; 
    width: 33.33%;
    min-width: 50px;
    margin:0;  
    cursor: pointer; 
}

.apps figure:hover {
    background-color: whitesmoke;
}

 
.apps figure img {
    display: block;
    width:50px;
    height: 50px;
    margin:auto;
    margin-top:15px;      
    margin-bottom:15px;  
}

.apps figcaption{
    font-size: 0.75em;
    color: #555;    
    margin-bottom:15px;  
}

.data-card{
    background-color: whitesmoke;
    padding:3px 2px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.data-card .title{
    text-align: center;
    font-weight: bold;
    color: rgba(0,0,0,.54);
}
.data-card .content{
    padding-top: 2px;
    font-family: "Roboto Mono" , "Roboto" !important;
    font-weight: 400;
    font-size: 0.9em;
}
.data-card .label{
    text-align: left;
    font-weight: bold;
}
.data-card .data{
    text-align: left;
}