<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;" (document:keydown.control.enter)="aceptarLotes()">
    <section fxFlex="none">
        <div>
            <div class="lista-insumos-item" [ngClass]="{'medicamento-bg-color': insumo.tipo_insumo=='MED','mat-curacion-bg-color': insumo.tipo_insumo=='MTC'}">
                <div class="lista-insumos-item-etiqueta">
                    <div class="lista-insumos-item-etiqueta-icono" [ngClass]="{'medicamento-bg-color': insumo.tipo_insumo=='MED','mat-curacion-bg-color': insumo.tipo_insumo=='MTC'}">
                        <img src="{{(insumo.tipo_insumo=='MED')?iconoMedicamento:iconoMatCuracion}}" alt="Icon">
                    </div>
                    <div class="lista-insumos-item-etiqueta-texto">{{insumo.clave}}</div>
                </div>
                <div class="lista-insumos-item-contenido">
                    <div class="lista-insumos-item-cabecera">
                        <div class="lista-insumos-item-cabecera-titulo">{{insumo.nombre_generico}}</div>
                        <div class="lista-insumos-item-cabecera-subtitulo">{{insumo.info}}</div>
                    </div>
                    <div class="lista-insumos-item-texto">
                        {{insumo.descripcion}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section fxFlex="none" fxLayout="column">
        <div fxFlex class="caducidad-insumo">
            Nuevo Lote: 
            <span [ngClass]="{'caducado':estatusCaducidad == 3, 'por-caducar': estatusCaducidad == 2}" *ngIf="insumo.tiene_fecha_caducidad && estatusCaducidad > 1"> Lote {{(estatusCaducidad == 2)?'Por Caducar':'Caducado'}}</span>
        </div>
        <div fxFlex fxLayout="row" [formGroup]="formLote">
            <mat-form-field fxFlex>
                <mat-label>Lote</mat-label>
                <input matInput #lote formControlName="lote" required cdkFocusInitial (keydown.enter)="agregarLote()">
                <mat-error *ngIf="formLote.get('lote').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Fecha Caducidad</mat-label>
                <input matInput mascaraFecha formControlName="fecha_caducidad" [required]="insumo.tiene_fecha_caducidad > 0" (keydown.enter)="agregarLote()" (blur)="verificarFechaCaducidad()">
                <mat-hint>Formato: aaaa-mm-dd</mat-hint>
                <mat-icon *ngIf="estatusCaducidad > 1" matPrefix color="warn">error</mat-icon>
                <mat-error *ngIf="formLote.get('fecha_caducidad').hasError('isValidDate')">La fecha no es valida</mat-error>
                <mat-error *ngIf="formLote.get('lote').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Código de Barras</mat-label>
                <input matInput formControlName="codigo_barras" (keydown.enter)="agregarLote()">
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Cantidad</mat-label>
                <input matInput formControlName="cantidad" (keydown.enter)="agregarLote()" type="number" required>
                <mat-error *ngIf="formLote.get('cantidad').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
        </div>
        <!--div fxFlex fxLayout="column" class="caducidad-insumo" *ngIf="insumo.tiene_fecha_caducidad && estatusCaducidad > 1">
            <div fxFlex [ngClass]="{'caducado':estatusCaducidad == 3, 'por-caducar': estatusCaducidad == 2}" >Lote {{(estatusCaducidad == 2)?'Por Caducar':'Caducado'}}</div>
        </div-->
        <div fxFlex fxLayout="row">
            <div fxFlex></div>
            <div fxFlex="none">
                <button mat-button (click)="cancelarLote()">Cancelar</button>
                <button mat-stroked-button color="primary" (click)="agregarLote()" [disabled]="!formLote.valid"><mat-icon>add_circle</mat-icon> {{(loteEditIndex >= 0)?'Modificar':'Agregar'}}</button>
            </div>
        </div>
    </section>
    <section fxFlex fxLayout="column">
        <div fxFlex="none" fxLayout="row" style="background-color: slategray; padding: 2px 2px 0px 2px;">
            <div fxFlex="none" style="
            padding: 5px;
            border: solid thin rgb(29, 32, 34);
            border-bottom: none;
            border-radius: 10px 10px 0px 0px;
            background-color: whitesmoke;">
                Lista de lotes
            </div>
            <div fxFlex></div>
            <div fxFlex="none" style="padding: 5px; color: whitesmoke; font-weight: 400;">Total de Lotes: {{listaLotes.length | number}}</div>
            <div fxFlex></div>
            <div fxFlex="none" style="padding: 5px; color: whitesmoke; font-weight: 400;">Total de Piezas: {{insumo.total_piezas | number}}</div>
            <div fxFlex></div>
            <mat-divider></mat-divider>
        </div>
        <div fxFlex style="overflow: auto; overflow-x:hidden; background-color: whitesmoke;"> <!-- fxLayout="row raw"  -->
            <mat-grid-list style="width: 100%;" cols="4" rowHeight="2:1">
                <mat-grid-tile class="outer-grid-tile" *ngFor="let item of listaLotes; let i = index" [ngClass]="{'selected': i==loteEditIndex}">
                    <mat-grid-list class="inner-grid" [ngClass]="{'caducado':item.estatusCaducidad == 3, 'por-caducar': item.estatusCaducidad == 2}" style="width: 100%;" cols="4" rowHeight="2:1">
                        <mat-grid-tile class="inner-grid-tile label">Lte:</mat-grid-tile>
                        <mat-grid-tile class="inner-grid-tile" [colspan]="2">{{item.lote}}</mat-grid-tile>
                        <mat-grid-tile class="inner-grid-tile" [rowspan]="2"><button mat-icon-button color="primary" (click)="editarLote(i)"><mat-icon>edit</mat-icon></button></mat-grid-tile>
                        <mat-grid-tile class="inner-grid-tile label">Cad:</mat-grid-tile>
                        <mat-grid-tile class="inner-grid-tile" [colspan]="2">{{item.fecha_caducidad}}</mat-grid-tile>
                        <mat-grid-tile class="inner-grid-tile label">Barr:</mat-grid-tile>
                        <mat-grid-tile class="inner-grid-tile" [colspan]="2">{{item.codigo_barras}}</mat-grid-tile>
                        <mat-grid-tile class="inner-grid-tile" [rowspan]="2"><button mat-icon-button color="warn" (click)="eliminarLote(i)"><mat-icon>delete</mat-icon></button></mat-grid-tile>
                        <mat-grid-tile class="inner-grid-tile label">Cant:</mat-grid-tile>
                        <mat-grid-tile class="inner-grid-tile" [colspan]="2">{{item.cantidad | number:'1.0-0'}}</mat-grid-tile>
                    </mat-grid-list>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </section>
    <section fxFlex="none">
        <div fxLayout="row">
            <div fxFlex></div>
            <div fxFlex="none">
                <button mat-button (click)="close()">Cancelar</button>&nbsp;
                <button mat-raised-button color="primary" (click)="aceptarLotes()"><mat-icon>playlist_add_check</mat-icon> Aplicar</button>
            </div>
        </div>
    </section>
</section>