<h1 mat-dialog-title>Dar de Baja al Empleado</h1>
<div mat-dialog-content>
    <div fxLayout="column" fxLayout.xs="column" [formGroup]="bajaForm">
        <!--div class="loading-shade" *ngIf="isLoading">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div-->

        <section fxFlex fxLayout="row" fxLayoutAlign="space-evenly start">
            <mat-form-field fxFlex="35">
                <mat-label>Tipo Baja</mat-label>
                <mat-select formControlName="tipo_baja_id" [class.button-spinner]="isLoading" required>
                    <mat-option *ngFor="let item of tiposBaja" [value]="item.id">
                        {{item.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="25" fxFlex.xs="100">
                <input matInput [matDatepicker]="fechaPicker" placeholder="Fecha de Baja"  formControlName="fecha" readonly required>
                <mat-datepicker-toggle matSuffix [for]="fechaPicker"></mat-datepicker-toggle>
                <mat-datepicker #fechaPicker disabled="false"></mat-datepicker>
                <mat-hint align="end">seleccionar fecha <mat-icon>keyboard_arrow_up</mat-icon>&nbsp;</mat-hint>
            </mat-form-field>
        </section>
        <section fxFlex fxLayout="row">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Observaciones</mat-label>
                <textarea matInput formControlName="observaciones"></textarea>
            </mat-form-field>
        </section>
    </div>
</div>
<div mat-dialog-actions>
    <span fxFlex></span>
    <button mat-button (click)='cancelar()'>Cancelar</button>
    <button mat-raised-button (click)="aceptar()" color="warn" [disabled]="isLoading || !bajaForm.valid"><mat-icon>check</mat-icon> Guardar</button>
</div>