<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding: 10px; min-height:340px; overflow: auto; flex: 1 1 0%;">
    <section fxFlex fxLayout="column" style="overflow: auto;" [formGroup]="cancelarForm">
        <div fxFlex="none" style="font-weight: 450; font-size: 20px; text-align: left;">
            Fecha de Cancelación:
        </div>
        <div fxFlex="none" class="fake-input">
            {{cancelarForm.get('fecha').value | date:'MMMM d, y':'GMT-6'}}
        </div>
        <div fxFlex="none" style="font-weight: 450; font-size: 20px; text-align: left;">
            Motivo:
        </div>
        <mat-form-field fxFlex appearance="outline">
            <textarea rows="6" cdkFocusInitial matInput #motivo maxlength="255" formControlName="motivo"></textarea>
            <mat-hint align="end">{{motivo.value.length}}/255</mat-hint>
        </mat-form-field>
    </section>
    <section fxFlex="none" fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="none"></div>
        <button fxFlex="none" mat-flat-button (click)="cerrar()">Cerrar</button>
        <button fxFlex mat-raised-button color="warn" (click)="aceptar()" [disabled]="!cancelarForm.valid">Cancelar Movimiento</button>
    </section>
</section>