<section fxLayout="column" style="height: 100%; overflow: hidden; flex: 1 1 0%;"> <!-- Main Body <<<<<<< -->
    <section fxFlex="none" class="salida-toolbar"> <!-- Toolbar Menu <<<<<<< -->
        <div fxLayout="row">
            <button fxFlex="none" mat-button [routerLink]="'/almacen/salidas'"><mat-icon>backspace</mat-icon> Volver</button>
            <button fxFlex="none" mat-button color="default" [matMenuTriggerFor]="menuMovimiento" aria-label="Menu de salida" *ngIf="estatusMovimiento != 'NV'">
                <mat-icon>settings</mat-icon> Opciones <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <button fxFlex="none" mat-button *ngIf="verBoton['guardar']" [matTooltip]="'Guardar'" [disabled]="isSaving || !formMovimiento.valid" (click)="guardarMovimiento()" [class.button-spinner]="isSaving">
                <mat-icon>save</mat-icon>
            </button>
            <button fxFlex="none" mat-button *ngIf="verBoton['concluir_modificacion']" [matTooltip]="'Concluir Modificación'" [disabled]="isSaving || !formMovimiento.valid" (click)="concluirModificacion()" [class.button-spinner]="isSaving">
                <mat-icon>all_inbox</mat-icon>
            </button>
            <div fxFlex>
            </div>
            <div fxFlex="none" *ngIf="datosMovimiento && datosMovimiento.folio" class="label-info">
                <span>{{datosMovimiento.folio}}</span>
            </div>
            <div fxFlex="none" fxLayout="column" (click)="verListadoUsuarios = !verListadoUsuarios" cdkOverlayOrigin style="cursor: help !important;" #verListaUsuarios="cdkOverlayOrigin">
                <div fxFlex fxLayout="row" class="estatus-movimiento {{listaEstatusClaves[estatusMovimiento]}}-color" *ngIf="estatusMovimiento">
                    <span fxFlex="none" style="padding-top:2px;"><mat-icon>{{listaEstatusIconos[estatusMovimiento]}}</mat-icon></span>
                    <span fxFlex="none" style="padding-top:5px;">{{listaEstatusLabels[estatusMovimiento]}}</span>
                </div>
            </div>
            <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="verListaUsuarios" [cdkConnectedOverlayOpen]="verListadoUsuarios" yPosition="below" xPosition="before" (overlayKeydown)="cerrarListaUsuarios($event)" (overlayOutsideClick)="verListadoUsuarios = false">
                <mat-card class="lista-usuarios-estatus">
                    <mat-list dense>
                        <mat-list-item class="usuario" *ngFor="let usuario of listadoEstatusUsuarios">
                          <div class="etiqueta" mat-line>{{usuario.etiqueta}} :</div>
                          <div class="datos" mat-line>{{usuario.nombre}} <span class="fecha">[ {{usuario.fecha | date:'MMMM d, y'}} ]</span></div>
                          <mat-divider [inset]="true"></mat-divider>
                        </mat-list-item>
                        <mat-list-item class="usuario" *ngIf="listadoEstatusUsuarios.length == 0">
                            <div class="datos" mat-line><span class="fecha">No hay registros de Usuarios</span></div>
                          </mat-list-item>
                    </mat-list>
                </mat-card>
            </ng-template>
        </div>
        <mat-progress-bar *ngIf="isLoading || isSaving" mode="indeterminate" [color]="(isSaving)?'accent':'primary'"></mat-progress-bar>
        <mat-menu #menuMovimiento="matMenu">
            <button mat-menu-item *ngIf="verBoton['concluir']" [disabled]="isSaving || !formMovimiento.valid" (click)="concluirMovimiento()">
                <mat-icon color="primary">all_inbox</mat-icon>
                <span>Concluir Salida</span>
            </button>

            <button mat-menu-item *ngIf="verBoton['duplicar']" [routerLink]="'/almacen/salidas/nueva'" [state]="{data:{movimiento_id:datosMovimiento.id}}">
                <mat-icon>content_copy</mat-icon>
                <span>Duplicar Salida</span>
            </button>

            <mat-divider *ngIf="verBoton['modificar_salida']"></mat-divider>
            <button mat-menu-item *ngIf="verBoton['modificar_salida']" (click)="activarModificacionSalida()">
                <mat-icon color="admin">admin_panel_settings</mat-icon>
                <span>Modificar Salida</span>
            </button>

            <mat-divider *ngIf="verBoton['eliminar']"></mat-divider>
            <button mat-menu-item style="color:red;" *ngIf="verBoton['eliminar']" (click)="eliminarSalida()">
                <mat-icon color="warn">delete</mat-icon>
                <span>Eliminar Salida</span>
            </button>
            <div [ifHasPermission]="'XwFSazUr0aCZcAYtcdjYkw69N9amlutP'">
                <mat-divider *ngIf="verBoton['cancelar']"></mat-divider>
                <button mat-menu-item style="color:red;" *ngIf="verBoton['cancelar']" (click)="cancelarSalida()">
                    <mat-icon color="warn">cancel</mat-icon>
                    <span>Cancelar Salida</span>
                </button>
            </div>

            <mat-divider></mat-divider>
            <button mat-menu-item (click)="generarPDF()">
                <mat-icon>print</mat-icon>
                <span>Imprimir</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="cargarNuevaSalida('/almacen/salidas/nueva')">
                <mat-icon>add_circle</mat-icon>
                <span>Nueva Salida</span>
            </button>
        </mat-menu>
    </section> <!-- <<<<<<< Toolbar Menu -->
    
    <section fxFlex="none">
        <alert-panel></alert-panel>
    </section>
    <!--section fxFlex="none" fxLayout="row" *ngIf="datosAlerta" class="banda-alerta {{datosAlerta.tipo_estatus}}">
        <div fxFlex="none" class="icono">
            <mat-icon>
                {{datosAlerta.icono}}
            </mat-icon>
        </div>
        <div fxFlex class="mensaje">
            {{datosAlerta.mensaje}}
        </div>
        <div fxFlex="none">
            <button mat-icon-button (click)="cerrarAlerta()"><mat-icon>clear</mat-icon></button>
        </div>
    </section-->

    <section fxFlex fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="position:relative; padding:10px; overflow: hidden;"> <!-- Module Body <<<<<<< -->
        <div class="data-loading-shade" *ngIf="isLoading || isSaving"></div>
        <section fxFlex="none" fxLayout="column">
            <mat-card fxFlex fxLayout="row raw"  fxLayoutGap="5px" [style.fontSize.px]="15" *ngIf="!puedeEditarDatosEncabezado && datosMovimiento" class="{{listaEstatusClaves[estatusMovimiento]}}-bg-color">
                <div fxFlex class="fake-input">
                    <span class="label">Fecha de Salida:</span>
                    <span class="value">{{datosMovimiento.fecha_movimiento | date:'MMMM d, y' }}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Almacen:</span>
                    <span class="value">{{datosMovimiento.almacen.nombre }}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Tipo de Salida:</span>
                    <span class="value">{{datosMovimiento.tipo_movimiento.descripcion }}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Turno:</span>
                    <span class="value">{{datosMovimiento.turno.nombre }}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Programa:</span>
                    <span class="value">{{(datosMovimiento.programa)?datosMovimiento.programa.descripcion:'---' }}</span>
                </div>
                <div fxFlex class="fake-input" *ngIf="datosMovimiento.es_colectivo">
                    <span class="label">&nbsp;</span>
                    <span class="value">Es Colectivo</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Folio-Documento:</span>
                    <span class="value">{{ datosMovimiento.documento_folio||'---' }}</span>
                </div>
                <div fxFlex class="fake-input" *ngIf="datosMovimiento.unidad_medica_movimiento">
                    <span class="label">Unidad Médica Destino:</span>
                    <span class="value">{{ datosMovimiento.unidad_medica_movimiento.nombre }}</span>
                </div>
                <div fxFlex class="fake-input" *ngIf="datosMovimiento.almacen_movimiento">
                    <span class="label">Almacén Destino:</span>
                    <span class="value">{{ datosMovimiento.almacen_movimiento.nombre }}</span>
                </div>
                <div fxFlex class="fake-input" *ngIf="datosMovimiento.area_servicio_movimiento">
                    <span class="label">Area/Servicio Destino:</span>
                    <span class="value">{{ datosMovimiento.area_servicio_movimiento.descripcion }}</span>
                </div>
                <div fxFlex class="fake-input" *ngIf="datosMovimiento.solicitud && datosMovimiento.solicitud.tipo_uso">
                    <span class="label">Tipo de Uso:</span>
                    <span class="value">{{ datosMovimiento.solicitud.tipo_uso.descripcion }}</span>
                </div>
                <div fxFlex class="fake-input" *ngIf="datosMovimiento.personal_medico">
                    <span class="label">Personal Médico:</span>
                    <span class="value">{{ datosMovimiento.personal_medico.nombre_completo }}</span>
                </div>
                <div fxFlex fxLayout="row" *ngIf="datosMovimiento.paciente">
                    <div fxFlex class="fake-input">
                        <span class="label">Folio Expediente:</span>
                        <span class="value">{{ datosMovimiento.paciente.expediente_clinico }}</span>
                    </div>
                    <div fxFlex class="fake-input">
                        <span class="label">Paciente:</span>
                        <span class="value">{{ datosMovimiento.paciente.nombre_completo }}</span>
                    </div>
                    <div fxFlex class="fake-input">
                        <span class="label">CURP:</span>
                        <span class="value">{{ datosMovimiento.paciente.curp }}</span>
                    </div>
                </div>
                
                <div fxFlex class="fake-input">
                    <span class="label">Observaciones:</span>
                    <span class="value">{{ datosMovimiento.observaciones||'---' }}</span>
                </div>
            </mat-card>
            <mat-card fxFlex fxLayout="row raw"  fxLayoutGap="5px" *ngIf="puedeEditarDatosEncabezado" [formGroup]="formMovimiento" [style.fontSize.px]="15">
                <mat-form-field fxFlex="none">
                    <mat-label>Fecha Salida</mat-label>
                    <input matInput formControlName="fecha_movimiento" [max]="maxFechaMovimiento" [matDatepicker]="picker" required readonly>
                    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint align="start"><mat-icon>arrow_upward</mat-icon>Click en icono para seleccionar</mat-hint>
                    <mat-error *ngIf="formMovimiento.get('fecha_movimiento').hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>Almacén</mat-label>
                    <mat-select formControlName="almacen_id" (selectionChange)="checarAlmacenSeleccionado()" required [disabled]="dataSourceArticulos && dataSourceArticulos.data.length > 0">
                        <mat-option *ngIf="catalogos['almacenes'].length == 0">Sin Almacenes</mat-option>
                        <mat-option *ngFor="let item of catalogos['almacenes']" [value]="item.id">
                            {{item.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>Tipo de Salida</mat-label>
                    <mat-select formControlName="tipo_movimiento_id" (selectionChange)="cambiarTipoSalida()" required>
                        <mat-option *ngIf="catalogos['tipos_movimiento'].length == 0" disabled>Sin Tipos de Movimiento</mat-option>
                        <mat-option *ngFor="let item of catalogos['tipos_movimiento']" [value]="item.id">
                            {{item.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>Turno</mat-label>
                    <mat-select formControlName="turno_id" required>
                        <mat-option *ngIf="catalogos['turnos'].length == 0">Sin Turnos Capturados</mat-option>
                        <mat-option *ngFor="let item of catalogos['turnos']" [value]="item.id">
                            {{item.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <mat-label>Programa</mat-label>
                    <input type="text" matInput aria-label="Programa" placeholder="Teclee para buscar un programa" formControlName="programa" (blur)="validarOpcionSeleccionada('programa','id','programa_id')" [matAutocomplete]="autoProgramas" autocomplete="off">
                    <button mat-icon-button matPrefix>
                        <mat-icon>list_alt</mat-icon>
                    </button>
                    <mat-error *ngIf="formMovimiento.get('programa').hasError('required')">Este campo es obligatorio</mat-error>
                    <mat-autocomplete autoActiveFirstOption #autoProgramas="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" panelWidth="auto">
                        <mat-option *ngIf="catalogos['programas'].length == 0" value="">No hay programas capturados</mat-option>
                        <mat-option *ngFor="let programa of filteredProgramas | async" [value]="programa">
                            {{programa.descripcion}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint *ngIf="formMovimiento.get('programa').value">
                        <mat-icon>{{(formMovimiento.get('programa').value.id)?'check_box':'indeterminate_check_box'}}</mat-icon>
                    </mat-hint>
                    <mat-hint align="end" *ngIf="formMovimiento.get('programa').value && formMovimiento.get('programa').value.id">
                        Programa Seleccionado
                    </mat-hint>
                    <mat-error *ngIf="formMovimiento.get('programa').hasError('notSelected')">Seleccionar un elemento de la lista</mat-error>
                </mat-form-field>

                <div class="mat-form-field" fxFlex="none" *ngIf="formMovimiento.get('es_colectivo')">
                    <mat-checkbox formControlName="es_colectivo" (change)="checarTieneSolicitud($event.checked)">
                        Es Colectivo
                    </mat-checkbox>
                </div>

                <mat-form-field fxFlex="none">
                    <mat-label>Folio - Documento</mat-label>
                    <input matInput formControlName="documento_folio" autocomplete="off" [required]="tieneSolicitud">
                    <mat-hint *ngIf="!tieneSolicitud">En caso de ser necesario</mat-hint>
                    <mat-error *ngIf="formMovimiento.get('documento_folio').hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="formMovimiento.get('solicitud_tipo_uso_id')">
                    <mat-label>Tipo de Uso</mat-label>
                    <mat-select formControlName="solicitud_tipo_uso_id" required>
                        <mat-option *ngIf="catalogos['recetas_tipos_uso'].length == 0">Sin TIpos Capturados</mat-option>
                        <mat-option *ngFor="let item of catalogos['recetas_tipos_uso']" [value]="item.id">
                            {{item.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="formMovimiento.get('unidad_medica_movimiento')">
                    <mat-label>Unidad Destino</mat-label>
                    <input type="text" matInput placeholder="Teclee para buscar una unidad" formControlName="unidad_medica_movimiento" (blur)="validarOpcionSeleccionada('unidad_medica_movimiento')" [matAutocomplete]="autoUnidadesMedicas" required  autocomplete="off">
                    <button mat-icon-button matPrefix>
                        <mat-icon>list_alt</mat-icon>
                    </button>
                    <mat-autocomplete autoActiveFirstOption #autoUnidadesMedicas="matAutocomplete" [displayWith]="getDisplayFn('nombre')" panelWidth="auto">
                        <mat-option *ngIf="catalogos['unidades_medicas'].length == 0" value="">No hay Unidades Medicas capturadas</mat-option>
                        <mat-option *ngFor="let unidad of filteredUnidades | async" [value]="unidad">
                            {{unidad.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint *ngIf="formMovimiento.get('unidad_medica_movimiento').value">
                        <mat-icon>{{(formMovimiento.get('unidad_medica_movimiento').value.id)?'check_box':'indeterminate_check_box'}}</mat-icon>
                    </mat-hint>
                    <mat-hint *ngIf="formMovimiento.get('unidad_medica_movimiento').value" align="end">[{{formMovimiento.get('unidad_medica_movimiento').value.clues}}]</mat-hint>
                    <mat-error *ngIf="formMovimiento.get('unidad_medica_movimiento').hasError('required')">Este campo es obligatorio</mat-error>
                    <mat-error *ngIf="formMovimiento.get('unidad_medica_movimiento').hasError('notSelected')">Seleccionar un elemento de la lista</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="formMovimiento.get('almacen_movimiento_id')">
                    <mat-label>Almacén Destino</mat-label>
                    <mat-select formControlName="almacen_movimiento_id" required>
                        <mat-option *ngIf="catalogos['almacenes_destino'].length == 0">Sin Almacenes</mat-option>
                        <mat-option *ngFor="let item of catalogos['almacenes_destino']" [value]="item.id" [disabled]="item.id == this.formMovimiento.get('almacen_id').value">
                            {{item.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="formMovimiento.get('area_servicio_movimiento')">
                    <mat-label>Area/Servicio Destino</mat-label>
                    <input type="text" matInput aria-label="Area-Servicio" placeholder="Teclee para buscar un area/servicio" formControlName="area_servicio_movimiento" (blur)="validarOpcionSeleccionada('area_servicio_movimiento')" [matAutocomplete]="autoAreasServicios" autocomplete="off" [required]="tipoSalida && tipoSalida.clave != 'RCTA'">
                    <button mat-icon-button matPrefix>
                        <mat-icon>list_alt</mat-icon>
                    </button>
                    <mat-autocomplete autoActiveFirstOption #autoAreasServicios="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" panelWidth="auto">
                        <mat-option *ngIf="catalogos['areas_servicios'].length == 0" value="">No hay Areas/Servicios asignados</mat-option>
                        <mat-option *ngFor="let area of filteredAreasServicios | async" [value]="area">
                            {{area.descripcion}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint *ngIf="formMovimiento.get('area_servicio_movimiento').value">
                        <mat-icon>{{(formMovimiento.get('area_servicio_movimiento').value.id)?'check_box':'indeterminate_check_box'}}</mat-icon>
                    </mat-hint>
                    <mat-hint align="end" *ngIf="formMovimiento.get('area_servicio_movimiento').value && formMovimiento.get('area_servicio_movimiento').value.id">
                        Area Seleccionada
                    </mat-hint>
                    <mat-error *ngIf="formMovimiento.get('area_servicio_movimiento').hasError('required')">Este campo es obligatorio</mat-error>
                    <mat-error *ngIf="formMovimiento.get('area_servicio_movimiento').hasError('notSelected')">Seleccionar un elemento de la lista</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="formMovimiento.get('personal_medico')">
                    <mat-label *ngIf="tipoSalida && tipoSalida.clave == 'RCTA'">Médico</mat-label>
                    <mat-label *ngIf="tipoSalida && tipoSalida.clave == 'PSNL'">Personal</mat-label>
                    <input type="text" matInput aria-label="Personal-Medico" placeholder="Buscar Médico" formControlName="personal_medico" (blur)="validarOpcionSeleccionada('personal_medico')" [matAutocomplete]="autoPersonalMedico" autocomplete="off" [required]="tipoSalida && tipoSalida.clave == 'PSNL'">
                    <button mat-icon-button matPrefix>
                        <mat-icon>list_alt</mat-icon>
                    </button>
                    <mat-autocomplete autoActiveFirstOption #autoPersonalMedico="matAutocomplete" [displayWith]="getDisplayFn('nombre_completo')" panelWidth="auto">
                        <mat-option *ngIf="catalogos['personal_medico'].length == 0" value="">No hay personal asignado</mat-option>
                        <mat-option *ngIf="(filteredPersonalMedico | async)?.length == 0" style="padding:0px;">
                            <button fxFill mat-button (click)="agregarPersonal()" style="height:48px;">
                                <mat-icon>add</mat-icon> Agregar Personal
                            </button>
                        </mat-option>
                        <mat-option *ngFor="let medico of filteredPersonalMedico | async" [value]="medico">
                            {{medico.nombre_completo}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint *ngIf="formMovimiento.get('personal_medico').value"><mat-icon>{{(formMovimiento.get('personal_medico').value.nombre_completo)?'check_box':'indeterminate_check_box'}}</mat-icon></mat-hint>
                    <mat-hint align="end" *ngIf="formMovimiento.get('personal_medico').value && formMovimiento.get('personal_medico').value.nombre_completo">
                        {{(formMovimiento.get('personal_medico').value.id)?'Personal Seleccionado':'Nuevo Personal'}}
                    </mat-hint>
                    <mat-error *ngIf="formMovimiento.get('personal_medico').hasError('required')">Este campo es obligatorio</mat-error>
                    <mat-error *ngIf="formMovimiento.get('personal_medico').hasError('notSelected')">Seleccionar una opción de la lista</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="none" *ngIf="formMovimiento.get('expediente_clinico')">
                    <mat-label>Folio Expediente</mat-label>
                    <input matInput formControlName="expediente_clinico" (blur)="buscarExpediente()" autocomplete="off">
                    <mat-error *ngIf="formMovimiento.get('expediente_clinico').hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="formMovimiento.get('paciente')" [floatLabel]="'always'">
                    <mat-label>Paciente</mat-label>
                    <input matInput formControlName="paciente" placeholder="{{datosPacienteEstatus}}" autocomplete="off" [readonly]="!habilitarDatosPaciente">
                    <button mat-icon-button matPrefix *ngIf="cargandoDatosPaciente" [class.button-spinner]="cargandoDatosPaciente" [disabled]="true"></button>
                    <mat-error *ngIf="formMovimiento.get('paciente').hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="formMovimiento.get('curp')" [floatLabel]="'always'">
                    <mat-label>CURP</mat-label>
                    <input matInput formControlName="curp" placeholder="{{datosPacienteEstatus}}" autocomplete="off" [readonly]="!habilitarDatosPaciente">
                    <mat-error *ngIf="formMovimiento.get('curp').hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <!--mat-form-field fxFlex="none">
                    <mat-label>Fecha de Referencia</mat-label>
                    <input matInput formControlName="referencia_fecha" [max]="maxFechaMovimiento" [matDatepicker]="pickerReferencia" readonly>
                    <mat-datepicker-toggle matPrefix [for]="pickerReferencia"></mat-datepicker-toggle>
                    <mat-datepicker #pickerReferencia startView="year"></mat-datepicker>
                    <mat-hint align="start"><mat-icon>arrow_upward</mat-icon>Click en icono para seleccionar</mat-hint>
                </mat-form-field-->

                <mat-form-field fxFlex>
                    <mat-label>Observaciones</mat-label>
                    <textarea matInput formControlName="observaciones" rows="1"></textarea>
                </mat-form-field>
            </mat-card>
        </section>

        <section fxFlex fxLayout="row" fxLayoutGap="10px">
            <section fxFlex="25" fxLayout="column">
                <mat-card fxFlex="none" fxLayout="column" *ngIf="verBoton['agregar_articulos']" style="padding:0px; margin-bottom: 5px;">
                    <widget-buscador-articulos fxFlex="none" 
                            [buscarStock]="true" 
                            [almacenId]="formMovimiento.get('almacen_id').value" 
                            [programaId]="(formMovimiento.get('programa').value)?formMovimiento.get('programa').value.id:0"
                            (articuloSeleccionado)="agregarArticulo($event)">
                    </widget-buscador-articulos>
                </mat-card>
                <mat-card fxFlex="none" fxLayout="column" *ngIf="movimientoHijo" class="datos-movimiento-hijo">
                    <div fxFlex="none">
                        <div fxFlex fxLayout="row" class="estatus-movimiento {{listaEstatusClaves[movimientoHijo.estatus]}}-color">
                            <span fxFlex="none" style="padding-top:2px;"><mat-icon>{{listaEstatusIconos[movimientoHijo.estatus]}}</mat-icon></span>
                            <span fxFlex="none" style="padding-top:5px;">{{listaEstatusLabels[movimientoHijo.estatus]}}</span>
                        </div>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div fxFlex="none" class="folio">
                        <span>{{(movimientoHijo.folio)?movimientoHijo.folio:'Sin Folio'}}</span>
                    </div>
                    <div fxFlex="none">
                        <span class="etiqueta">Tipo de Movimiento:</span> <span>{{ movimientoHijo.tipo_movimiento.descripcion }}</span>
                    </div>
                    <div fxFlex="none">
                        <span class="etiqueta">Total de Claves:</span> <span>{{ movimientoHijo.total_claves | number:'1.0-0'}}</span>
                    </div>
                    <div fxFlex="none">
                        <span class="etiqueta">Total de Articulos:</span> <span>{{ movimientoHijo.total_articulos | number:'1.0-0'}}</span>
                    </div>
                    <div fxFlex="none">
                        <span class="etiqueta">Concluido Por:</span> <span>{{(movimientoHijo.concluido_por)?movimientoHijo.concluido_por.name:'En Proceso'}}</span>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div fxFlex="none" class="fecha">
                        <span>{{ movimientoHijo.updated_at | date:'d MMM, y' }}</span>
                    </div>
                </mat-card>
                <mat-card fxFlex="none" fxLayout="column" *ngIf="movimientoSolicitud" class="datos-movimiento-solicitud">
                    <div fxFlex="none">
                        <div fxFlex class="solicitud-tipo {{listaEstatusClaves[movimientoSolicitud.estatus]}}-color">
                            {{movimientoSolicitud.tipo_solicitud.descripcion}}
                        </div>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div fxFlex="none" class="folio">
                        <span>{{ movimientoSolicitud.folio }}</span>
                    </div>
                    <div fxFlex="none" class="tipo-uso" *ngIf="movimientoSolicitud.tipo_uso">
                        <span>{{ movimientoSolicitud.tipo_uso.descripcion }}</span>
                    </div>
                    <div fxFlex="none" fxLayout="row" class="demi-table">
                        <div fxFlex="none" fxLayout="column" class="demi-rows-labels">
                            <div fxFlex>&nbsp;</div>
                            <div fxFlex>Claves</div>
                            <div fxFlex>Articulos</div>
                        </div>
                        <div fxFlex fxLayout="column">
                            <div fxFlex class="demi-column-label">Solicitados / Surtidos</div>
                            <div fxFlex class="demi-column-data">{{movimientoSolicitud.total_claves_solicitadas | number:'1.0-0'}} / {{movimientoSolicitud.total_claves_surtidas | number:'1.0-0'}}</div>
                            <div fxFlex class="demi-column-data">{{movimientoSolicitud.total_articulos_solicitados | number:'1.0-0'}} / {{movimientoSolicitud.total_articulos_surtidos | number:'1.0-0'}}</div>
                        </div>
                        <div fxFlex fxLayout="column">
                            <div fxFlex class="demi-column-label">%</div>
                            <div fxFlex class="demi-column-data">{{ +movimientoSolicitud.porcentaje_claves_surtidas | number:'1.0-2'}} %</div>
                            <div fxFlex class="demi-column-data">{{ +movimientoSolicitud.porcentaje_articulos_surtidos | number:'1.0-2'}} %</div>
                        </div>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div fxFlex="none" class="fecha">
                        <span>{{ movimientoSolicitud.updated_at | date:'MMMM d, y' }}</span>
                    </div>
                </mat-card>
                <mat-card fxFlex fxLayout="column" style="overflow: auto;">
                    <div fxFlex="none" fxLayout="column">
                        <mat-list role="list" dense *ngIf="totalesSalida">
                            <mat-divider></mat-divider>
                            <h3 matSubheader>Totales</h3>
                            <mat-divider></mat-divider>
                            <mat-list-item role="listitem">
                                Claves: {{ totalesSalida.claves | number }}
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                Articulos: {{ totalesSalida.articulos | number}}
                            </mat-list-item>
                            <ng-template *ngIf="totalesSalida.por_caducar.claves > 0">
                                <mat-divider></mat-divider>
                                <h3 matSubheader>Por Caducar</h3>
                                <mat-divider></mat-divider>
                                <mat-list-item role="listitem">
                                    Claves: {{ totalesSalida.por_caducar.claves | number }}
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                    Articulos: {{ totalesSalida.por_caducar.articulos | number}}
                                </mat-list-item>
                            </ng-template>
                            <ng-template *ngIf="totalesSalida.caducados.claves > 0">
                                <mat-divider></mat-divider>
                                <h3 matSubheader>Caducados</h3>
                                <mat-divider></mat-divider>
                                <mat-list-item role="listitem">
                                    Claves: {{ totalesSalida.caducados.claves | number }}
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                    Articulos: {{ totalesSalida.caducados.articulos | number}}
                                </mat-list-item>
                            </ng-template>
                        </mat-list>
                    </div>
                    <div fxFlex fxLayout="column">
                    </div>
                </mat-card>
            </section>
            <section fxFlex fxLayout="column">
                <mat-card fxFlex="100" fxLayout="column">
                    <div fxFlex="none" fxLayout="row" style="padding-top:4px;">
                        <div fxFlex class="small-search-input">
                            <mat-form-field fxFlex appearance="outline">
                                <input matInput [(ngModel)]="filtroArticulos" (keyup)="aplicarFiltroArticulos($event)" placeholder="Filtrar">
                            </mat-form-field>
                        </div>
                        <div fxFlex="none">
                            <button mat-stroked-button (click)="limpiarFiltroArticulos()" [disabled]="!filtroAplicado">
                                <mat-icon>filter_alt_off</mat-icon>
                            </button>
                        </div>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div fxFlex style="overflow: auto;">
                        <table mat-table [dataSource]="dataSourceArticulos" class="data-table" matSort multiTemplateDataRows>
                            
                            <ng-container matColumnDef="estatus" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="1"> Estatus </th>
                                <td mat-cell *matCellDef="let row" style="text-align: center;">
                                    <mat-icon class="estatus-articulo-{{estatusArticulosColores[row.estatus]}}">{{estatusArticulosIconos[row.estatus]}}</mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="clave">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="1"> Clave </th>
                                <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px;">
                                    {{row.clave}}
                                </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="nombre" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true"> Nombre </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true"> {{row.nombre}} </td>
                            </ng-container>

                            <ng-container matColumnDef="modo_salida">
                                <th mat-header-cell *matHeaderCellDef width="1"></th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true"> 
                                    <mat-icon [matTooltip]="(row.surtir_en_unidades)?'Unidades':'Normal'">{{(row.surtir_en_unidades)?'workspaces':'group_work'}}</mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="existencias" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true" width="1" style="text-align: center; white-space: nowrap;"> Existencias </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true" width="1" style="white-space: nowrap; text-align: center;"> 
                                    {{row.existencias | number:'1.0-0'}} <span class="extras" *ngIf="row.existencias_extras > 0">(+{{row.existencias_extras | number}})</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="no_lotes" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true" width="1" style="text-align: center; white-space: nowrap;"> # Lotes </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true" width="1" style="white-space: nowrap; text-align: center;"> {{row.no_lotes | number:'1.0-0'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="cantidad_solicitado" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="1" style="text-align: center; white-space: nowrap;"> Solicitado </th>
                                <td mat-cell *matCellDef="let row" width="1" style="white-space: nowrap; text-align: center;"> {{((row.cantidad_solicitado)?row.cantidad_solicitado:0) | number:'1.0-0'}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="total_piezas" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="1" style="text-align: center; white-space: nowrap;"> Cantidad </th>
                                <td mat-cell *matCellDef="let row" width="1" style="white-space: nowrap; text-align: center;"> {{row.total_piezas | number:'1.0-0'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="cantidad_sin_surtir" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="1" style="text-align: center; white-space: nowrap;"> Sin Surtir </th>
                                <td mat-cell *matCellDef="let row" width="1" style="white-space: nowrap; text-align: center;"> {{((row.cantidad_solicitado)?row.cantidad_solicitado:0) - row.total_piezas | number:'1.0-0'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="existencias_restantes" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="1" style="text-align: center; white-space: nowrap;"> Restante </th>
                                <td mat-cell *matCellDef="let row" width="1" style="white-space: nowrap; text-align: center;"> {{row.existencias_restantes | number:'1.0-0'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell width="1" *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let row; let i = index" width="1" style="white-space: nowrap;">
                                    <mat-icon>{{(idArticuloSeleccionado == row.id)?'expand_less':'expand_more'}}</mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="expandedDetail">
                                <td mat-cell *matCellDef="let articulo" [attr.colspan]="displayedColumns.length">
                                    <div class="articulo-detalle-listado-lotes" [@detailExpand]="articulo.id == idArticuloSeleccionado ? 'expanded' : 'collapsed'">
                                    <div class="articulo-listado-lotes">
                                        <div fxLayout="column">
                                            <div fxFlex="none">
                                                {{articulo.descripcion}}
                                            </div>
                                            <div fxFlex="none" fxLayout="row">
                                                <mat-icon fxFlex="none" matTooltip="En Catalogo" *ngIf="articulo.en_catalogo">fact_check</mat-icon>
                                                <mat-icon fxFlex="none" matTooltip="Normativo" *ngIf="articulo.normativo">gpp_good</mat-icon>
                                                <mat-icon fxFlex="none" matTooltip="Descontinuado" *ngIf="articulo.descontinuado">error</mat-icon>
                                                <div fxFlex></div>
                                                <button fxFlex="none" class="medium-button" color="warn" mat-button (click)="quitarArticulo(articulo)" *ngIf="puedeEditarListaArticulos">
                                                    <mat-icon>delete</mat-icon> Quitar Articulo
                                                </button>
                                            </div>
                                        </div>
                                        <inner-articulo-lista-lotes     [articulo]="articulo" 
                                                                        [tipoSalida]="tipoSalida"
                                                                        [puedeSurtirUnidades]="puedeSurtirUnidades"
                                                                        [edicionActiva]="puedeEditarListaArticulos" 
                                                                        [fechaMovimiento]="formMovimiento.get('fecha_movimiento').value"
                                                                        [tieneSolicitud]="tieneSolicitud"
                                                                        (cambiosEnLotes)="aplicarCambios($event)">
                                        </inner-articulo-lista-lotes>
                                    </div>
                                    </div>
                                </td>
                            </ng-container>
        
                            <ng-container matColumnDef="noResultsFound">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length"> No se encontraron articulos </td>
                            </ng-container>
                            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row class="tabla-row-articulo" *matRowDef="let row; let i = index; columns: displayedColumns;" 
                                (click)="expandirRow(row)" [class.tabla-row-articulo-expandido]="idArticuloSeleccionado === row.id" >
                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="tabla-row-articulo-detalle"></tr>
        
                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide': dataSourceArticulos && dataSourceArticulos.filteredData.length > 0}"></tr>
                        </table>
                    </div>
                    <div fxFlex="none" fxLayout="row">
                        <div fxFlex="none" style="padding-top: 10px;">
                        </div>
                        <div fxFlex>
                            <mat-paginator [pageSize]="pageSize" [pageIndex]="currentPage" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </mat-card>
            </section>
        </section>
    </section> <!-- <<<<<<< Module Body -->
</section> <!-- <<<<<<< Main Body -->