<mat-drawer-container class="example-container" style="height: 100%; overflow: auto; flex: 1 1 0%;">
    <mat-drawer #insumosDrawer [mode]="'side'" style="min-width: 390px;">
        <mat-card fxFlex="100" fxLayout="column">
            <div class="data-loading-shade" *ngIf="isLoadingInsumos"><mat-spinner></mat-spinner></div>
            <div fxFlex fxLayout="column">
                <section fxFlex="none">
                    <div fxLayout="column">
                        <div fxFlex fxLayout="row wrap">
                            <mat-form-field fxFill appearance="outline">
                                <mat-label>Buscar</mat-label>
                                <input #busquedaInsumoQuery matInput [(ngModel)]="insumoQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applySearch()" placeholder="Buscar">
                                <button matSuffix *ngIf="insumoQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-hint>
                                    <!--mat-radio-group [(ngModel)]="busquedaTipoInsumo" aria-label="Select an option">
                                        <mat-radio-button color="primary" value="*">Todos</mat-radio-button>
                                        <mat-radio-button value="MED">Meds</mat-radio-button>
                                        <mat-radio-button value="MTC">Mat Curación</mat-radio-button>
                                    </mat-radio-group-->
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <button fxFlex mat-raised-button color="accent" (click)="applySearch()" [disabled]="isLoadingInsumos">
                            <mat-icon>search</mat-icon> Buscar {{(tipoDeElementoPedido)?tipoDeElementoPedido.descripcion:''}}
                        </button>
                    </div>
                </section>
                <mat-divider [inset]="true"></mat-divider>
                <section fxFlex style="overflow: hidden;">
                    <cdk-virtual-scroll-viewport itemSize="222" style="overflow: auto; height: 100%;">
                        <div *cdkVirtualFor="let insumo of listadoInsumos;">
                            <div class="lista-insumos-item" [ngClass]="{'selected': insumo.id==idInsumoSeleccionado}">
                                <div class="lista-insumos-item-etiqueta" [ngClass]="{'medicamento-bg-color': insumo.tipo_insumo=='MED','mat-curacion-bg-color': insumo.tipo_insumo=='MTC'}">
                                    <div class="lista-insumos-item-etiqueta-icono"><img src="{{(insumo.tipo_insumo=='MED')?iconoMedicamento:iconoMatCuracion}}" alt="Icon"></div>
                                    <div class="lista-insumos-item-etiqueta-texto">{{insumo.clave}}</div>
                                </div>
                                <div class="lista-insumos-item-contenido">
                                    <div class="lista-insumos-item-cabecera">
                                        <div class="lista-insumos-item-cabecera-titulo">{{insumo.nombre_generico}}</div>
                                        <div class="lista-insumos-item-cabecera-subtitulo">{{insumo.descripcion}}</div>
                                    </div>
                                </div>
                                <div class="lista-insumo-item-acciones" fxLayout="row">
                                    <div fxFlex style="padding: 8px 0px;">
                                        Existencias: 0
                                    </div>
                                    <button fxFlex="none" mat-flat-button (click)="agregarInsumo(insumo)">
                                        <mat-icon>{{(controlInsumosAgregados[insumo.id])?'edit':'add'}}</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <mat-divider [inset]="true"></mat-divider>
                        </div>
                    </cdk-virtual-scroll-viewport>
                </section>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div fxFlex="none" fxLayout="row" style="padding-top:5px;">
                <div fxFlex="none">
                    <button mat-raised-button (click)="cerrarBuscadorInsumos()"><mat-icon>chevron_left</mat-icon> Cerrar</button>
                </div>
                <div fxFlex></div>
                <div fxFlex="none">
                    <mat-hint>Resultados: {{listadoInsumos.length | number}}</mat-hint>
                </div>
            </div>
        </mat-card>
    </mat-drawer>
    <mat-drawer-content>
        <div class="data-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
        <section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
            <section fxFlex fxLayout="row" fxLayoutGap="10px">
                <section fxFlex="30" fxLayout="row" *ngIf="!insumosDrawer.opened">
                    <mat-card fxFlex="100" fxLayout="column">
                        <div fxFlex fxLayout="column" *ngIf="!mostrarPedidosInternos"> <!-- Panel principal del pedido -->
                            <div fxFlex="none" fxLayout="row">
                                <button fxFlex="none" [routerLink]="'/pedidos/pedidos-ordinarios'" mat-button><mat-icon>backspace</mat-icon></button>
                                <div fxFlex></div>
                                <button fxFlex="none" *ngIf="verBoton['generar_folio']" mat-raised-button color="primary" matTooltip="Generar Folio" (click)="generarFolio()" [disabled]="!formPedido.valid"><mat-icon>source</mat-icon></button>
                                <button fxFlex="none" *ngIf="verBoton['concluir']" mat-raised-button color="primary" matTooltip="Concluir Captura" (click)="concluirPedido()" [disabled]="!formPedido.valid"><mat-icon>all_inbox</mat-icon></button>
                                &nbsp;
                                <button fxFlex="none" *ngIf="verBoton['guardar']" mat-raised-button color="success" matTooltip="Guardar" (click)="guardarPedido()" [disabled]="!formPedido.valid"><mat-icon>save</mat-icon></button>
                            </div>
                            <div fxFlex="none" fxLayout="column">
                                <div fxFlex class="estatus-pedido {{listaEstatusClaves[estatusPedido]}}-color">
                                    {{(estatusFolio)?estatusFolio:listaEstatusLabels[estatusPedido]}}
                                </div>
                            </div>
                            <div fxFlex="none" fxLayout="column">
                                <div fxFlex class="label-unidad-entrega">
                                    Tipo de Pedido:
                                </div>
                                <div fxFlex class="unidad-entrega">
                                    {{(tipoDeElementoPedido)?tipoDeElementoPedido.descripcion:'Sin Tipo'}}
                                </div>
                            </div>
                            <div fxFlex="none" fxLayout="column" *ngIf="unidadMedicaEntrega" style="padding: 5px 0px;">
                                <div fxFlex class="label-unidad-entrega">
                                    Entregar en:
                                </div>
                                <div fxFlex class="unidad-entrega">
                                    {{unidadMedicaEntrega.nombre}}
                                </div>
                            </div>
                            <div fxFlex="none" fxLayout="row raw" [formGroup]="formPedido">
                                <mat-form-field fxFlex="100">
                                    <mat-label>Descripcion del Pedido</mat-label>
                                    <input matInput formControlName="descripcion" required [readonly]="!editable">
                                    <mat-error *ngIf="formPedido.get('descripcion').hasError('required')">Descripción es obligatorio</mat-error>
                                </mat-form-field>
            
                                <mat-form-field fxFlex="50">
                                    <mat-label>Mes</mat-label>
                                    <input matInput formControlName="mes_value" readonly *ngIf="!editable">
                                    <mat-select  formControlName="mes" required *ngIf="editable">
                                        <mat-option *ngFor="let item of catalogos['meses']" [value]="item.clave">
                                            {{item.etiqueta}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formPedido.get('mes').hasError('required')">Mes es obligatorio</mat-error>
                                </mat-form-field>
            
                                <mat-form-field fxFlex="50">
                                    <mat-label>Año</mat-label>
                                    <input matInput formControlName="anio" required [readonly]="!editable">
                                    <mat-error *ngIf="formPedido.get('anio').hasError('required')">Año es obligatorio</mat-error>
                                </mat-form-field>
                                
                                <mat-form-field fxFlex="100">
                                    <mat-label>Programa</mat-label>
                                    <input matInput formControlName="programa_value" readonly *ngIf="!editable">
                                    <mat-select formControlName="programa_id" *ngIf="editable">
                                        <mat-option *ngIf="catalogos['programas'].length == 0">Sin Programas</mat-option>
                                        <mat-option *ngFor="let item of catalogos['programas']" [value]="item.id">
                                            {{item.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                
                                <mat-form-field  fxFlex="100">
                                    <mat-label>Observaciones</mat-label>
                                    <textarea matInput formControlName="observaciones" rows="2" [readonly]="!editable"></textarea>
                                </mat-form-field>
                            </div>
                            <div fxFlex></div>
                            <div fxFlex="none" fxLayout="row">
                                <button fxFlex *ngIf="verBoton['agregar_unidad']" mat-flat-button color="info" (click)="seleccionarUnidades()" [matBadge]="unidadesSeleccionadas.length" [matBadgeHidden]="unidadesSeleccionadas.length == 0" matBadgeColor="accent">
                                    <mat-icon>house</mat-icon> Unidades en el Pedido
                                </button>
                            </div>
                            <div fxFlex="none" fxLayout="row" style="padding-top:5px;">
                                <button fxFlex mat-stroked-button (click)="verPedidosInternos()" [disabled]="unidadesSeleccionadas.length == 0">
                                    <mat-icon>home_work</mat-icon> Cuadro de Distribución
                                </button>
                            </div>
                        </div>
                        <div fxFlex fxLayout="column" *ngIf="mostrarPedidosInternos">
                            <div fxFlex="none">
                                <div class="small-search-input">
                                    <mat-form-field appearance="outline">
                                        <input matInput [(ngModel)]="filtroUnidadesSeleccionadas" (keyup)="aplicarFiltroUnidadesSeleccionadas()" placeholder="Filtrar">
                                    </mat-form-field>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                            <div fxFlex>
                                <cdk-virtual-scroll-viewport itemSize="80" style="overflow: auto; height: 100%;">
                                    <div *ngIf="listaFiltroUnidadesSeleccionadas.length == 0" class="no-items-found">
                                        No se encontraron resultados
                                    </div>
                                    <div *cdkVirtualFor="let unidad of listaFiltroUnidadesSeleccionadas;" [ngClass]="{'unidad-seleccionada':pedidoInternoSeleccionado == unidad.id, 'seleccionable':unidadesConInsumos[unidad.id]}" class="unidad-medica-item">
                                        <div fxLayout="row" style="padding-left:5px; height: 100%; overflow: hidden; flex: 1 1 0%;">
                                            <div fxFlex fxLayout="column" class="datos-unidad" (click)="mostrarInsumosPedidoInterno(unidad)">
                                                <div fxFlex="none" class="titulo">
                                                    CLUES: {{unidad.clues}}
                                                </div>
                                                <div fxFlex class="descripcion">
                                                    {{unidad.nombre}}
                                                </div>
                                                <div fxFlex="none" class="detalles">
                                                    Total Claves: {{((unidadesConInsumos[unidad.id])?unidadesConInsumos[unidad.id]:0) | number:'1.0-0' }}
                                                </div>
                                            </div>
                                            <div fxFlex="none" fxLayout="column" fxLayoutAlign="center center">
                                                <div fxFlex="none" *ngIf="pedidoInternoSeleccionado == unidad.id">
                                                    <button mat-icon-button (click)="ocultarInsumosPedidoInterno()">
                                                        <mat-icon>close</mat-icon>
                                                    </button>
                                                </div>
                                                <div fxFlex="none" *ngIf="pedidoInternoSeleccionado == unidad.id">
                                                    <button mat-icon-button [matMenuTriggerFor]="menuPedidoInterno">
                                                        <mat-icon>more_vert</mat-icon>
                                                    </button>
                                                </div>
                                                <div fxFlex></div>
                                            </div>
                                        </div>
                                    </div>
                                </cdk-virtual-scroll-viewport>
                                <mat-divider></mat-divider>
                                <mat-menu #menuPedidoInterno="matMenu">
                                    <button mat-menu-item disabled>
                                        <mat-icon svgIcon="pdf-icon" ></mat-icon>
                                        <span>Descargar en PDF</span>
                                    </button>
                                    <button mat-menu-item disabled>
                                        <mat-icon svgIcon="xls-icon" ></mat-icon>
                                        <span>Descargar en Excel</span>
                                    </button>
                                </mat-menu>
                            </div>
                            <div fxFlex="none" fxLayout="row" style="padding-top:5px;">
                                <div fxFlex="none">
                                    <button mat-flat-button (click)="cerrarPedidosInternos()"><mat-icon>close</mat-icon> Cerrar</button>
                                </div>
                                <div fxFlex></div>
                                <div fxFlex="none">
                                    <mat-hint>{{listaFiltroUnidadesSeleccionadas.length | number}} Unidades</mat-hint>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </section>
                <section fxFlex fxLayout="column">
                    <mat-card fxFlex="100" fxLayout="column">
                        <div fxFlex="none" fxLayout="row">
                            <div fxFlex="none">
                                <button *ngIf="verBoton['agregar_insumo']" mat-flat-button color="accent" (click)="abrirBuscadorInsumos()" [disabled]="insumosDrawer.opened"><mat-icon>add</mat-icon> Agregar Elemento</button>
                            </div>
                            <div fxFlex></div>
                            <div fxFlex="none">
                                <mat-chip-list aria-label="Pedido Interno">
                                    <mat-chip color="primary" selected [disableRipple]="true">
                                        Total: {{ (filtroAplicado && filtroInsumos)?(clavesTotalesFiltro.insumos | number)+'/':'' }}{{clavesTotales.insumos | number}} Claves
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                        </div>
                        <div fxFlex="none" fxLayout="row" style="padding-top:4px;">
                            <div fxFlex class="small-search-input">
                                <mat-form-field fxFlex appearance="outline">
                                    <input matInput [(ngModel)]="filtroInsumos" (keyup.enter)="aplicarFiltroInsumos()" placeholder="Filtrar">
                                    <button *ngIf="filtroAplicado" mat-icon-button matSuffix (click)="limpiarFiltroInsumos()" [attr.aria-label]="'Limpiar Filtro'" [attr.aria-pressed]="filtroAplicado">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div fxFlex="none">
                                <button mat-flat-button color="info" (click)="aplicarFiltroInsumos()">
                                    <mat-icon>filter_alt</mat-icon> Filtrar
                                </button>
                                <!--mat-button-toggle-group [(ngModel)]="filtroTipoInsumos" appearance="legacy" aria-label="Filtro Tipo Insumo" class="filtro-tipo-insumo" (change)="aplicarFiltroInsumos()">
                                    <mat-button-toggle [checked]="true" value="*">Insumos: {{ (filtroAplicado && filtroInsumos)?(clavesTotalesFiltro.insumos | number)+'/':'' }}{{clavesTotales.insumos | number}}</mat-button-toggle>
                                    <mat-button-toggle class="medicamento-color" value="MED"><img class="icono-tipo-insumo" src="{{iconoMedicamento}}" alt="Icon"> MED: {{ (filtroAplicado && filtroInsumos)?(clavesTotalesFiltro.medicamentos | number)+'/':'' }}{{clavesTotales.medicamentos | number}}</mat-button-toggle>
                                    <mat-button-toggle class="mat-curacion-color" value="MTC"><img class="icono-tipo-insumo" src="{{iconoMatCuracion}}" alt="Icon"> MTC: {{ (filtroAplicado && filtroInsumos)?(clavesTotalesFiltro.mat_curacion | number)+'/':'' }}{{clavesTotales.mat_curacion | number}}</mat-button-toggle>
                                </mat-button-toggle-group-->
                            </div>
                        </div>
                        <mat-divider [inset]="true"></mat-divider>
                        <div fxFlex style="overflow: auto;" *ngIf="!mostrarTarjetas">
                            <table #dataTable mat-table [dataSource]="filtroInsumosPedido" class="data-table" matSort>
                                
                                <ng-container matColumnDef="clave">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header width="1"> Clave </th>
                                    <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px;">{{(controlInsumosModificados[row.id])?controlInsumosModificados[row.id]:''}} {{row.clave}} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="nombre" >
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true"> Nombre </th>
                                    <td mat-cell *matCellDef="let row" fxHide.xs="true"> {{row.nombre_generico}} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="cantidad" >
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true" style="white-space: nowrap;"> Cantidad </th>
                                    <td mat-cell *matCellDef="let row" fxHide.xs="true" width="1" style="white-space: nowrap; text-align: center;"> {{row.cantidad | number:'1.0-0'}} </td>
                                </ng-container>
            
                                <ng-container matColumnDef="monto" >
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true" width="1" style="white-space: nowrap;"> Monto </th>
                                    <td mat-cell *matCellDef="let row" fxHide.xs="true" style="white-space: nowrap;">$ {{row.monto | number:'1.2-2'}} </td>
                                </ng-container>
            
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell width="1" *matHeaderCellDef>Acciones</th>
                                    <td mat-cell *matCellDef="let row; let i = index" width="1" style="white-space: nowrap;">
                                        <button *ngIf="estatusPedido == 'BOR'" mat-icon-button (click)="agregarInsumo(row)"><mat-icon>edit</mat-icon></button>
                                        <button *ngIf="estatusPedido == 'BOR'" mat-icon-button (click)="quitarInsumo(row)" color="warn"><mat-icon>delete</mat-icon></button>
                                    </td>
                                </ng-container>
            
                                <ng-container matColumnDef="noResultsFound">
                                    <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                        No se encontraron insumos 
                                    </td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row [ngClass]="{'selected-item': row.id==idInsumoSeleccionado, 'medicamento-row-color':row.tipo_insumo == 'MED', 'mat-curacion-row-color':row.tipo_insumo == 'MTC'}" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
            
                                <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(filtroInsumosPedido!=null && filtroInsumosPedido.length==0)}"></tr>
                            </table>
                        </div>
                        <div fxFlex style="overflow: auto; background-color: whitesmoke;" *ngIf="mostrarTarjetas">
                            <mat-grid-list cols="3" rowHeight="165">
                                <mat-grid-tile class="insumo-lotes-tile" *ngFor="let insumo of filtroInsumosPedido; index as i;" [ngClass]="{'medicamento-bg-color':insumo.tipo_insumo=='MED','mat-curacion-bg-color':insumo.tipo_insumo=='MTC'}">
                                    <div fxFill fxLayout="column">
                                        <div fxFlex="none" style="padding:8px; color:whitesmoke; text-align: center;">
                                            {{insumo.clave}}
                                        </div>
                                        <div fxFlex style="margin: 0px 8px ; background-color:whitesmoke;"><p>{{insumo.nombre_generico}}</p></div>
                                        <div fxFlex="none" fxLayout="row" style="padding: 5px;">
                                            <!--div fxFlex="none">
                                                <button mat-raised-button (click)="eliminarInsumo(i)" color="warn" style="padding: 0px 8px; min-width: 0px;"><mat-icon>delete</mat-icon></button>
                                            </div-->
                                            <div fxFlex style="text-align: center; color:whitesmoke;">Cantidad:<br> {{ insumo.cantidad | number:'1.0-0' }}</div>
                                            <div fxFlex style="text-align: center; color:whitesmoke;">Monto:<br> ${{ insumo.monto | number:'1.2-2' }}</div>
                                            <div fxFlex="none">
                                                <button mat-icon-button (click)="agregarInsumo(insumo)" style="padding: 0px 8px; min-width: 0px;">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <div fxFlex="none" fxLayout="row">
                            <div fxFlex="none" style="padding-top: 10px;">
                            </div>
                            <!-- Puede haber algo -->
                            <div fxFlex>
                                <mat-paginator #insumosPaginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[9, 18, 27, 36]" showFirstLastButtons (page)="pageEvent = cargarPaginaInsumos($event)"></mat-paginator>
                            </div>
                        </div>
                    </mat-card>
                </section>
            </section>
        </section>

    </mat-drawer-content>
</mat-drawer-container>
