<div style="height: 100%; overflow: auto; flex: 1 1 0%; background-color: white;" fxLayout="row">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [(opened)]="openedSidenav" [disableClose]="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="side-nav-filters">
            <div fxFlex fxLayout="column" *ngIf="filtro">
                <div fxFlex="none" class="filter-header">
                    <div>Filtros para búsqueda:</div>
                </div>
                <div fxFlex="none" class="filter-options">
                    <mat-radio-group [(ngModel)]="filtro.agrupar" aria-label="Selecciona una agrupación">
                        <mat-radio-button *ngFor="let agrupacion of filtroCatalogos['agrupacion']" [value]="agrupacion.key">{{agrupacion.value}}</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div fxFlex="none">
                    <mat-selection-list #listaSeleccionableAlmacenes class="filter-selection-list" [(ngModel)]="filtro.almacenes">
                        <mat-list-item class="list-title-option">
                            <div fxLayout="row" class="list-title-item">
                                <div fxFlex>Almacenes: &nbsp;</div>
                                <button fxFlex="none" mat-icon-button (click)="listaSeleccionableAlmacenes.selectAll()" [matTooltip]="'Seleccionar Todos'" color="accent"><mat-icon>done_all</mat-icon></button>
                                <button fxFlex="none" mat-icon-button (click)="listaSeleccionableAlmacenes.deselectAll()" [matTooltip]="'Seleccionar Ninguno'"><mat-icon>filter_none</mat-icon></button>
                            </div>
                        </mat-list-item>
                        <mat-list-item *ngIf="filtroCatalogos['almacenes'].length == 0" disabled>
                            Sin Almacenes
                        </mat-list-item>
                        <mat-list-option *ngFor="let almacen of filtroCatalogos['almacenes']" [value]="almacen.id">
                          {{almacen.nombre}}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
                
                <div fxFlex="none" class="filter-checkbox">
                    <mat-checkbox [(ngModel)]="filtro.incluir_almacenes_ajenos">Incluir Almacenes Ajenos</mat-checkbox>
                </div>
                
                <div fxFlex="none" class="filter-field">
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de Articulo:</mat-label>
                        <mat-select [(value)]="filtro.tipo_articulo">
                            <mat-option value="0">Todos</mat-option>
                            <mat-option *ngFor="let tipo of filtroCatalogos['tipos_articulo']" [value]="tipo.id">{{tipo.descripcion}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div fxFlex="none" class="filter-field">
                    <mat-form-field appearance="fill">
                        <mat-label>Existencias:</mat-label>
                        <mat-select [(value)]="filtro.existencias">
                            <mat-option *ngFor="let existencia of filtroCatalogos['existencias']" [value]="existencia.key">{{existencia.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex="none" class="filter-field">
                    <mat-form-field appearance="fill">
                        <mat-label>Caducidades:</mat-label>
                        <mat-select [(value)]="filtro.caducidades">
                            <mat-option *ngFor="let caducidad of filtroCatalogos['caducidades']" [value]="caducidad.key">{{caducidad.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex="none" class="filter-field">
                    <mat-form-field appearance="fill">
                        <mat-label>Catalogo de la Unidad:</mat-label>
                        <mat-select [(value)]="filtro.catalogo_unidad">
                            <mat-option *ngFor="let catalogo of filtroCatalogos['catalogo_unidad']" [value]="catalogo.key">{{catalogo.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex="none" class="filter-checkbox">
                    <mat-checkbox [(ngModel)]="filtro.incluir_catalogo_completo">Incluir Catalogo Completo</mat-checkbox>
                </div>

                <div fxFlex="none" class="filter-checkbox">
                    <mat-checkbox [(ngModel)]="filtro.con_resguardo">Con Resguardo Capturado</mat-checkbox>
                </div>

                <div fxFlex="none" fxLayout="row" fxLayoutGap="5px" class="filter-buttons">
                    <button mat-stroked-button fxFlex="none" (click)="quitarFiltro()" [disabled]="!filtroAplicado || isLoading"><mat-icon>undo</mat-icon></button>
                    <button mat-flat-button color="accent" fxFlex (click)="aplicarFiltro()" [disabled]="isLoading"><mat-icon>filter_alt</mat-icon> Aplicar Filtro</button>
                </div>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%; background-color: whitesmoke;">
                <div class="data-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
                <section fxFlex="none" fxLayout="column">
                        <div fxLayout="row" fxLayout.xs="column">
                            <!--button fxFlex="none" mat-flat-button (click)="togglePanelFiltros(!openedSidenav)" [color]="(openedSidenav)?'primary':''"><mat-icon>tune</mat-icon></button-->
                            <div fxFlex fxLayout="row wrap">
                                <mat-form-field fxFill appearance="fill">
                                    <mat-label>Buscar</mat-label>
                                    <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applySearch()" placeholder="Buscar por: clave, lote, articulo, especificaciones" autocomplete="off">
                                    <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <button mat-icon-button matSuffix (click)="applySearch()">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                    <mat-hint>Buscar por: clave, lote, articulo o especificaciones</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="none" fxLayout="row" fxLayoutGap="5px" style="padding-top: 8px;">
                            <div fxFlex>
                                <div class="filtros-aplicados" fxLayout="row" fxLayoutGap="5px">
                                    <button mat-raised-button fxFlex="none" (click)="togglePanelFiltros(!openedSidenav)" [color]="(filtroAplicado)?'primary':''">
                                        <mat-icon>{{(openedSidenav)?'chevron_left':'chevron_right'}}</mat-icon>Filtro: <span>{{(filtroAplicado)?'Activo':'Inactivo'}}</span>
                                    </button>
                                </div>
                            </div>
                            <div fxFlex="none">
                                <button mat-stroked-button color="primary" [matMenuTriggerFor]="exportMenu" [disabled]="isLoadingExport" [class.button-spinner]="isLoadingExport">
                                    <mat-icon>download</mat-icon> Descargar<mat-icon>arrow_drop_down</mat-icon>
                                </button>
                                <mat-menu #exportMenu="matMenu" xPosition="before">
                                    <button mat-menu-item (click)="exportarPDF()"><mat-icon svgIcon="pdf-icon" ></mat-icon> Descargar en PDF</button>
                                    <mat-divider></mat-divider>
                                    <button mat-menu-item (click)="exportarExcel()"><mat-icon svgIcon="xls-icon" ></mat-icon> Descargar en Excel</button>
                                </mat-menu>
                            </div>
                        </div>
                </section>
                <section fxFlex fxLayout="row">
                    <div fxFlex fxLayout="column" class="table-container">
                        <div fxFlex style="overflow: auto;">
                            <table #dataTable mat-table [dataSource]="listaArticulos" class="data-table" matSort>
                                <ng-container matColumnDef="estatus">
                                    <th mat-header-cell *matHeaderCellDef width="1"></th>
                                    <td mat-cell *matCellDef="let row"> 
                                        <mat-icon [matTooltip]="row.tooltip" [ngClass]="{'fuera-catalogo':!row.en_catalogo_unidad}" fontSet="{{(row.font_outlined)?'material-icons-outlined':''}}">{{row.icono}}</mat-icon>
                                    </td>
                                </ng-container>
            
                                <ng-container matColumnDef="clave">
                                    <th mat-header-cell *matHeaderCellDef width="1"> Clave<br>Tipo Articulo </th>
                                    <td mat-cell *matCellDef="let row" > 
                                        <span style="white-space: nowrap;">{{row.clave}}</span><br>
                                        <span class="added-data" style="white-space: nowrap;">{{row.tipo_bien_servicio}}</span>
                                    </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="articulo">
                                    <th mat-header-cell *matHeaderCellDef> Articulo<br>Especificaciones </th>
                                    <td mat-cell *matCellDef="let row" style="white-space: nowrap;"> 
                                        {{row.articulo}}<br>
                                        <span class="added-data">{{row.especificaciones}}</span>
                                    </td>
                                </ng-container>
            
                                <ng-container matColumnDef="total_lotes" >
                                    <th mat-header-cell *matHeaderCellDef fxHide.xs="true" width="1"> # Lotes </th>
                                    <td mat-cell *matCellDef="let row" fxHide.xs="true" style="white-space: nowrap;text-align: center;"> 
                                        {{+row.total_lotes | number:'1.0-0'}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="lote_caducidad">
                                    <th mat-header-cell *matHeaderCellDef> Lote<br>Caducidad </th>
                                    <td mat-cell *matCellDef="let row" style="white-space: nowrap;text-align: center;" [ngClass]="{'caducado':(row.caducado == 1), 'por-caducar':(row.caducado == 0 && row.dias_caducidad != null && row.dias_caducidad < 90)}"> 
                                        {{ row.lote }}<br>
                                        {{ row.fecha_caducidad | date }}
                                    </td>
                                </ng-container>
            
                                <ng-container matColumnDef="existencias" >
                                    <th mat-header-cell *matHeaderCellDef fxHide.xs="true"> Existencias<br>[Resguardo] </th>
                                    <td mat-cell *matCellDef="let row" fxHide.xs="true"> 
                                        {{row.existencia | number:'1.0-0'}} <span *ngIf="row.existencia_fraccion > 0" class="added-data">({{row.existencia_fraccion | number:'1.0-0'}})</span><br>
                                        <span *ngIf="+row.resguardo" class="resguardo-data">[ {{row.resguardo | number:'1.0-0'}} <span *ngIf="row.resguardo_fraccion > 0">( {{row.resguardo_fraccion | number:'1.0-0'}} )</span> ]</span>
                                    </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="noResultsFound">
                                    <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                        No se encontraron registros 
                                    </td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row (click)="mostrarDialogoArticulo(row.id, row.selectable_id)" [ngClass]="{ 'detalles-ajenos': !row.es_almacen_propio, 'descontinuado':row.descontinuado, 'selected-item':(selectedId == row.selectable_id) }" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
            
                                <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="no-results-found" [ngClass]="{'hide':(listaArticulos && listaArticulos.length > 0)}"></tr>
                            </table>
                        </div>
            
                        <mat-card fxFlex="none" class="table-container">
                            <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength"  [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="pageEvent = loadListadoArticulos($event)"></mat-paginator>
                        </mat-card>
                    </div>
                </section>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>