<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;" (document:keydown.control.enter)="aceptarInsumo()">
    <section fxFlex="none">
        <div>
            <div class="lista-insumos-item articulo-bg-color">
                <div class="lista-insumos-item-etiqueta">
                    <div class="lista-insumos-item-etiqueta-icono">
                        <span style="font-weight: bold;">Partida</span><br>
                        <span>{{articulo.partida_clave}}</span>
                    </div>
                    <div class="lista-insumos-item-etiqueta-texto">
                        {{articulo.familia}}
                    </div>
                </div>
                <div class="lista-insumos-item-contenido">
                    <div class="lista-insumos-item-cabecera">
                        <div class="lista-insumos-item-cabecera-titulo">Clave: {{(articulo.clave_cubs)?articulo.clave_cubs:articulo.clave_local}}</div>
                        <div class="lista-insumos-item-cabecera-subtitulo">{{articulo.nombre}}</div>
                    </div>
                    <div class="lista-insumos-item-texto">
                        {{articulo.descripcion}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section fxFlex="none" fxLayout="column" *ngIf="listaUnidades.length == 0 && unidadEntrega">
        <div fxFlex fxLayout="row">
            <div fxFlex="none" style="padding-top:20px; padding-right: 10px;">
                {{unidadEntrega.nombre}}
            </div>
            <mat-form-field fxFlex>
                <mat-label>Cantidad</mat-label>
                <input matInput [(ngModel)]="articulo.cantidad" (keydown.enter)="aceptarInsumo()" type="number" required>
                <mat-error *ngIf="!articulo.cantidad || articulo.cantidad <= 0">Este campo es obligatorio</mat-error>
            </mat-form-field>
        </div>
    </section>
    <section fxFlex fxLayout="column" *ngIf="listaUnidades.length > 0">
        <div fxFlex fxLayout="column">
            <div fxFlex>
                <cdk-virtual-scroll-viewport itemSize="80" style="overflow: auto; height: 100%;">
                    <div *cdkVirtualFor="let unidad of listaUnidades;" class="unidad-medica-item">
                        <div fxLayout="row">
                            <div fxFlex fxLayout="column" class="datos-unidad">
                                <div fxFlex="none" class="titulo">
                                    CLUES: {{unidad.clues}}
                                </div>
                                <div fxFlex class="descripcion">
                                    {{unidad.nombre}}
                                </div>
                            </div>
                            <div fxFlex="none" fxLayout="row" fxLayoutAlign="center center">
                                <div fxFlex style="padding:0px 10px;">
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="unidad.cantidad" type="number" (keyup)="sumarCantidades()">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </cdk-virtual-scroll-viewport>
            </div>
            <div fxFlex="none" fxLayout="row" style="padding:10px;">
                <div fxFlex style="font-weight: bolder;">
                    TOTAL
                </div>
                <div fxFlex="none">
                    {{articulo.cantidad | number:'1.0-0'}}
                </div>
            </div>
        </div>
    </section>
    <section fxFlex="none">
        <div fxLayout="row">
            <div fxFlex></div>
            <div fxFlex="none">
                <button mat-button (click)="close()">Cancelar</button>&nbsp;
                <button mat-raised-button color="primary" [disabled]="!(articulo.cantidad > 0)" (click)="aceptarInsumo()"><mat-icon>playlist_add_check</mat-icon> Aplicar</button>
            </div>
        </div>
    </section>
</section>