::ng-deep .no-padding-dialog > .mat-dialog-container{
    padding:0px;
}

@media screen and (max-width: 1024px){
    ::ng-deep .no-padding-dialog > .mat-dialog-container{
        padding:0px;
        width: 100% !important;
        max-width: 100% !important;
    }
}

.salida-toolbar:not(.mat-button){
    background-color: #4a4848;
    color:whitesmoke;
}

.label-info{
    cursor: default;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
}

.label-info-delete{
    cursor: default;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    background-color: red;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}

.loading-lotes{
    padding: 25px;
    text-align: center;
    font-size: larger;
    font-style: italic;
    color:#4a4848;
    cursor: default;
}

::ng-deep .mini-spinner.mat-progress-spinner circle {
    /*stroke: whitesmoke !important;*/
    stroke: rgba(0,0,0,.40);
}

.no-results-found{
    text-align: center;
    font-style: italic;
}

.hide{
    display: none;
}

.boton-accion{
    border-left: 1px solid whitesmoke;
    background-color: #787878;
    border-radius: 0px;
}

.boton-accion-medio{
    border-radius: 0px;
}

.datos-articulo{
    padding: 5px;
    background-color:#420101;
    color:whitesmoke;
}

.fake-input{
    border-radius: 4px;
    padding: 0.75em;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    color: rgba(255,255,255,.87);
    cursor:default;
    /*background-color: rgba(0,0,0,.04);*/
}

.fake-input:hover{
    background-color: rgba(255, 255, 255, 0.15);
}

.fake-input .label{
    display: block;
    font-size: small;
    color: rgba(255,255,255,.54);
    white-space: nowrap;
}

.fake-input .value{
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.42);
    white-space: nowrap;
    padding: 0 5px;
}

.fake-input .value-text{
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.42);
    padding: 0 5px;
}

.datos-lote{
    color:black !important;
    background-color: cadetblue;
}

.datos-almacen{
    padding:5px;
}

.datos-almacen .detalles{
    cursor: pointer;
    padding:5px;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    border:1px solid rgba(0,0,0,.42);
}

.datos-almacen .detalles.inactivo{
    background-color: #c7c7c7;
    color:rgba(0, 0, 0, 0.50) !important;
    border:1px solid rgba(0,0,0,0.20);
    cursor: default;
}

.datos-almacen .detalles.inactivo:hover{
    box-shadow: none !important;
}

.datos-almacen .detalles.seleccionado{
    background-color: white;
    box-shadow: 0px 0px 4px 3px  rgba(0,0,0,0.20) !important;
}

.datos-almacen .detalles:hover{
    box-shadow: 0px 0px 4px 3px  rgba(0,0,0,0.20) !important;
}

.datos-almacen .detalles .nombre{
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.30);
    padding-right: 8px;
}

.datos-almacen .detalles .nombre > span{
    margin: auto;
    white-space: nowrap;
}

.datos-almacen .detalles .especificaciones{
    font-size: small;
    color: rgba(0,0,0,0.65);
    padding-right:8px;
}

.datos-almacen .detalles .existencias{
    border-left: 1px solid rgba(0,0,0,0.30);
    padding:5px;
    text-align: right;
    white-space: nowrap;
}

.datos-almacen .detalles .existencias .existencia{
    font-size: xx-large;
    font-weight: 500;
}

.datos-almacen .detalles .existencias .existencia-fraccion{
    font-weight: 400;
}

.datos-almacen .detalles .existencias .resguardo{
    color:rgb(204, 78, 0);
    font-size: small;
}

.lista-items{
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,.12);
    border-right: 1px solid rgba(0,0,0,.12);
}

.item-detalles{
    border-top: 1px solid rgba(0,0,0,.12);
}

.detalles-sin-lote{
    margin: 10px;
    padding: 40px;
    text-align: center;
    font-style: italic;
    color: #4a4848;
    border-radius: 5px;
    background-color: whitesmoke;
    cursor: default;
}

.detalles-lote{
    padding: 8px;
    background-color: whitesmoke;
}

.detalles-lote .mat-card{
    padding: 0px;
}

.encabezado{
    padding: 5px;
    font-weight: 500;
    background-color: cadetblue;
    color: whitesmoke;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.campo-filtro{
    background-color: #d5d5d5;
}

.lista{
    overflow: auto;
}

.lista .mat-list-base{
    padding-top: 0px;
}

.small-icon{
    font-size: 12px;
    height: 12px;
    width: 12px;
    color: rgba(255,255,255,0.45);
}

.small-search-input{
    padding: 5px 5px 5px 5px;
}

:host ::ng-deep .small-search-input > .mat-form-field{
    width: 100%;
    background-color: #d5d5d5;
}

:host ::ng-deep .small-search-input > .mat-form-field > .mat-form-field-wrapper { 
    padding: 0px !important;
    margin: 0px !important;
}

:host ::ng-deep .small-search-input > .mat-form-field-flex > .mat-form-field-infix { 
    padding: 0px !important;
}

:host ::ng-deep .small-search-input > .mat-form-field-appearance-outline .mat-form-field-infix { 
    padding: 0.8em 0em 0.5em 0em !important;
    border-top:none;
}

.bloques-detalles{
    padding: 10px 0px;
}

.bloques-detalles > .bloque{
    cursor: default;
    padding: 8px;
}

.bloques-detalles > .bloque:first-of-type{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.bloques-detalles > .bloque:last-of-type{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.bloque-existencias{
    border:2px solid cadetblue;
    color:cadetblue;
}

.bloque-movimientos{
    background-color: cadetblue;
    color: white;
}

.bloque > div:first-child{
    padding-right:8px;
}

.bloque > div:not(:last-child){
    padding-left:8px;
    padding-right:8px;
}

.bloque > div:not(:first-child){
    padding-left:8px;
    border-left: 1px solid;
}

.bloque .etiqueta{
    display: block;
    font-size: small;
    opacity: 0.80;
    white-space: nowrap;
}

.tabla-movimientos{
    overflow: auto;
}

.lista-movimientos-table{
    width: 100%;
    cursor: default;
}

.lista-movimientos-table th{
    text-align: center;
    background-color: #4a4848;
    color:whitesmoke;
}

.lista-movimientos-table tr.mat-row:hover {
    background-color: #F5F5F5;
    font-weight: 500;
}

.pendiente-recepcion-color > td{
    color:#dc8503 !important;
}

.concluido-color > td{
    color:#07a8ff !important;
}

.cancelado-color > td{
    color:#ff2a2a !important;
}

.peticion-modificacion-color > td{
    color:#b000e6;
}

.modificacion-aprobada-color > td{
    color:#b000e6;
}

.conflicto-color > td{
    color: #eb0808;
  }

.lista-resguardos{
    padding:0px !important;
}

.lista-resguardos .resguardo{
    cursor: default;
}

.lista-resguardos .resguardo:hover{
    background-color: whitesmoke;
}

.lista-resguardos .usuario{
    font-weight: bold;
}

.lista-resguardos .datos .cantidad{
    font-size: small;
    color: rgba(0,0,0,.60);
}

.lista-resguardos .datos .fecha{
    font-size: small;
    color: rgba(0,0,0,.80);
}