<section fxLayout="column" fxLayoutAlign="start" style="height: 100%; overflow: auto; flex: 1 1 0%;" (document:keydown.escape)="cancelarAccion()">
    <section fxFlex="none" class="dialog-toolbar">
        <div fxLayout="row">
            <div fxFlex="none" class="label-info">
                <mat-icon>build</mat-icon>&nbsp;&nbsp; Resolver Conflicto:
            </div>
            <button fxFlex="none" mat-button color="primary" class="boton-principal" (click)="aceptarCambios()"><mat-icon>add_task</mat-icon>&nbsp;<span>Aceptar y Guardar Cambios</span></button>
            <div fxFlex>
            </div>
            <button fxFlex="none" class="boton-accion" mat-button (click)="cerrar()"><mat-icon>close</mat-icon></button>
        </div>
    </section>
    <section fxFlex fxLayout="column" style="padding: 8px; overflow: hidden;">
        <mat-card fxFlex="none" fxLayout="row raw" fxLayoutGap="5px" [style.fontSize.px]="15" *ngIf="datosEntrada" class="datos-movimiento">
            <div fxFlex class="fake-input">
                <span class="label">Fecha Entrada:</span>
                <span class="value">{{datosEntrada.fecha_movimiento | date:'MMMM d, y' }}</span>
            </div>
            <div fxFlex class="fake-input">
                <span class="label">Almacen:</span>
                <span class="value">{{datosEntrada.almacen.nombre }}</span>
            </div>
            <div fxFlex class="fake-input">
                <span class="label">Tipo de Entrada:</span>
                <span class="value">{{datosEntrada.tipo_movimiento.descripcion }}</span>
            </div>
            <div fxFlex class="fake-input">
                <span class="label">Turno:</span>
                <span class="value">{{datosEntrada.turno.nombre }}</span>
            </div>
            <div fxFlex class="fake-input">
                <span class="label">Programa:</span>
                <span class="value">{{(datosEntrada.programa)?datosEntrada.programa.descripcion:'---' }}</span>
            </div>
            <div fxFlex class="fake-input">
                <span class="label">Folio-Documento:</span>
                <span class="value">{{ datosEntrada.documento_folio||'---' }}</span>
            </div>
            <div fxFlex class="fake-input" *ngIf="datosEntrada.almacen_movimiento">
                <span class="label">Almacén Origen:</span>
                <span class="value">{{ datosEntrada.almacen_movimiento.nombre }}</span>
            </div>
            <div fxFlex="none" fxLayout="row">
                <div fxFlex class="fake-input">
                    <span class="label">No de Referencia:</span>
                    <span class="value">{{ datosEntrada.referencia_folio||'---' }}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Fecha de Referencia:</span>
                    <span class="value">{{(datosEntrada.referencia_fecha)?(datosEntrada.referencia_fecha | date:'MMMM d, y'):'---' }}</span>
                </div>
            </div>
            <div fxFlex class="fake-input">
                <span class="label">Observaciones:</span>
                <span class="value">{{ datosEntrada.observaciones||'---' }}</span>
            </div>
        </mat-card>
        <div fxFlex fxLayout="column">
            <div fxFlex class="tabla-articulos">
                <table mat-table [dataSource]="dataSourceArticulos" class="lista-articulos-table">
                    <ng-container matColumnDef="estatus_articulo">
                        <th mat-header-cell *matHeaderCellDef width="1"> Estatus </th>
                        <td mat-cell *matCellDef="let row" style="text-align: center; padding: 0px;">
                            <mat-icon matTooltip="{{row.estatus_desc}}">{{row.estatus_icono}}</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="datos_articulo">
                        <th mat-header-cell *matHeaderCellDef> Datos del Articulo </th>
                        <td mat-cell *matCellDef="let row">
                            {{row.clave}}<br>
                            <span class="subtext" [matTooltip]="row.descripcion">{{row.nombre}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="datos_empaque">
                        <th mat-header-cell *matHeaderCellDef> Detalle / *Modificado </th>
                        <td mat-cell *matCellDef="let row">
                            {{row.empaque_detalle}}
                            <span *ngIf="row.empaque_detalle_modificado">* {{row.empaque_detalle_modificado}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="lote_fecha_cad">
                        <th mat-header-cell *matHeaderCellDef style="white-space:nowrap;" width="1"> Datos de Lote<br>Actuales </th>
                        <td mat-cell *matCellDef="let row" style="text-align: center; white-space: nowrap;">
                            {{row.lote}}<br>
                            {{(row.fecha_caducidad)?row.fecha_caducidad:'---'}}<br>
                            <span class="subtext">{{(row.codigo_barras)?row.codigo_barras:'---'}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="lote_fecha_cad_mod">
                        <th mat-header-cell *matHeaderCellDef style="white-space:nowrap;" width="1"> Datos de Lote<br>Modificados </th>
                        <td mat-cell *matCellDef="let row" style="text-align: center; white-space: nowrap;">
                            {{(row.lote_modificado)?row.lote_modificado:'---'}}<br>
                            {{(row.fecha_caducidad_modificado)?row.fecha_caducidad_modificado:'---'}}<br>
                            <span class="subtext">{{(row.codigo_barras_modificado)?row.codigo_barras_modificado:'---'}}</span>
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="cantidad_enviada">
                        <th mat-header-cell *matHeaderCellDef width="1"> Enviado </th>
                        <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px; text-align: center;">
                            {{row.cantidad_enviada | number:'1.0-0'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="cantidad_recibida">
                        <th mat-header-cell *matHeaderCellDef width="1"> Recibido </th>
                        <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px; text-align: center;" class="input-cell">
                            <span *ngIf="!row.mostrar_campo">{{row.cantidad_recibida | number:'1.0-0'}}</span>
                            <input *ngIf="row.mostrar_campo" type="number" [(ngModel)]="row.cantidad_recibida" (keydown.enter)="aplicarCantidad(row)" (blur)="aplicarCantidad(row)">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="noResultsFound">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length"> No se encontraron Articulos </td>
                    </ng-container>

                    <ng-container matColumnDef="loadingData">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length"> Cargando Datos </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row class="tabla-row-articulo" [ngClass]="{'editable':row.mostrar_campo,'eliminar':row.estatus_articulo == 'DEL','modificado':row.estatus_articulo == 'EDIT'}" *matRowDef="let row; let i = index; columns: displayedColumns;">
                    <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="no-results-found" [ngClass]="{'hide': (dataSourceArticulos && dataSourceArticulos.filteredData.length > 0) || isLoading}"></tr>
                    <tr mat-footer-row *matFooterRowDef="['loadingData']" class="no-results-found" [ngClass]="{'hide': !isLoading}"></tr>
                </table>
                <mat-progress-bar *ngIf="isLoading" mode="indeterminate" [color]="'accent'"></mat-progress-bar>
            </div>
            <div fxFlex="none">
                <mat-paginator [pageSize]="pageSize" [pageIndex]="currentPage" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </section>
</section>