::ng-deep .no-padding-dialog > .mat-dialog-container{
    padding:0px;
}

.dialog-toolbar:not(.mat-button){
    background-color: #4a4848;
    color:whitesmoke;
}

.label-info{
    cursor: default;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
}

.boton-accion{
    border-left: 1px solid whitesmoke;
    background-color: #787878;
    border-radius: 0px;
}

.boton-principal{
    border-radius: 0px;
    border: 1px solid #4A4848;
    background-color: whitesmoke;
}

.no-results-found{
    text-align: center;
    font-style: italic;
}

.hide{
    display: none;
}

.datos-movimiento{
    background-color: steelblue;
    padding: 8px;
}

.fake-input{
    border-radius: 4px 4px 0 0;
    padding: 0.75em;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    color: rgba(255,255,255,.87);
    
}

.fake-input:hover{
    background-color: rgba(255,255,255,.04);
    cursor: default;
}

.fake-input .label{
    display: block;
    font-size: small;
    color: rgba(255,255,255,.54);
    white-space: nowrap;
}

.fake-input .value{
    display: block;
    border-bottom: 1px solid rgba(0,0,0,.42);
    white-space: nowrap;
    padding: 0 5px;
}

.fake-input .value-text{
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.42);
    padding: 0 5px;
}

.tabla-articulos{
    overflow: auto;
    padding-top: 8px;
}

.lista-articulos-table{
    width: 100%;
}

table.lista-articulos-table th {
    padding:0 5px;
    text-align: center;
    background-color: slategrey;
    color:whitesmoke;
    cursor: default;
}

.lista-articulos-table tr.mat-row.editable td{
    color: green;
    font-weight: 500;
}

.lista-articulos-table tr.mat-row.editable td .subtext{
    color: rgba(0,128,0,.62);
}

.lista-articulos-table tr.mat-row.modificado td{
    color: steelblue;
    font-weight: 500;
}

.lista-articulos-table tr.mat-row.modificado td .subtext{
    color: rgba(70, 130, 180,.62);
}

.lista-articulos-table tr.mat-row.eliminar td{
    color: red;
    font-weight: 500;
}

.lista-articulos-table tr.mat-row.eliminar td .subtext{
    color: rgba(255, 0, 0,.42);
}

.lista-articulos-table tr.mat-row:hover{
    background-color: rgba(0,0,0,.05);
    cursor: default;
}

.lista-articulos-table .subtext{
    color: rgba(0,0,0,.42);
    font-size: small;
}

.lista-articulos-table td.input-cell{
    width: 100px;
    position: relative;
}

.lista-articulos-table td.input-cell input{
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
}