<h1 mat-dialog-title>Horario del Empleado</h1>
<div mat-dialog-content>
    <div fxLayout="row" fxLayout.xs="column">
        <mat-form-field fxFlex fxFlex.xs="100">
            <mat-label>Dia Entrada</mat-label>
            <mat-select>
                <mat-option *ngFor="let item of diasSemana" [value]="item.dia">
                    {{item.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex fxFlex.xs="100">
            <input matInput placeholder="Hora Entrada">
        </mat-form-field>
        <mat-form-field fxFlex fxFlex.xs="100">
            <mat-label>Dia Salida</mat-label>
            <mat-select>
                <mat-option *ngFor="let item of diasSemana" [value]="item.dia">
                    {{item.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex fxFlex.xs="100">
            <input matInput placeholder="Hora Salida">
        </mat-form-field>
        <button mat-raised-button (click)="agregar()" color="info"><mat-icon>add</mat-icon></button>
    </div>
</div>
<div mat-dialog-actions>
    <span fxFlex></span>
    <button mat-button (click)='cancelar()'>Cancelar</button>
    <button mat-raised-button (click)="aceptar()" color="accent"><mat-icon>check</mat-icon> Aceptar</button>
</div>