<div class="contenido-tabla-lotes">
    <table>
        <thead>
            <tr>
                <th *ngIf="articulo.tipo_formulario == 'MEDS'" width="1">Estatus</th>
                <th *ngIf="articulo.tipo_formulario == 'MEDS'" width="1" style="white-space: nowrap;">Lote / <br>Fecha Caducidad</th>

                <th *ngIf="articulo.tipo_formulario == 'ACTVO'" width="1" style="white-space: nowrap;">No. Serie / <br>Modelo</th>
                <th *ngIf="articulo.tipo_formulario == 'ACTVO'">Marca</th>

                <th>Detalles</th>
                <th>Cantidad</th>
                <th>{{(modoRecepcion)?'Recibido':'Monto'}}</th>
                <th *ngIf="edicionActiva && !modoRecepcion">Control</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="articulo.lotes.length <= 0">
                <td colspan="6" class="no-results-found">No existen lotes capturados</td>
            </tr>
            <tr *ngFor="let lote of articulo.lotes; let i = index" class="caducidad-{{coloresCaducidad[lote.estatus_caducidad]}}">
                <ng-container *ngIf="loteEditIndex != i">
                    <td *ngIf="articulo.tipo_formulario == 'MEDS'"><mat-icon class="small-icon caducidad-{{coloresCaducidad[lote.estatus_caducidad]}}">{{lote.icono_estatus}}</mat-icon></td>
                    <td *ngIf="articulo.tipo_formulario == 'MEDS'" width="1" style="white-space: nowrap;">{{lote.lote}}<br>{{lote.fecha_caducidad | date:'dd-MM-yyyy'}}</td>

                    <td *ngIf="articulo.tipo_formulario == 'ACTVO'" width="1" style="white-space: nowrap;">{{lote.no_serie}}<br>{{lote.modelo}}</td>
                    <td *ngIf="articulo.tipo_formulario == 'ACTVO'">{{lote.marca?.nombre}}</td>

                    <td>{{(lote.empaque_detalle)?lote.empaque_detalle.descripcion:'Sin Detalles'}}</td>

                    <td *ngIf="!modoRecepcion">{{lote.cantidad | number:'1.0-0'}}</td>
                    <td *ngIf="!modoRecepcion">$ {{lote.total_monto | number:'1.2-2'}}</td>
                    
                    <td *ngIf="modoRecepcion">{{lote.cantidad_enviada | number:'1.0-0'}}</td>
                    <td class="input-cell" *ngIf="modoRecepcion">
                        <input *ngIf="edicionActiva" type="number" [(ngModel)]="lote.cantidad" (keydown.enter)="aplicarCantidad(lote)" (blur)="aplicarCantidad(lote)" [readonly]="!edicionActiva">
                        <span *ngIf="!edicionActiva">{{lote.cantidad | number:'1.0-0'}}</span>
                    </td>

                    <td width="1" style="white-space: nowrap;" *ngIf="edicionActiva && !modoRecepcion">
                        <button class="small-icon-button" mat-icon-button color="primary" (click)="editarLote(i)"><mat-icon>edit</mat-icon></button>
                        <button class="small-icon-button" mat-icon-button color="warn" (click)="eliminarLote(i)"><mat-icon>delete</mat-icon></button>
                    </td>
                </ng-container>
                <ng-container *ngIf="loteEditIndex == i">
                    <td colspan="6">
                        <section style="width: 100%;" fxLayout="column" fxLayoutGap="5px" [formGroup]="formLote">
                            <div fxFlex="100" fxLayout="row raw" fxLayoutGap="5px" fxLayoutAlign="space-between center" *ngIf="articulo.tipo_formulario == 'MEDS'">
                                <mat-form-field fxFlex>
                                    <mat-label>Lote</mat-label>
                                    <input matInput formControlName="lote" required (keydown.enter)="guardarCambiosLote()" autocomplete="off">
                                    <mat-error *ngIf="formLote.get('lote').hasError('required')">Este campo es obligatorio</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex>
                                    <mat-label>Fecha Caducidad</mat-label>
                                    <input matInput formControlName="fecha_caducidad" [required]="articulo.tiene_fecha_caducidad > 0" [matDatepicker]="pickerCaducidad" (dateInput)="checarCaducidadFormulario()" readonly>
                                    <span *ngIf="estatusCaducidad > 1" matSuffix><mat-icon color="warn">priority_high</mat-icon></span>
                                    <mat-datepicker-toggle matPrefix [for]="pickerCaducidad"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerCaducidad [disabled]="!edicionActiva" startView="multi-year"></mat-datepicker>
                                    <mat-hint align="start" *ngIf="!etiquetaEstatus"><mat-icon>arrow_upward</mat-icon>Click para seleccionar</mat-hint>
                                    <mat-hint align="end" style="color:red;" *ngIf="estatusCaducidad > 1">{{etiquetaEstatus}}</mat-hint>
                                    <mat-error *ngIf="formLote.get('fecha_caducidad').hasError('required')">Este campo es obligatorio</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex>
                                    <mat-label>Código de Barras</mat-label>
                                    <input matInput formControlName="codigo_barras" (keydown.enter)="guardarCambiosLote()" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field fxFlex>
                                    <mat-label>Cantidad</mat-label>
                                    <input matInput formControlName="cantidad" (keydown.enter)="guardarCambiosLote()" type="number" required autocomplete="off">
                                    <mat-error *ngIf="formLote.get('cantidad').hasError('required')">Este campo es obligatorio</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex>
                                    <mat-label>Detalles</mat-label>
                                    <mat-select formControlName="empaque_detalle_id">
                                        <mat-option *ngIf="!articulo.empaque_detalle || articulo.empaque_detalle.length == 0">Sin Detalles Asignados</mat-option>
                                        <mat-option *ngFor="let detalle of articulo.empaque_detalle" [value]="detalle.id">
                                            {{detalle.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field fxFlex>
                                    <mat-label>Precio Unitario</mat-label>
                                    <input matInput formControlName="precio_unitario" (keydown.enter)="guardarCambiosLote()" type="number" autocomplete="off">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>
                                <mat-form-field fxFlex="none">
                                    <mat-label>IVA</mat-label>
                                    <input matInput formControlName="iva" (keydown.enter)="guardarCambiosLote()" type="number" autocomplete="off">
                                </mat-form-field>
                            </div>
                            <div fxFlex="100" fxLayout="row raw" fxLayoutGap="5px" fxLayoutAlign="space-between center" *ngIf="articulo.tipo_formulario == 'ACTVO'">
                                <mat-form-field fxFlex>
                                    <mat-label>No. de Serie</mat-label>
                                    <input matInput formControlName="no_serie" (keydown.enter)="guardarCambiosLote()" required autocomplete="off">
                                </mat-form-field>
                                <mat-form-field fxFlex>
                                    <mat-label>Modelo</mat-label>
                                    <input matInput formControlName="modelo" (keydown.enter)="guardarCambiosLote()" autocomplete="off">
                                </mat-form-field>
                                <mat-form-field fxFlex>
                                    <mat-label>Marca</mat-label>
                                    <input type="text" placeholder="Seleccione una marca" aria-label="Marca" matInput formControlName="marca" [matAutocomplete]="listaMarcas" autocomplete="off">
                                    <button mat-icon-button matPrefix>
                                        <mat-icon>list_alt</mat-icon>
                                    </button>
                                    <mat-autocomplete autoActiveFirstOption [displayWith]="displayFn" #listaMarcas="matAutocomplete" panelWidth="auto">
                                        <mat-option *ngIf="!formLote.get('marca').value && (!catalogoMarcas || catalogoMarcas.length == 0)" [disabled]="true">Sin marcas capturadas</mat-option>
                                        <mat-option *ngFor="let marca of filteredMarcas | async" [value]="marca">
                                          {{marca.nombre}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <mat-form-field fxFlex>
                                    <mat-label>Cantidad</mat-label>
                                    <input matInput formControlName="cantidad" (keydown.enter)="guardarCambiosLote()" type="number" required autocomplete="off">
                                    <mat-error *ngIf="formLote.get('cantidad').hasError('required')">Este campo es obligatorio</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex>
                                    <mat-label>Precio Unitario</mat-label>
                                    <input matInput formControlName="precio_unitario" (keydown.enter)="guardarCambiosLote()" type="number" autocomplete="off">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>
                                <mat-form-field fxFlex="none">
                                    <mat-label>IVA</mat-label>
                                    <input matInput formControlName="iva" (keydown.enter)="guardarCambiosLote()" type="number" autocomplete="off">
                                </mat-form-field>
                                <div fxFlex></div>
                            </div>
                            <div fxFlex="100" fxLayout="row" *ngIf="mostrarCartaCanje" class="carta-canje">
                                <span fxFlex="fill"></span>
                                <div fxFlex="18" class="cc-campo">
                                    <div class="cc-etiqueta">
                                        <div>Carta de Canje: </div>
                                    </div>
                                </div>
                                <mat-form-field fxFlex="20" class="cc-campo">
                                    <mat-label>Folio de Memo</mat-label>
                                    <input matInput formControlName="memo_folio" (keydown.enter)="guardarCambiosLote()" type="text" autocomplete="off">
                                    <mat-error *ngIf="formLote.get('memo_folio').hasError('required')">Este campo es obligatorio</mat-error>
                                </mat-form-field>
                                <mat-form-field  fxFlex="20" class="cc-campo">
                                    <mat-label>Fecha de Memo</mat-label>
                                    <input matInput formControlName="memo_fecha" [max]="fechaActual" [matDatepicker]="pickerMemo" readonly>
                                    <mat-datepicker-toggle matPrefix [for]="pickerMemo"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerMemo [disabled]="!edicionActiva" startView="year"></mat-datepicker>
                                    <mat-hint align="start"><mat-icon>arrow_upward</mat-icon>Click para seleccionar</mat-hint>
                                    <mat-error *ngIf="formLote.get('memo_fecha').hasError('required')">Este campo es obligatorio</mat-error>
                                </mat-form-field >
                                <mat-form-field fxFlex="16" class="cc-campo">
                                    <mat-label>Vigencia</mat-label>
                                    <input matInput formControlName="vigencia_meses" (keydown.enter)="guardarCambiosLote()" type="number" autocomplete="off">
                                    <span matSuffix>Meses</span>
                                    <mat-error *ngIf="formLote.get('vigencia_meses').hasError('required')">Este campo es obligatorio</mat-error>
                                </mat-form-field>
                                <div fxFlex="none" class="cc-campo"></div>
                                <span fxFlex="fill"></span>
                            </div>
                            <div fxFlex="100" fxLayout="row" fxLayoutGap="5px" style="padding-top: 2px;">
                                <button fxFlex="none" mat-button (click)="toggleCartaCanje(!mostrarCartaCanje)" *ngIf="estatusCaducidad > 1" color="accent">
                                    <mat-icon>{{(mostrarCartaCanje)?'event_busy':'event_note'}}</mat-icon> Carta de Canje
                                </button>
                                <div fxFlex></div>
                                <button fxFlex="none" mat-button (click)="cancelarEdicion()">Cancelar</button>
                                <button fxFlex="none" color="success" mat-stroked-button (click)="guardarCambiosLote()">Guardar</button>
                                <button fxFlex="none" color="info" mat-stroked-button (click)="guardarCambiosLote(true)">Guardar <mat-icon>add_circle_outline</mat-icon></button>
                            </div>
                        </section>
                    </td>
                </ng-container>
            </tr>
        </tbody>
        <tfoot>
            <tr *ngIf="edicionActiva && !modoRecepcion && loteEditIndex < 0">
                <ng-container>
                    <td colspan="6">
                        <button class="medium-button" mat-button (click)="agregarLote()"><mat-icon>add_circle</mat-icon> Agregar Lote</button>
                    </td>
                </ng-container>
            </tr>
        </tfoot>
    </table>
</div>