::ng-deep .no-padding-dialog > .mat-dialog-container{
    padding:0px;
}

.boton-seleccionado{
    background-color: lightgreen;
}

.boton-nuevo-pedido {
    cursor: pointer;
    
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}