.data-container {
  position: relative;
  min-height: 200px;
}

.data-table-container {
  position: relative;
  max-height: 400px;
  min-height:200px;
  overflow: auto;
  width: 100%;
}

.data-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.added-data{
  font-size: smaller;
}

table {
width: 100%;
}

.data-table th:first-child{
  border-radius: 4px 0px 0px 0px;
}

.data-table th:last-child{
  border-radius: 0px 4px 0px 0px;
}

table th {
  padding:0 5px;
  text-align: center;
  background-color: #4a4848;
  color:whitesmoke;
}

table td {
padding:0 5px;
}

table tr:hover{
  background-color: whitesmoke;
  cursor: default;
}

.mat-form-field {
font-size: 14px;
width: 100%;
}

/* Column Widths */
.mat-column-actions{
max-width: 75px;
min-width: 60px;
}

.selected-item{
background-color: lightskyblue;
}

.not-results-found{
text-align: center;
font-style: italic;
}

.loading-results{
width: 100%;
top: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.15);
text-align: center;
font-style: italic;
}

.loading-results mat-spinner{
margin:0 auto;
}

.hide{
display: none;
}

.search-button {
display: flex;
align-content: center;
align-items: center;
height: 60px;
margin: 0 10px;
}

.borrador-color{
color:#6b6767;
}

.concluido-color{
color:#07a8ff;
}

.cancelado-color{
color:#ff2a2a;
}

.pendiente-recepcion-color{
  color:#dc8503;
}

.peticion-modificacion-color{
  color:#b000e6;
}

.modificacion-aprobada-color{
  color:#b000e6;
}

.cancelado{
  color:#ff2a2a !important;
}

.cancelado > td{
  color:#ff2a2a !important;
}

:host ::ng-deep .small-select-input .mat-form-field-wrapper {
  height: 36px;
}

:host ::ng-deep .small-select-input .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}

:host ::ng-deep .small-select-input .mat-form-field-wrapper {
  padding-bottom: 0;
}

:host ::ng-deep .small-select-input .mat-form-field-infix {
  border-top: 0px;
}

:host ::ng-deep .small-select-input .mat-form-field-appearance-outline .mat-form-field-outline {
  height: 36px;
}

:host ::ng-deep .small-select-input .mat-form-field-appearance-outline .mat-form-field-outline {
  height: 36px;
}

:host ::ng-deep .small-select-input .mat-select-arrow-wrapper {
  display: block;
}