<div fxLayout="column" fxLayoutAlign="start" fxFlexFill  style="overflow: hidden;">
    <!--<div mat-dialog-content style="background-color: #F0F0F0;  border-radius: 10px;">-->
    <div fxFlex fxLayout="column">
        <div fxFlex="none" style="padding-top: 5px; padding-bottom: 5px;">
            <mat-accordion>
                <mat-expansion-panel [expanded]="false" style="background-color: #F7F7F7;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Artículo</mat-panel-title>
                        <mat-panel-description>
                            {{data.articulo}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div style="font-weight: 300; width:100%; text-align: justify; margin:10px 0">
                    <p><small><strong>Especificaciones</strong></small><br>{{data.especificaciones}}</p>
                    </div>
                    <div style="font-weight: 300; width:100%; text-align: justify; margin:10px 0">
                        <p><small><strong>Partida</strong></small><br>{{ data.clave_partida_generica }}{{ data.clave_partida_especifica }} {{ data.partida_especifica_descripcion }}</p>
                    </div>
                    <div style="font-weight: 300; width:100%; text-align: justify; margin:10px 0">
                        <p><small><strong>Familia</strong></small><br>{{ data.familia }}</p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    
        <div fxFlex="none" style="padding-top: 5px; padding-bottom: 5px; overflow: visible; cursor: default;">
            <div fxLayout="row">
                <div fxFlex="none" style="padding: 2px;" *ngFor="let almacen of listaExistenciasAlmacen">
                    <mat-card style="padding: 5px;">
                        <div fxLayout="row">
                            <div fxFlex>{{almacen.nombre}} :</div>
                            <div fxFlex="none">&nbsp;{{almacen.total_existencias | number:'1.0-0'}}</div>
                        </div>
                    </mat-card>
                </div>            
            </div>
        </div>
    
        <div fxFlex="none" fxLayout="row" class="datos-generales-unidad">
            <div fxFlex="none">Total Existencias: {{data.existencia | number:'1.0-0'}}</div>
            <div fxFlex></div>
            <div fxFlex="none" *ngIf="datosCatalogo" fxLayout="row">
                <div fxFlex>Mínimo: {{+datosCatalogo.cantidad_minima | number:'1.0-0'}}</div>
                <div fxFlex>Máximo: {{+datosCatalogo.cantidad_maxima | number:'1.0-0'}}</div>
                <div fxFlex>Es Normativo: {{(datosCatalogo.es_normativo)?'SI':'NO'}}</div>
            </div>
        </div>

        <div fxFlex="none" class="show-controls">
            <mat-button-toggle-group appearance="legacy" [(ngModel)]="tablaSeleccionada" aria-label="Tabla Seleccionada">
                <mat-button-toggle value="resumen">RESUMEN</mat-button-toggle>
                <mat-button-toggle value="detalles">DETALLES</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div fxFlex fxLayout="column" style="overflow: auto;" *ngIf="tablaSeleccionada == 'resumen'">
            <table mat-table [dataSource]="listaResumenMovimientos">
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> FECHA </th>
                  <td mat-cell *matCellDef="let element"> {{element.fecha_movimiento | date:'MMMM d, YYYY'}} </td>
                </ng-container>

                <ng-container matColumnDef="almacen">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ALMACÉN </th>
                    <td mat-cell *matCellDef="let element"> {{element.almacen}} </td>
                </ng-container>

                <ng-container matColumnDef="folio">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> FOLIO - MOVIMIENTO </th>
                    <td mat-cell *matCellDef="let element"> {{element.folio}} </td>
                </ng-container>

                <ng-container matColumnDef="lotes">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> # LOTES </th>
                    <td mat-cell *matCellDef="let element"> {{element.lotes}} </td>
                </ng-container>

                <ng-container matColumnDef="cantidad_entrada">
                    <th mat-header-cell *matHeaderCellDef style="text-align: right;"> CANTIDAD ENTRADA </th>
                    <td mat-cell *matCellDef="let element" style="text-align: right;"> {{(element.direccion_movimiento == 'ENT')?element.cantidad:''}} </td>
                </ng-container>

                <ng-container matColumnDef="cantidad_salida">
                    <th mat-header-cell *matHeaderCellDef> CANTIDAD SALIDA </th>
                    <td mat-cell *matCellDef="let element"> {{(element.direccion_movimiento == 'SAL')?element.cantidad:''}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="columnasResumen;  sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasResumen;"></tr>
            </table>
        </div>

        <div fxFlex fxLayout="column" *ngIf="tablaSeleccionada == 'detalles'">
            <div fxFlex style="overflow: auto;">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="almacen">
                        <th mat-header-cell *matHeaderCellDef  fxHide.lt-sm> Almacén </th>
                        <td mat-cell *matCellDef="let element"  fxHide.lt-sm> {{element.almacen}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="lote">
                        <th mat-header-cell *matHeaderCellDef  fxHide.lt-sm> LOTE </th>
                        <td mat-cell *matCellDef="let element"  fxHide.lt-sm> {{element.lote}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="fecha_caducidad">
                        <th mat-header-cell *matHeaderCellDef> CADUCIDAD </th>
                        <td mat-cell *matCellDef="let element">{{element.fecha_caducidad | date: 'dd/MM/yyyy'}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="folio">
                        <th mat-header-cell *matHeaderCellDef  fxHide.lt-sm> FOLIO </th>
                        <td mat-cell *matCellDef="let element"  fxHide.lt-sm> {{element.folio}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="direccion_movimiento">
                        <th mat-header-cell *matHeaderCellDef> TIPO </th>
                        <td mat-cell *matCellDef="let element"><mat-icon [matTooltip]="(element.direccion_movimiento == 'ENT')?'Entrada':'Salida'">{{(element.direccion_movimiento == 'ENT')?'exit_to_app':'launch'}}</mat-icon></td>
                    </ng-container>
            
                    <ng-container matColumnDef="fecha_movimiento">
                        <th mat-header-cell *matHeaderCellDef> FECHA </th>
                        <td mat-cell *matCellDef="let element">{{element.fecha_movimiento | date: 'dd/MM/yyyy'}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef> CANT </th>
                        <td mat-cell *matCellDef="let element"> {{element.cantidad | number}}</td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
            </div>
            <div fxFlex="none" class="spinner-container" *ngIf="dataSource.loading$ | async">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div fxFlex="none">
                <mat-paginator [length]="dataSource.length" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>   
    </div>

    <div></div>
    
    <div fxFlex="none" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="end center">
        <div>
            <button mat-button (click)="cerrar()">Cerrar</button>
        </div>
    </div>
</div>