table {
    
   
    width: 100%;
    table-layout: fixed;
  }

  tr:hover{
      background-color: whitesmoke;
  }
  
  th,
  td {
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    cursor: default;
    padding: 0 0.5em !important;
  }
  td {
      font-family: "Roboto Mono" , "Roboto" !important;
      font-size: 0.8em;
      font-weight: 300;
      
      /*font-size: 0.7em;*/
  }
  .flex-spacer {
    flex: 1 1 auto;
}

.mat-column-direccion_movimiento {
    width: 45px;
}
.mat-column-estatus {
    width: 60px;
}
.mat-column-fecha_movimiento {
    width: 90px;
}
.mat-column-lote {
    width: 100px;
}
.mat-column-fecha_caducidad {
    width: 90px;
}
.mat-column-cantidad {
    width: 90px;
}
.mat-column-user {
    width: 120px;
}

.demi-header > div{
    font-family: "Roboto Mono" , "Roboto" !important;
    font-size: 0.8em;
    font-weight: 400;
    background-color: rgb(29, 28, 28);
    color:whitesmoke;
    padding: 3px;
    text-align: center;
}

.demi-header > div:last-child{
    text-align: left;
    border-left: 1px solid rgb(73, 72, 72);
}

.demi-row > div{
    font-family: "Roboto Mono" , "Roboto" !important;
    font-size: 0.8em;
    font-weight: 300;
    cursor: default;
    padding: 3px;
    border-bottom: 1px solid rgb(160, 158, 158);
}

.demi-row:hover{
    background-color: whitesmoke;
}

.demi-row > div:last-child{
    text-align: left;
    border-left: 1px solid rgb(73, 72, 72);
}

.datos-generales-unidad{
    padding: 5px;
}

.datos-generales-unidad > div{
    padding: 5px;
    background-color: cadetblue;
    color:rgb(255, 243, 222);
    white-space: nowrap;
}

.datos-generales-unidad > div > div{
    padding-right: 4px;
    padding-left: 4px;
    border-right: 1px solid white;
}

.datos-generales-unidad > div > div:last-child{
    padding-right: 0;
    padding-left: 4px;
    border-right: none;
}

