<section fxLayout="column" style="height: 100%; overflow: hidden; flex: 1 1 0%;" (document:keydown.escape)="cancelarAccion()"> <!-- Main Body <<<<<<< -->
    <section fxFlex="none" class="salida-toolbar"> <!-- Toolbar Menu <<<<<<< -->
        <div fxLayout="row">
            <button fxFlex="none" mat-button color="default" [matMenuTriggerFor]="menuArticulo" aria-label="Menu de articulo">
                <mat-icon>settings</mat-icon> Opciones <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <button fxFlex="none" mat-button [disabled]="isSaving || !formArticulo.valid || selectedDetalleIndex >= 0 || esListaExistencias" (click)="guardarArticulo()" [class.button-spinner]="isSaving">
                <mat-icon>save</mat-icon> Guardar
            </button>
            <div fxFlex>
            </div>
            <button *ngIf="tieneExistencias" fxFlex="none" class="boton-accion-medio" mat-flat-button color="accent" (click)="verListaExistencias()">
                <mat-icon>sync_alt</mat-icon> {{(esListaExistencias)?'Datos Articulo':'Ver Lista de Unidades con Existencias'}}
            </button>
            <div fxFlex>
            </div>
            <div fxFlex="none" class="label-info">
                <span>{{(ultimaActualizacion)?(ultimaActualizacion | date:'long'):'Articulo - Nuevo'}}</span>
            </div>
            <button fxFlex="none" class="boton-accion" mat-button (click)="cerrar()"><mat-icon>close</mat-icon> Cerrar</button>
        </div>
        <mat-progress-bar *ngIf="isLoading || isSaving" mode="indeterminate" [color]="(isSaving)?'accent':'primary'"></mat-progress-bar>
        <mat-menu #menuArticulo="matMenu">
            <button mat-menu-item (click)="nuevoArticulo()">
                <mat-icon>add_circle</mat-icon>
                <span>Nuevo Articulo</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="eliminaArticulo()" class="para-borrar" *ngIf="formArticulo && formArticulo.get('id').value">
                <mat-icon color="warn">delete</mat-icon>
                <span>Eliminar Articulo</span>
            </button>
        </mat-menu>
    </section> <!-- <<<<<<< Toolbar Menu -->

    <section fxFlex fxLayout="column" style="padding: 10px;" *ngIf="esListaExistencias">
        <div fxFlex="none" *ngIf="isLoading" class="loading-lotes">
            Cargando Información de lotes
        </div>
        <div fxFlex="none" fxLayout="row" fxLayoutGap="5px" [style.fontSize.px]="15" *ngIf="!isLoading">
            <mat-card fxFlex fxLayout="row raw"  fxLayoutGap="5px" *ngIf="infoArticulo" class="datos-articulo">
                <div fxFlex class="fake-input">
                    <span class="label">Clave:</span>
                    <span class="value">{{infoArticulo.clave_local}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Familia:</span>
                    <span class="value">{{infoArticulo.familia}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Partida Especifica:</span>
                    <span class="value">{{infoArticulo.clave_partida_especifica}} - {{infoArticulo.partida_especifica}}</span>
                </div>
                <div fxFlex="100" class="fake-input">
                    <span class="label">Especificaciones:</span>
                    <span class="value-text">{{infoArticulo.especificaciones}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Tipo:</span>
                    <span class="value">{{infoArticulo.tipo_bien_servicio}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Unidad de Medida:</span>
                    <span class="value">{{(infoArticulo.unidad_medida)?infoArticulo.unidad_medida:'Sin Asignar'}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Descontinuado:</span>
                    <span class="value-icon"><mat-icon>{{(infoArticulo.descontinuado)?'check_box':'check_box_outline_blank'}}</mat-icon></span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Requiere Fecha de Caducidad:</span>
                    <span class="value-icon"><mat-icon>{{(infoArticulo.tiene_fecha_caducidad)?'check_box':'check_box_outline_blank'}}</mat-icon></span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Puede Surtir por Piezas:</span>
                    <span class="value-icon"><mat-icon>{{(infoArticulo.puede_surtir_unidades)?'check_box':'check_box_outline_blank'}}</mat-icon></span>
                </div>
            </mat-card>
        </div>
        <mat-card fxFlex fxLayout="column" class="empaque-detalles" *ngIf="!isLoading">
            <div fxFlex style="overflow: auto;" class="tabla-contenido">
                <table mat-table [dataSource]="dataSourceLotes" class="lista-lotes-table" matSort>
                    <ng-container matColumnDef="unidad_medica">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidad Medica </th>
                        <td mat-cell *matCellDef="let row">
                            {{row.unidad_medica}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="detalle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalle </th>
                        <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px;">
                            {{(row.empaque_detalle_id)?row.empaque_detalle:'Sin Detalles Asignados'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="almacen">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Almacén </th>
                        <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px;">
                            {{row.almacen}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="lote">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header width="1" style="white-space: nowrap; padding:0px 5px;"> # Lotes </th>
                        <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px;">
                            {{row.lote}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fecha_caducidad" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header width="1"> Fecha de<br>Caducidad </th>
                        <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px;">
                            {{row.fecha_caducidad | date:'MMMM d, y'}} 
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="existencia" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header width="1"> Existencia<br>(Piezas) </th>
                        <td mat-cell *matCellDef="let row"> 
                            {{row.existencia||0 | number:'1.0-0'}}<br>
                            ({{row.existencia_piezas||0 | number:'1.0-0'}})
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="movimientos" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header width="1"> Movimientos </th>
                        <td mat-cell *matCellDef="let row" class="descripcion"> {{row.movimientos}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="noResultsFound">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length"> No se encontraron Lotes </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row class="tabla-row-articulo" *matRowDef="let row; let i = index; columns: displayedColumns;">
                    <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="no-results-found" [ngClass]="{'hide': dataSourceLotes && dataSourceLotes.filteredData.length > 0}"></tr>
                </table>
            </div>
            <div fxFlex="none" fxLayout="row">
                <div fxFlex="none" style="padding-top: 10px;">
                </div>
                <div fxFlex>
                    <mat-paginator [pageSize]="pageSize" [pageIndex]="currentPage" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </mat-card>
    </section>

    <section fxFlex fxLayout="column" style="padding: 10px;" *ngIf="!esListaExistencias">
        <div fxFlex="none" fxLayout="row wrap" fxLayoutGap="5px" [formGroup]="formArticulo" [style.fontSize.px]="15">
            <div fxFlex="100" fxLayout="row" fxLayoutGap="5px">
                <mat-form-field fxFlex>
                    <mat-label>Partida Especifica</mat-label>
                    <input type="text" matInput aria-label="Partida Especifica" placeholder="Teclee para buscar una partida" formControlName="partida_especifica" (blur)="validarOpcionSeleccionada('partida_especifica')" [matAutocomplete]="autoPartidas" autocomplete="off" required>
                    <button mat-icon-button matPrefix>
                        <mat-icon>list_alt</mat-icon>
                    </button>
                    <mat-error *ngIf="formArticulo.get('partida_especifica').hasError('required')">Este campo es obligatorio</mat-error>
                    <mat-autocomplete autoActiveFirstOption #autoPartidas="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" panelWidth="auto">
                        <mat-option *ngIf="catalogoAutocomplete['partidas'].length == 0" value="">No hay Partidas capturados</mat-option>
                        <mat-option *ngFor="let partida of filteredPartidas | async" [value]="partida">
                            [{{partida.clave}}] {{partida.descripcion}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint *ngIf="formArticulo.get('partida_especifica').value">
                        [ {{formArticulo.get('partida_especifica').value.clave}} ]
                    </mat-hint>
                    <mat-hint align="end" *ngIf="formArticulo.get('partida_especifica').value && formArticulo.get('partida_especifica').value.id">
                        Partida Seleccionada
                    </mat-hint>
                    <mat-error *ngIf="formArticulo.get('partida_especifica').hasError('notSelected')">Seleccionar un elemento de la lista</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="30">
                    <mat-label>Familia</mat-label>
                    <input type="text" matInput aria-label="Familia" placeholder="Teclee para buscar una familia" formControlName="familia" (blur)="validarOpcionSeleccionada('familia')" [matAutocomplete]="autoFamilias" autocomplete="off" required>
                    <button mat-icon-button matPrefix>
                        <mat-icon>list_alt</mat-icon>
                    </button>
                    <mat-error *ngIf="formArticulo.get('familia').hasError('required')">Este campo es obligatorio</mat-error>
                    <mat-autocomplete autoActiveFirstOption #autoFamilias="matAutocomplete" [displayWith]="getDisplayFn('nombre')" panelWidth="auto">
                        <mat-option *ngIf="catalogoAutocomplete['familias'].length == 0" value="">No hay Familias capturadas</mat-option>
                        <mat-option *ngFor="let familia of filteredFamilias | async" [value]="familia">
                            {{familia.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint *ngIf="formArticulo.get('familia').value">
                        <mat-icon>{{(formArticulo.get('familia').value.id)?'check_box':'indeterminate_check_box'}}</mat-icon>
                    </mat-hint>
                    <mat-hint align="end" *ngIf="formArticulo.get('familia').value && formArticulo.get('familia').value.id">
                        Familia Seleccionada
                    </mat-hint>
                    <mat-error *ngIf="formArticulo.get('familia').hasError('notSelected')">Seleccionar un elemento de la lista</mat-error>
                </mat-form-field>
            </div>

            <mat-form-field fxFlex>
                <mat-label>Tipo Articulo</mat-label>
                <mat-select formControlName="tipo_bien_servicio_id" required>
                    <mat-option *ngIf="selectTiposArticulo.length == 0">Sin Tipos Registados</mat-option>
                    <mat-option *ngFor="let item of selectTiposArticulo" [value]="item.id">
                        {{item.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex>
                <mat-label>Clave CUBS</mat-label>
                <input matInput formControlName="clave_cubs" autocomplete="off">
                <mat-error *ngIf="formArticulo.get('clave_cubs').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
                <mat-label>Clave Local</mat-label>
                <button mat-icon-button matPrefix (click)="toggleClaveLocal()">
                    <mat-icon>{{autoClaveLocal ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
                </button>
                <input matInput formControlName="clave_local" autocomplete="off" required>
                <mat-error *ngIf="formArticulo.get('clave_local').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Articulo</mat-label>
                <input matInput #articulo formControlName="articulo" autocomplete="off" required>
                <mat-hint align="end">{{articulo.value?.length || 0}}/255</mat-hint>
                <mat-error *ngIf="formArticulo.get('articulo').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100" appearance="outline">
                <mat-label>Especificaciones</mat-label>
                <textarea matInput formControlName="especificaciones" rows="3" required></textarea>
            </mat-form-field>

            <mat-form-field fxFlex="100" appearance="outline">
                <mat-label>Destacar:</mat-label>
                <textarea matInput formControlName="destacar" rows="1"></textarea>
            </mat-form-field>

            <mat-form-field fxFlex>
                <mat-label>Unidad de Medida</mat-label>
                <input type="text" matInput aria-label="Unidad de Medida" placeholder="Teclee para buscar una Unidad de Medida" formControlName="unidad_medida" (blur)="validarOpcionSeleccionadaDetalles('unidad_medida')" [matAutocomplete]="autoUnidadesMedidaArticulo" autocomplete="off" required>
                <button mat-icon-button matPrefix>
                    <mat-icon>list_alt</mat-icon>
                </button>
                <mat-error *ngIf="formArticulo.get('unidad_medida').hasError('required')">Este campo es obligatorio</mat-error>
                <mat-autocomplete autoActiveFirstOption #autoUnidadesMedidaArticulo="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" panelWidth="auto">
                    <mat-option *ngIf="catalogoAutocomplete['unidades_medida'].length == 0" value="">No hay Unidades de Medida capturadas</mat-option>
                    <mat-option *ngFor="let unidad_medida of filteredUnidadesMedidaArticulo | async" [value]="unidad_medida">
                        {{unidad_medida.descripcion}}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint *ngIf="formArticulo.get('unidad_medida').value">
                    <mat-icon>{{(formArticulo.get('unidad_medida').value.id)?'check_box':'indeterminate_check_box'}}</mat-icon>
                </mat-hint>
                <mat-hint align="end" *ngIf="formArticulo.get('unidad_medida').value && formArticulo.get('unidad_medida').value.id">
                    Unidad de Medida Seleccionada
                </mat-hint>
                <mat-error *ngIf="formArticulo.get('unidad_medida').hasError('notSelected')">Seleccionar un elemento de la lista</mat-error>
            </mat-form-field>

            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <div class="mat-form-field" fxFlex="none">
                    <mat-checkbox formControlName="descontinuado">
                        Descontinuado
                    </mat-checkbox>
                </div>

                <div class="mat-form-field" fxFlex="none">
                    <mat-checkbox formControlName="tiene_fecha_caducidad">
                        Requiere Fecha de Caducidad
                    </mat-checkbox>
                </div>

                <div class="mat-form-field" fxFlex="none">
                    <mat-checkbox formControlName="puede_surtir_unidades">
                        Puede Surtir por Piezas
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <mat-card class="empaque-detalles" fxFlex="none" fxLayout="column">
            <div class="titulo" fxflex="none">Empaque Detalles:</div>
            <div fxFlex fxLayout="row">
                <div class="formulario" fxFlex fxLayout="column">
                    <div fxFlex="none" fxLayout="row wrap" [formGroup]="formDetalles" class="panel-formulario">
                        <mat-form-field fxFlex="50">
                            <mat-label>Empaque</mat-label>
                            <input type="text" matInput aria-label="Empaque" placeholder="Teclee para buscar un Empaque" formControlName="empaque" (blur)="validarOpcionSeleccionadaDetalles('empaque')" [matAutocomplete]="autoEmpaques" autocomplete="off" required>
                            <button mat-icon-button matPrefix>
                                <mat-icon>list_alt</mat-icon>
                            </button>
                            <mat-error *ngIf="formDetalles.get('empaque').hasError('required')">Este campo es obligatorio</mat-error>
                            <mat-autocomplete autoActiveFirstOption #autoEmpaques="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" panelWidth="auto">
                                <mat-option *ngIf="catalogoAutocomplete['empaques'].length == 0" value="">No hay Empaques capturados</mat-option>
                                <mat-option *ngFor="let empaque of filteredEmpaques | async" [value]="empaque">
                                    {{empaque.descripcion}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint *ngIf="formDetalles.get('empaque').value">
                                <mat-icon>{{(formDetalles.get('empaque').value.id)?'check_box':'indeterminate_check_box'}}</mat-icon>
                            </mat-hint>
                            <mat-hint align="end" *ngIf="formDetalles.get('empaque').value && formDetalles.get('empaque').value.id">
                                Empaque Seleccionado
                            </mat-hint>
                            <mat-error *ngIf="formDetalles.get('empaque').hasError('notSelected')">Seleccionar un elemento de la lista</mat-error>
                        </mat-form-field>
        
                        <mat-form-field fxFlex="50">
                            <mat-label>Unidad de Medida</mat-label>
                            <input type="text" matInput aria-label="Unidad de Medida" placeholder="Teclee para buscar una Unidad de Medida" formControlName="unidad_medida" (blur)="validarOpcionSeleccionadaDetalles('unidad_medida')" [matAutocomplete]="autoUnidadesMedida" autocomplete="off" required>
                            <button mat-icon-button matPrefix>
                                <mat-icon>list_alt</mat-icon>
                            </button>
                            <mat-error *ngIf="formDetalles.get('unidad_medida').hasError('required')">Este campo es obligatorio</mat-error>
                            <mat-autocomplete autoActiveFirstOption #autoUnidadesMedida="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" panelWidth="auto">
                                <mat-option *ngIf="catalogoAutocomplete['unidades_medida'].length == 0" value="">No hay Unidades de Medida capturadas</mat-option>
                                <mat-option *ngFor="let unidad_medida of filteredUnidadesMedida | async" [value]="unidad_medida">
                                    {{unidad_medida.descripcion}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint *ngIf="formDetalles.get('unidad_medida').value">
                                <mat-icon>{{(formDetalles.get('unidad_medida').value.id)?'check_box':'indeterminate_check_box'}}</mat-icon>
                            </mat-hint>
                            <mat-hint align="end" *ngIf="formDetalles.get('unidad_medida').value && formDetalles.get('unidad_medida').value.id">
                                Unidad de Medida Seleccionada
                            </mat-hint>
                            <mat-error *ngIf="formDetalles.get('unidad_medida').hasError('notSelected')">Seleccionar un elemento de la lista</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="none">
                            <mat-label>Piezas x Empaque</mat-label>
                            <input matInput #descripcion type="number" formControlName="piezas_x_empaque" autocomplete="off" (keyup.enter)="aceptarDetalles()" required>
                            <mat-error *ngIf="formDetalles.get('piezas_x_empaque').hasError('required')">Este campo es obligatorio</mat-error>
                        </mat-form-field>
        
                        <mat-form-field fxFlex>
                            <mat-label>Descripcion</mat-label>
                            <button mat-icon-button matPrefix (click)="toggleDescripcionAutomatica(!autoDescripcion)">
                                <mat-icon>{{autoDescripcion ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
                            </button>
                            <input matInput #descripcion formControlName="descripcion" autocomplete="off" (keyup.enter)="aceptarDetalles()" required>
                            <mat-hint align="end">{{descripcion.value?.length || 0}}/255</mat-hint>
                            <mat-error *ngIf="formDetalles.get('descripcion').hasError('required')">Este campo es obligatorio</mat-error>
                        </mat-form-field>

                        <div class="mat-form-field" fxFlex="none">
                            <mat-checkbox formControlName="en_especificaciones">
                                En  Especificaciones
                            </mat-checkbox>
                        </div>
                        <div fxFlex="100" fxLayout="row" fxLayoutGap="10px" class="botones">
                            <div fxFlex="none">
                                <mat-slide-toggle formControlName="eliminar" color="warn" [disabled]="selectedDetalleIndex < 0">Marcar para Eliminar</mat-slide-toggle>
                            </div>
                            <div fxFlex></div>
                            <button fxFlex="none" mat-stroked-button (click)="cancelarDetalles()">Cancelar</button>
                            <button fxFlex="none" mat-stroked-button (click)="aceptarDetalles()" color="primary" [disabled]="!formDetalles.valid">Aceptar</button>
                        </div>
                    </div>
                </div>
                <div class="detalles" fxFlex>
                    <mat-selection-list [multiple]="false" #listaDetalles (selectionChange)="seleccionarDetalle($event)">
                        <mat-list-option *ngIf="empaqueDetalles.length == 0" [disabled]="true">
                            Sin elementos registrados
                        </mat-list-option>
                        <mat-list-option *ngFor="let detalle of empaqueDetalles" [value]="detalle" [ngClass]="{'para-borrar':detalle.eliminar}">
                            <div fxLayout="row">
                                <div fxFlex="none">
                                    <mat-icon mat-list-icon *ngIf="detalle.eliminar">delete_sweep</mat-icon>
                                    <mat-icon mat-list-icon *ngIf="!detalle.eliminar && detalle.id">{{(detalle.editado)?'save_as':'save'}}</mat-icon>
                                    <mat-icon mat-list-icon *ngIf="!detalle.eliminar && !detalle.id">sticky_note_2</mat-icon>
                                </div>
                                <div fxFlex="none">
                                    <div mat-line>{{detalle.descripcion}}</div>
                                    <div mat-line>{{detalle.empaque.descripcion}} - {{detalle.piezas_x_empaque | number:'1.0-0'}} - {{detalle.unidad_medida.descripcion}}</div>
                                </div>
                                <div fxFlex></div>
                                <div fxFlex="none" class="icono-dato">
                                    <mat-icon mat-list-icon color="accent">{{(detalle.en_especificaciones)?'radio_button_checked':'radio_button_unchecked'}}</mat-icon>
                                </div>
                                <div fxFlex="none" class="icono-dato">
                                    <mat-icon mat-list-icon>{{(detalle.existencias)?'inventory':'content_paste_off'}}</mat-icon>
                                </div>
                            </div>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
        </mat-card>
    </section>
</section>