<section fxLayout="column" fxLayoutAlign="start" style="min-height:470px; overflow: auto; flex: 1 1 0%;" (document:keydown.escape)="cancelarAccion()">
    <section fxFlex="none" class="dialog-toolbar">
        <div fxLayout="row">
            <div fxFlex="none" class="label-info">
                <mat-icon>admin_panel_settings</mat-icon> Petición para Modificar Movimiento:
            </div>
            <div fxFlex>
            </div>
            <button fxFlex="none" class="boton-accion" mat-button (click)="cerrar()"><mat-icon>close</mat-icon></button>
        </div>
    </section>
    <section fxFlex fxLayout="column" [formGroup]="modificarForm" style="padding: 8px;">
        <div fxFlex="none" class="fake-input">
            <span class="label">Fecha:</span> {{modificarForm.get('solicitado_fecha').value | date:'MMMM d, y':'GMT-6'}}
        </div>
        <div fxFlex="none" class="fake-input" style="padding-bottom:0.75em;">
            <span class="label">Usuario:</span>&nbsp;<span class="nombre-usuario">{{usuarioSolicita}}</span>
        </div>
        <div fxFlex fxLayout="column" *ngIf="isLoading">
            <div fxFlex></div>
            <div fxFlex="none">
                <mat-spinner style="margin:0 auto;"></mat-spinner>
            </div>
            <div fxFlex></div>
        </div>
        <div fxFlex fxLayout="column" *ngIf="!isLoading && mostrarErrores" class="errors-panel">
            <div fxFlex fxLayout="row">
                <div fxFlex></div>
                <button fxFlex="none" mat-icon-button (click)="mostrarErrores = false"><mat-icon>clear</mat-icon></button>
            </div>
            <div fxFlex="none" class="icon">
                <mat-icon>warning</mat-icon>
            </div>
            <div fxFlex="none" class="message">
                {{mensajeError}}
            </div>
            <div fxFlex></div>
        </div>
        <div fxFlex fxLayout="column" *ngIf="!isLoading && !mostrarErrores">
            <div fxFlex="none" class="nivel-modificacion">
                <span>Nivel: </span>
                <mat-radio-group color="primary" aria-label="Nivel de Modificación" formControlName="nivel_modificacion" [disabled]="!puedeEditar">
                    <mat-radio-button [value]="1">Solo Encabezado</mat-radio-button>
                    <mat-radio-button [value]="2">Incluir Articulos</mat-radio-button>
                </mat-radio-group>
            </div>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Motivo:</mat-label>
                <textarea rows="3" cdkFocusInitial matInput #motivo maxlength="255" formControlName="motivo_modificacion" [readonly]="!puedeEditar"></textarea>
                <mat-hint align="end">{{motivo.value.length}}/255</mat-hint>
            </mat-form-field>
            <div fxFlex fxLayout="column" class="admin-access">
                <div fxFlex fxLayout="column" fxLayoutGap="5px" *ngIf="!mostrarFormUsuario">
                    <button fxFlex mat-flat-button color="admin" (click)="toggleMostrarFormUsuario('aprobar')" *ngIf="!datosAprobado" [disabled]="cancelado">
                        <mat-icon>vpn_key</mat-icon> Aprobar
                    </button>
                    <div fxFlex mat-stroked-button *ngIf="datosAprobado" class="datos-usuario">
                        <span class="label">Aprobado:</span><br>
                        <span class="label">Usuario:</span>&nbsp;{{datosAprobado.nombre}}<br>
                        <span class="label">Fecha:</span>&nbsp;{{datosAprobado.fecha | date:'MMMM d, y':'GMT-6'}}
                    </div>
                    <mat-divider></mat-divider>
                    <button fxFlex mat-flat-button color="warn" (click)="toggleMostrarFormUsuario('cancelar')" *ngIf="modificacionGuardada && !datosCancelado">
                        <mat-icon>block</mat-icon> Cancelar
                    </button>
                    <div fxFlex mat-stroked-button *ngIf="datosCancelado" class="datos-usuario">
                        <span class="label">Cancelado:</span><br>
                        <span class="label">Usuario:</span>&nbsp;{{datosCancelado.nombre}}<br>
                        <span class="label">Fecha:</span>&nbsp;{{datosCancelado.fecha | date:'MMMM d, y':'GMT-6'}}
                    </div>
                </div>
                <div *ngIf="mostrarFormUsuario" fxFlex="none" fxLayout="column">
                    <div fxFlex="none" fxLayout="row">
                        <div fxFlex>Usuario que {{(aprobarModificacion)?'Aprueba':'Cancela'}}:</div>
                        <button fxFlex="none" mat-icon-button class="small-icon-button" (click)="toggleMostrarFormUsuario()"><mat-icon>clear</mat-icon></button>
                    </div>
                    <div fxFlex *ngIf="cancelarModificacion && puedeCancelar" class="datos-usuario">
                        <br>
                        <span class="label">Usuario:</span>&nbsp;{{authUser.name}}<br>
                        <span class="label">Fecha:</span>&nbsp;{{hoy | date:'MMMM d, y':'GMT-6'}}
                    </div>
                    <div fxFlex fxLayout="column" [style.fontSize.px]="12" *ngIf="aprobarModificacion || (cancelarModificacion && !puedeCancelar)">
                        <mat-form-field fxFlex appearance="outline" *ngIf="modificarForm.get('usuario')">
                            <mat-label>Usuario</mat-label>
                            <input type="text" matInput #username placeholder="Usuario" formControlName="usuario" autocomplete="off">
                            <mat-error>El usuario no es válido</mat-error>
                            <mat-icon matPrefix>person</mat-icon>
                        </mat-form-field>
                        <mat-form-field fxFlex appearance="outline" *ngIf="modificarForm.get('contrasena')">
                            <mat-label>Contraseña</mat-label>
                            <input type="password" matInput placeholder="Contraseña" formControlName="contrasena" (keyup.enter)="aceptar()">
                            <mat-error>La contraseña es requerida.</mat-error>
                            <mat-icon matPrefix>vpn_key</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section fxFlex="none" fxLayout="row" fxLayoutGap="10px" style="padding: 8px;">
        <div fxFlex *ngIf="cancelado"></div>
        <button fxFlex mat-raised-button color="primary" (click)="aceptar()" *ngIf="!mostrarFormUsuario && !cancelado" [disabled]="isLoading || !modificarForm.valid || mostrarErrores || !puedeEditar" [class.button-spinner]="isLoading"> 
            {{(modificacionGuardada)?'Actualizar Motivo':'Solicitar Modificación'}}
        </button>
        <button fxFlex mat-raised-button [color]="(aprobarModificacion)?'admin':'warn'" (click)="aceptar()" *ngIf="mostrarFormUsuario && !cancelado" [disabled]="isLoading || !modificarForm.valid || mostrarErrores" [class.button-spinner]="isLoading">
            {{(aprobarModificacion)?'Aprobar':'Cancelar'}} Modificación
        </button>
    </section>
</section>