<div style="width: 100%; height: 100%;" fxLayout="column" fxLayoutGap="8px">
    <mat-card fxFlex fxLayout="column" class="panel-clues">
        <div fxFlex="none" fxLayout="column" class="datos-unidad">
            <div fxflex="none">
                <span class="etiqueta">CLUES:</span>
                <span class="valor">CSSSA199954</span>
            </div>
            <div fxflex="none">
                <span class="etiqueta">Nombre de la Unidad Medica:</span>
                <span class="valor">hospital chiapas nos une dr jesus gilberto gomez maza</span>
            </div>
            <div fxflex="none">
                <span class="etiqueta">Direccion:</span>
                <span class="valor">Conocida</span>
            </div>
        </div>
        <div fxFlex fxLayout="column" class="datos-del-sistema">
            <div fxFlex="none" fxLayout="row">
                <span fxFlex class="etiqueta">Total Almacenes:</span>
                <span fxFlex="none" class="valor">{{0 | number:'1.0-0'}}</span>
            </div>
            <div fxFlex="none" fxLayout="row">
                <span fxFlex class="etiqueta">Total Usuarios:</span>
                <span fxFlex="none" class="valor">{{0 | number:'1.0-0'}}</span>
            </div>
        </div>
    </mat-card>
</div>