.small-search-input{
    padding: 0px 5px 5px 5px;
}

.agregar-articulos{
    padding:20px 8px 8px 8px;
}

:host ::ng-deep .small-search-input.agregar-articulos > .mat-form-field{
    background-color: rgb(213, 213, 255);
}

:host ::ng-deep .small-search-input > .mat-form-field{
    width: 100%;
    background-color: whitesmoke;
}

:host ::ng-deep .small-search-input > .mat-form-field > .mat-form-field-wrapper { 
    padding: 0px !important;
    margin: 0px !important;
}

:host ::ng-deep .small-search-input > .mat-form-field-flex > .mat-form-field-infix { 
    padding: 0px !important;
}

:host ::ng-deep .small-search-input.agregar-articulos .mat-form-field-label { 
    font-weight: bolder !important;
}

:host ::ng-deep .small-search-input > .mat-form-field-appearance-outline .mat-form-field-infix { 
    padding: 0.8em 0em 0.5em 0em !important;
    border-top:none;
}

.small-icon-button {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
}

.small-icon-button .mat-icon {
    width: 16px !important;
    height: 16px !important;
    line-height: 16px !important;
}

.small-icon-button .material-icons {
    font-size: 16px !important;
}

.loading-data {
    padding: 0px !important;
    margin: 5px;
    text-align: center;
    font-style: italic;
    min-width: 200px;
}

.loading-error {
    padding: 0px !important;
    margin: 5px;
    text-align: center;
    font-style: italic;
    min-width: 200px;
    color: rgba(255,0,0,.68);
}

.item-resultados-busqueda{
    padding: 0px !important;
    height: auto !important;
    width: 100%;
    line-height: normal;
    white-space: normal;
}

.item-resultados-busqueda:hover{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    border:1px dashed darkgrey;
}

.articulo-container{
    vertical-align: middle;
    font-size: small;
}

.articulo-container .mat-icon{
    margin: 0px !important;
}

.articulo-container:hover .articulo-descripcion{
    background-color: white !important;
}

.articulo-header{
    background-color: #242424 !important;
    color: whitesmoke;
}

.articulo-titulo{
    padding: 5px;
    text-align: right;
}

.articulo-iconos{
    color: #373636;
    /*border: 1px solid black;
    border-radius: 5px 0px 0px 5px;*/
}

.articulo-iconos > .icono{
    height: 40px !important;
    width: 40px !important;
    padding: 1px;
    font-size: 37px !important;    
}

.articulo-iconos > .icono.activo{
    color: gainsboro;
}

.articulo-info{
    padding: 5px;
    font-weight: bold;
}

.articulo-descripcion{
    padding:5px;
    background-color: whitesmoke;
}

.articulo-clave{
    font-weight: bolder;
    padding-bottom:2px;
}

.articulo-nombre{
    font-weight: bold;
    padding-bottom:2px;
}

.articulo-texto{
    max-height: 100px;
    height: auto;
}

.articulo-footer{
    background-color: gainsboro !important;
}