<section fxLayout="column" style="height: 100%; overflow: hidden; flex: 1 1 0%;"> <!-- Main Body <<<<<<< -->
    <section fxFlex fxLayout="column">
        <div fxFlex="none" fxLayout="row" class="encabezado caducidad-{{coloresCaducidad[estatusCaducidad]}}" [ngClass]="{'a-eliminar':marcadoParaEliminar}">
            <div fxFlex="none">
                <mat-icon>{{listaIconosEstatus[estatusCaducidad]}}</mat-icon>
            </div>
            <div flFlex="none" *ngIf="data.articulo">
                {{data.articulo.clave}}: {{data.articulo.nombre}}
            </div>
            <div fxFlex></div>
            <div fxFlex="none">
                Fecha Movimiento: {{data.fecha_movimiento | date}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxFlex="none" fxLayout="column" fxLayoutGap="5px" [formGroup]="formStock" style="padding: 8px;">
            <div fxFlex="100" fxLayout="row raw" fxLayoutGap="5px" *ngIf="data.articulo.tipo_formulario == 'MEDS'">
                <mat-form-field fxFlex="none">
                    <mat-label>Lote</mat-label>
                    <input matInput formControlName="lote" required autocomplete="off" [disabled]="marcadoParaEliminar">
                    <mat-error *ngIf="formStock.get('lote').hasError('required')">Este campo es obligatorio</mat-error>
                    <mat-error *ngIf="formStock.get('lote').hasError('duplicated')">Los datos de este Lote ya fueron capturados</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="none">
                    <mat-label>Fecha Caducidad</mat-label>
                    <input matInput formControlName="fecha_caducidad" [required]="data.articulo.tiene_fecha_caducidad > 0" [matDatepicker]="pickerCaducidad" (dateInput)="checarCaducidadFormulario()" readonly>
                    <span *ngIf="estatusCaducidad > 1" matSuffix><mat-icon color="warn">priority_high</mat-icon></span>
                    <mat-datepicker-toggle matPrefix  [disabled]="marcadoParaEliminar" [for]="pickerCaducidad"></mat-datepicker-toggle>
                    <mat-datepicker #pickerCaducidad startView="multi-year"></mat-datepicker>
                    <mat-hint align="start" *ngIf="!etiquetaEstatus"><mat-icon>arrow_upward</mat-icon>Click para seleccionar</mat-hint>
                    <mat-hint align="end" style="color:red;" *ngIf="estatusCaducidad > 1">{{etiquetaEstatus}}</mat-hint>
                    <mat-error *ngIf="formStock.get('fecha_caducidad').hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="none">
                    <mat-label>Código de Barras</mat-label>
                    <input matInput formControlName="codigo_barras" autocomplete="off" [disabled]="marcadoParaEliminar">
                </mat-form-field>
                <mat-form-field fxFlex="none">
                    <mat-label>Cantidad<span *ngIf="formStock.get('entrada_piezas').value"> (Piezas)</span></mat-label>
                    <button mat-icon-button matSuffix (click)="formStock.get('entrada_piezas').patchValue(!formStock.get('entrada_piezas').value)" [disabled]="marcadoParaEliminar">
                        <mat-icon>{{formStock.get('entrada_piezas').value ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
                    </button>
                    <input matInput formControlName="cantidad" type="number" required autocomplete="off" [disabled]="marcadoParaEliminar">
                    <mat-error *ngIf="formStock.get('cantidad').hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <mat-label>Detalles</mat-label>
                    <mat-select formControlName="empaque_detalle_id" [disabled]="marcadoParaEliminar">
                        <mat-option *ngIf="!data.articulo.empaque_detalle || data.articulo.empaque_detalle.length == 0">Sin Detalles Asignados</mat-option>
                        <mat-option *ngFor="let detalle of data.articulo.empaque_detalle" [value]="detalle.id">
                            {{detalle.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="none">
                    <mat-label>Precio Unitario</mat-label>
                    <input matInput formControlName="precio_unitario" type="number" autocomplete="off" [disabled]="marcadoParaEliminar">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>
                <mat-form-field fxFlex="none">
                    <mat-label>IVA</mat-label>
                    <input matInput formControlName="iva" type="number" autocomplete="off" [disabled]="marcadoParaEliminar">
                </mat-form-field>
            </div>
            <div fxFlex="100" fxLayout="row raw" fxLayoutGap="5px" fxLayoutAlign="space-between center" *ngIf="data.articulo.tipo_formulario == 'ACTVO'">
                <mat-form-field fxFlex>
                    <mat-label>No. de Serie</mat-label>
                    <input matInput formControlName="no_serie" required autocomplete="off" [disabled]="marcadoParaEliminar">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Modelo</mat-label>
                    <input matInput formControlName="modelo" autocomplete="off" [disabled]="marcadoParaEliminar">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Marca</mat-label>
                    <input type="text" placeholder="Seleccione una marca" aria-label="Marca" matInput formControlName="marca" [matAutocomplete]="listaMarcas" autocomplete="off" [disabled]="marcadoParaEliminar">
                    <button mat-icon-button matPrefix>
                        <mat-icon>list_alt</mat-icon>
                    </button>
                    <mat-autocomplete autoActiveFirstOption [displayWith]="displayFn" #listaMarcas="matAutocomplete" panelWidth="auto">
                        <mat-option *ngIf="!formStock.get('marca').value && (!catalogoMarcas || catalogoMarcas.length == 0)" [disabled]="true">Sin marcas capturadas</mat-option>
                        <mat-option *ngFor="let marca of filteredMarcas | async" [value]="marca">
                            {{marca.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Cantidad</mat-label>
                    <input matInput formControlName="cantidad" type="number" required autocomplete="off" [disabled]="marcadoParaEliminar">
                    <mat-error *ngIf="formStock.get('cantidad').hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="none">
                    <mat-label>Precio Unitario</mat-label>
                    <input matInput formControlName="precio_unitario" type="number" autocomplete="off" [disabled]="marcadoParaEliminar">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>
                <mat-form-field fxFlex="none">
                    <mat-label>IVA</mat-label>
                    <input matInput formControlName="iva" type="number" autocomplete="off" [disabled]="marcadoParaEliminar">
                </mat-form-field>
                <div fxFlex></div>
            </div>
            <div fxFlex="100" fxLayout="row" *ngIf="mostrarCartaCanje && !marcadoParaEliminar" class="carta-canje">
                <span fxFlex="fill"></span>
                <div fxFlex="18" class="cc-campo">
                    <div class="cc-etiqueta">
                        <div>Carta de Canje: </div>
                    </div>
                </div>
                <mat-form-field fxFlex="20" class="cc-campo">
                    <mat-label>Folio de Memo</mat-label>
                    <input matInput formControlName="memo_folio" type="text" autocomplete="off">
                    <mat-error *ngIf="formStock.get('memo_folio').hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field  fxFlex="20" class="cc-campo">
                    <mat-label>Fecha de Memo</mat-label>
                    <input matInput formControlName="memo_fecha" [max]="fechaActual" [matDatepicker]="pickerMemo" readonly>
                    <mat-datepicker-toggle matPrefix [for]="pickerMemo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerMemo startView="year"></mat-datepicker>
                    <mat-hint align="start"><mat-icon>arrow_upward</mat-icon>Click para seleccionar</mat-hint>
                    <mat-error *ngIf="formStock.get('memo_fecha').hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field >
                <mat-form-field fxFlex="16" class="cc-campo">
                    <mat-label>Vigencia</mat-label>
                    <input matInput formControlName="vigencia_meses" type="number" autocomplete="off">
                    <span matSuffix>Meses</span>
                    <mat-error *ngIf="formStock.get('vigencia_meses').hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>
                <div fxFlex="none" class="cc-campo"></div>
                <span fxFlex="fill"></span>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxFlex="none" fxLayout="row" fxLayoutGap="5px" style="padding: 8px;">
            <button fxFlex="none" mat-button (click)="toggleCartaCanje(!mostrarCartaCanje)" *ngIf="estatusCaducidad > 1" color="accent">
                <mat-icon>{{(mostrarCartaCanje)?'event_busy':'event_note'}}</mat-icon> Carta de Canje
            </button>
            <div fxFlex></div>
            <button fxFlex="none" mat-button [ngClass]="{'mat-stroked-button':(marcadoParaEliminar)}" color="warn" (click)="marcarEliminarLote()">
                <mat-icon fontSet="{{(!marcadoParaEliminar)?'material-icons-outlined':''}}">delete</mat-icon> {{(marcadoParaEliminar)?'Marcado para Eliminar':'Marcar para Eliminar'}}
            </button>
            <div fxFlex></div>
            <button fxFlex="none" mat-stroked-button (click)="cancelarEdicion()" >Cancelar</button>
            <button fxFlex="none" color="accent" mat-flat-button [disabled]="!formStock.valid" (click)="aceptarCambiosStock()">Aceptar</button>
        </div>
        <mat-divider></mat-divider>
        <div fxFlex="none" fxLayout="row" fxLayoutGap="5px" class="panel-acciones">
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <span class="etiqueta">Acciones:</span> 
                        <span *ngIf="accionLote == 'create'" class="accion">Crear Nuevo Lote</span> 
                        <span *ngIf="accionLote == 'edit'" class="accion">Editar Lote Existente</span> 
                        <span *ngIf="accionLote == 'delete' && resumenMovimientos.ENT.total == 0" class="accion">Eliminar Lote Completo</span>
                        <span *ngIf="accionLote == 'delete' && resumenMovimientos.ENT.total > 0" class="accion">Eliminar Existencias del Lote</span>
                        <span *ngIf="seleccionSalidasActivada && accionSalidas == 'select'"class="accion">Aplicar en {{contadorSalidas | number:'1.0-0'}} Salidas</span> 
                        <span *ngIf="accionSalidas == 'none'"class="accion">Sin Modificar Salidas</span> 
                        <span *ngIf="seleccionSalidasActivada && accionSalidas == 'delete'"class="accion">Eliminar de {{contadorSalidas | number:'1.0-0'}} Salidas</span>
                        <span *ngIf="!seleccionSalidasActivada && accionSalidas == 'delete'"class="accion">Eliminar de Salidas</span>
            </div>
            <div fxFlex="none" fxLayout="row" class="existencias">
                <div fxFlex="none" *ngIf="existenciasLote">
                    Existencias:&nbsp;
                </div>
                <div fxFlex="none" *ngIf="existenciasLote">
                    {{existenciasLote.cantidad|number:'1.0-0'}} <span *ngIf="existenciasLote.piezas > 0">({{existenciasLote.piezas|number:'1.0-0'}})</span>
                </div>
                <div fxFlex="none" *ngIf="existenciasNuevoLote">
                    <mat-icon class="icono">double_arrow</mat-icon>
                </div>
                <div fxFlex="none" *ngIf="existenciasNuevoLote">
                    {{existenciasNuevoLote.cantidad|number:'1.0-0'}} <span *ngIf="existenciasNuevoLote.piezas > 0">({{existenciasNuevoLote.piezas|number:'1.0-0'}})</span>
                </div>
            </div>
        </div>
        <div fxFlex fxLayout="column">
            <div fxFlex class="tabla-movimientos">
                <table mat-table [dataSource]="dataSourceMovimientos" class="lista-movimientos-table" matSort>
                    <ng-container matColumnDef="direccion_movimiento">
                        <th mat-header-cell *matHeaderCellDef width="1" mat-sort-header> Estatus - Dirección </th>
                        <td mat-cell *matCellDef="let row" class="{{listaEstatusClaves[row.estatus]}}-color">
                            <mat-icon matTooltip="{{listaEstatusLabels[row.estatus]}}">{{listaEstatusIconos[row.estatus]}}</mat-icon>
                            <mat-icon [matTooltip]="(row.direccion_movimiento == 'ENT')?'Entrada':'Salida'">{{(row.direccion_movimiento == 'ENT')?'exit_to_app':'launch'}}</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fecha_movimiento">
                        <th mat-header-cell *matHeaderCellDef width="1" mat-sort-header> Fecha del Movimiento </th>
                        <td mat-cell *matCellDef="let row">
                            {{row.fecha_movimiento | date:'MMMM d, YYYY'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="preview">
                        <th mat-header-cell *matHeaderCellDef> Ver </th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">
                            <button mat-icon-button (click)="previewMovimiento(row.id)"><mat-icon>preview</mat-icon></button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="folio">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Folio </th>
                        <td mat-cell *matCellDef="let row">
                            {{row.folio}}<br>
                            {{(row.documento_folio)?row.documento_folio:'---'}}
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="destino_origen">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-lg> Destino | Origen </th>
                        <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px;" fxHide.lt-lg>
                            {{row.tipo_movimiento}}<br>
                            {{(row.destino_origen)?row.destino_origen:'---'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="modo_movimiento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header width="1" style="white-space: nowrap; padding:0px 5px;"> Modo </th>
                        <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px; text-align: center;">
                            {{row.direccion_movimiento}}<br>
                            {{row.modo_movimiento}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header width="1" style="white-space: nowrap; padding:0px 5px;"> Cantidad </th>
                        <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px; text-align: center;">
                            {{row.cantidad | number:'1.0-0'}}
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="noResultsFound">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length"> No se encontraron Movimientos </td>
                    </ng-container>

                    <ng-container matColumnDef="loadingData">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length"> Cargando Datos </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row class="tabla-row-articulo {{listaEstatusClaves[row.estatus]}}-color" *matRowDef="let row; let i = index; columns: displayedColumns;" (click)="seleccionarSalida(row.no_index,row.mov_articulo_id,row.direccion_movimiento)" 
                        [ngClass]="{'salida':row.direccion_movimiento == 'SAL','elemento-actual':data.stock.id == row.mov_articulo_id, 'selectable':(row.no_index > indexSeleccionable && row.direccion_movimiento == 'SAL' && seleccionSalidasActivada), 'selected':(salidasSeleccionadas[row.mov_articulo_id] && seleccionSalidasActivada)}">
                    <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="no-results-found" [ngClass]="{'hide': (dataSourceMovimientos && dataSourceMovimientos.filteredData.length > 0) || isLoadingMovimientos}"></tr>
                    <tr mat-footer-row *matFooterRowDef="['loadingData']" class="no-results-found" [ngClass]="{'hide': !isLoadingMovimientos}"></tr>
                </table>
                <mat-progress-bar *ngIf="isLoadingMovimientos" mode="indeterminate" [color]="'accent'"></mat-progress-bar>
            </div>
            <div fxFlex="none">
                <mat-paginator [pageSize]="pageSize" [pageIndex]="currentPage" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </section>
</section>