::ng-deep .no-padding-dialog > .mat-dialog-container{
    padding:0px;
}

.no-results-found{
    text-align: center;
    font-style: italic;
}

.hide{
    display: none;
}

.encabezado{
    background-color: whitesmoke;
}

.encabezado.a-eliminar{
    text-decoration: line-through;
    background-color: red !important;
    color: whitesmoke !important;
}

.encabezado div{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tabla-movimientos{
    overflow: auto;
}

.lista-movimientos-table{
    width: 100%;
    cursor: default;
}

.lista-movimientos-table th{
    text-align: center;
    background-color: #4a4848;
    color:whitesmoke;
}

.lista-movimientos-table tr.mat-header-row {
    height: 35px;
}

.lista-movimientos-table tr.mat-row:hover {
    background-color: #F5F5F5;
}

.lista-movimientos-table tr.mat-row.salida {
    font-style: italic;
}

.lista-movimientos-table tr.mat-row td {
    color:rgba(0, 0, 0, 0.65);
}

.lista-movimientos-table tr.mat-row.selectable{
    color: black;
    background-color: #e7e6e6;
}

.lista-movimientos-table tr.mat-row.selectable:hover {
    background-color: #fefbfb !important;
    cursor: pointer;
    font-weight: 500;
}

.lista-movimientos-table tr.mat-row.selected td {
    font-style: oblique;
    background-color: lightsteelblue;
    cursor: pointer;
    font-weight: 500;
    color: darkslateblue;
}

.lista-movimientos-table tr.mat-row.selected td .mat-icon {
    color: darkslateblue;
}

.pendiente-recepcion-color > td .mat-icon{
    color:#dc8503;
}

.concluido-color > td .mat-icon{
    color:#07a8ff;
}

.concluido-color.elemento-actual > td{
    background-color:#07a8ff !important;
    color: white !important;
}

.elemento-actual > td .mat-icon{
    color: white !important;
}

.cancelado-color > td .mat-icon{
    color:#ff2a2a;
}

.peticion-modificacion-color > td .mat-icon{
    color:#b000e6;
}

.modificacion-aprobada-color > td .mat-icon{
    color:#b000e6;
}

.panel-acciones{
    padding: 8px; 
    background-color: black;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.panel-acciones .icono{
    height: 24px;
    cursor: default;
}

.panel-acciones .icono .mat-icon{
    font-size: 24px;
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
}

.panel-acciones .etiqueta{
    font-weight: 500;
}

.panel-acciones .accion{
    background-color: lightgray;
    font-size: small;
    color: darkblue;
    padding: 3px;
    border-radius: 3px;
    cursor: default;
}

.panel-acciones .existencias{
    border-left: 1px solid rgba(225, 225, 225, 0.65);
    padding-left: 8px;
}

.panel-acciones .existencias .icono{
    height: auto;
    width: auto;
    font-size: 17px;
}

.panel-acciones .existencias .negativos{
    color: red;
    font-weight: bold;
}

.caducidad-verde{
    color:#1e7c41 !important;
}

.caducidad-ambar{
    color:#ff9900 !important;
}

.caducidad-rojo{
    color:#ff2a2a !important;
}

.carta-canje .cc-campo{
    background-color: rgb(255, 253, 210);
    padding: 0 2px;
    border-top: 1px solid rgba(0, 0, 0,0.55);
    border-bottom: 1px solid rgba(0, 0, 0,0.55);
}

.carta-canje .cc-etiqueta{
    text-align: center;
    color: whitesmoke;
    display: table;
    height: 100%;
    width: 100%;
}

.carta-canje .cc-etiqueta > div{
    display: table-cell;
    vertical-align: middle;
}

.carta-canje > div:first-of-type{
    background-color: rgb(99, 99, 99) !important;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0,0.55);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;    
}

.carta-canje > div:last-of-type{
    border-right: 1px solid rgba(0, 0, 0,0.55);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
}