<div class="data-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
    <section fxFlex="none" fxLayout="row">
        <div fxFlex="none">
            <button mat-raised-button color="primary" (click)="concluirRecepcion()" [disabled]="!(formRecepcion.valid && recepcionActiva)">Finalizar Recepción</button>
        </div>
        <div fxFlex></div>
        <div fxFlex="none" *ngIf="pedidoInternoSeleccionado">
            <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" selected [disableRipple]="true">
                    Recepción Anterior
                </mat-chip>
            </mat-chip-list>
        </div>
        <div fxFlex></div>
        <div fxFlex="none">
            <button [routerLink]="'/pedidos/recepcion-pedidos'" mat-button>Regresar</button>
            &nbsp;
            <button mat-raised-button color="success" (click)="guardarRecepcion()" [disabled]="!(formRecepcion.valid && recepcionActiva)"><mat-icon>save</mat-icon> Guardar</button>
        </div>
    </section>
    <section fxFlex fxLayout="row" fxLayoutGap="10px">
        <section fxFlex="30" fxLayout="row">
            <mat-card fxFlex="100" fxLayout="column">
                <div fxFlex fxLayout="column" *ngIf="!mostrarRecepcionesAnteriores"> <!-- Panel principal del pedido -->
                    <div fxFlex="none" fxLayout="column">
                        <mat-progress-bar mode="determinate" [value]="totalAvanceRecepcion" style="height: 20px;" color="accent"></mat-progress-bar>
                        <mat-hint>Avance Total: {{totalAvanceRecepcion | number:'1.0-2'}}%</mat-hint>
                    </div>
                    <div fxFlex="none" fxLayout="column" *ngIf="unidadMedicaEntrega" style="padding: 5px 0px;">
                        <div fxFlex class="label-unidad-entrega">
                            Entregar en:
                        </div>
                        <div fxFlex class="unidad-entrega">
                            {{unidadMedicaEntrega.nombre}}
                        </div>
                    </div>
                    <div fxFlex="none" fxLayout="row raw" [formGroup]="formRecepcion">
                        <mat-form-field fxFlex="100">
                            <mat-label>Almacen</mat-label>
                            <mat-select formControlName="almacen_id" required>
                                <mat-option *ngIf="catalogos['almacenes'].length == 0">Sin Almacenes</mat-option>
                                <mat-option *ngFor="let item of catalogos['almacenes']" [value]="item.id">
                                    {{item.nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formRecepcion.get('almacen_id').hasError('required')">Este campo es requerido</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="100">
                            <mat-label>Fecha Recepción</mat-label>
                            <input matInput mascaraFecha formControlName="fecha_movimiento" required>
                            <mat-error *ngIf="formRecepcion.get('fecha_movimiento').hasError('isValidDate')">La fecha no es valida</mat-error>
                            <mat-error *ngIf="formRecepcion.get('fecha_movimiento').hasError('required')">Este campo es requerido</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="100">
                            <mat-label>Nombre de quien recibe</mat-label>
                            <input matInput formControlName="recibe" required>
                            <mat-error *ngIf="formRecepcion.get('recibe').hasError('required')">Este campo es requerido</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="100">
                            <mat-label>Nombre de quien entrega</mat-label>
                            <input matInput formControlName="entrega" required>
                            <mat-error *ngIf="formRecepcion.get('entrega').hasError('required')">Este campo es requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="none">
                        <mat-list>
                            <mat-list-item style="height: auto;">
                                <div mat-line style="font-weight: bold;">Descripción Pedido</div>
                                <div mat-line> {{ dataPedido.descripcion }} </div>
                            </mat-list-item>
                            <mat-list-item style="height: auto;">
                                <div mat-line style="font-weight: bold;">Fecha</div>
                                <div mat-line> {{ dataPedido.mes }} - {{ dataPedido.anio }} </div>
                            </mat-list-item>
                            <mat-list-item style="height: auto;">
                                <div mat-line style="font-weight: bold;">Programa</div>
                                <div mat-line> {{ dataPedido.programa }} </div>
                            </mat-list-item>
                            <mat-list-item style="height: auto;">
                                <div mat-line style="font-weight: bold;">Observaciones</div>
                                <div mat-line> {{ dataPedido.observaciones }} </div>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div fxFlex></div>
                    <div fxFlex="none" fxLayout="row" style="padding-top:5px;">
                        <button fxFlex mat-stroked-button (click)="verRecepcionesAnteriores()" [disabled]="recepcionesAnteriores.length == 0">
                            <mat-icon>fact_check</mat-icon> Recepciones Anteriores
                        </button>
                    </div>
                </div>
                <div fxFlex fxLayout="column" *ngIf="mostrarRecepcionesAnteriores">
                    <div fxFlex="none">
                        <div class="small-search-input">
                            <mat-form-field appearance="outline">
                                <input matInput [(ngModel)]="filtroRecepcionesAnteriores" (keyup)="aplicarFiltroRecepcionesAnteriores()" placeholder="Filtrar">
                            </mat-form-field>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                    <div fxFlex>
                        <cdk-virtual-scroll-viewport itemSize="80" style="overflow: auto; height: 100%;">
                            <div *ngIf="listaFiltroRecepcionesAnteriores.length == 0" class="no-items-found">
                                No se encontraron resultados
                            </div>
                            <div *cdkVirtualFor="let recepcion of listaFiltroRecepcionesAnteriores;" [ngClass]="{'unidad-seleccionada':recepcionSeleccionada == recepcion.id}" class="unidad-medica-item seleccionable">
                                <div fxLayout="row" style="padding-left:5px; height: 100%; overflow: hidden; flex: 1 1 0%;">
                                    <div fxFlex fxLayout="column" class="datos-unidad" (click)="mostrarInsumosRecepcionAnterior(recepcion)">
                                        <div fxFlex="none" class="titulo">
                                            Fecha Recepción: {{recepcion.fecha_movimiento}}
                                        </div>
                                        <div fxFlex class="descripcion">
                                            Nombre Recibe: {{recepcion.recibe}}<br>
                                            Nombre Entrega: {{recepcion.entrega}}
                                        </div>
                                        <div fxFlex="none" class="detalles">
                                            Total Piezas: {{recepcion.total_insumos | number:'1.0-0' }}
                                        </div>
                                    </div>
                                    <div fxFlex="none" fxLayout="column" fxLayoutAlign="center center">
                                        <div fxFlex="none" *ngIf="recepcionSeleccionada == recepcion.id">
                                            <button mat-icon-button (click)="ocultarInsumosRecepcionAnterior()">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </div>
                                        <div fxFlex="none" *ngIf="recepcionSeleccionada == recepcion.id">
                                            <button mat-icon-button [matMenuTriggerFor]="menuRecepcionAnterior">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                        </div>
                                        <div fxFlex></div>
                                    </div>
                                </div>
                            </div>
                        </cdk-virtual-scroll-viewport>
                        <mat-divider></mat-divider>
                        <mat-menu #menuRecepcionAnterior="matMenu">
                            <button mat-menu-item disabled>
                                <mat-icon svgIcon="pdf-icon" ></mat-icon>
                                <span>Descargar en PDF</span>
                            </button>
                            <button mat-menu-item disabled>
                                <mat-icon svgIcon="xls-icon" ></mat-icon>
                                <span>Descargar en Excel</span>
                            </button>
                        </mat-menu>
                    </div>
                    <div fxFlex="none" fxLayout="row" style="padding-top:5px;">
                        <div fxFlex="none">
                            <button mat-flat-button (click)="cerrarRecepcionesAnteriores()"><mat-icon>close</mat-icon> Cerrar</button>
                        </div>
                        <div fxFlex></div>
                        <div fxFlex="none">
                            <mat-hint>{{listaFiltroRecepcionesAnteriores.length | number}} Recepciones</mat-hint>
                        </div>
                    </div>
                </div>
            </mat-card>
        </section>
        <section fxFlex fxLayout="row">
            <mat-card fxFlex="100" fxLayout="column">
                <div fxFlex="none" fxLayout="row">
                    <div fxFlex class="small-search-input">
                        <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="filtroInsumos" (keyup.enter)="aplicarFiltroInsumos()" placeholder="Filtrar">
                        </mat-form-field>
                    </div>
                    <div fxFlex="none">
                        <mat-button-toggle-group [(ngModel)]="filtroTipoInsumos" appearance="legacy" aria-label="Filtro Tipo Insumo" class="filtro-tipo-insumo" (change)="aplicarFiltroInsumos()">
                            <mat-button-toggle [checked]="true" value="*">Insumos: {{ (filtroAplicado && filtroInsumos)?(clavesTotalesFiltro.insumos | number)+'/':'' }}{{clavesTotales.insumos | number}}</mat-button-toggle>
                            <mat-button-toggle class="medicamento-color" value="MED"><img class="icono-tipo-insumo" src="{{iconoMedicamento}}" alt="Icon"> MED: {{ (filtroAplicado && filtroInsumos)?(clavesTotalesFiltro.medicamentos | number)+'/':'' }}{{clavesTotales.medicamentos | number}}</mat-button-toggle>
                            <mat-button-toggle class="mat-curacion-color" value="MTC"><img class="icono-tipo-insumo" src="{{iconoMatCuracion}}" alt="Icon"> MTC: {{ (filtroAplicado && filtroInsumos)?(clavesTotalesFiltro.mat_curacion | number)+'/':'' }}{{clavesTotales.mat_curacion | number}}</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <mat-divider [inset]="true"></mat-divider>
                <div fxFlex style="overflow: auto;">
                    <div class="data-loading-shade" *ngIf="isLoadingListaInsumos"><mat-spinner></mat-spinner></div>
                    <table #dataTable mat-table [dataSource]="filtroInsumosPedido" class="data-table" matSort>
                        
                        <ng-container matColumnDef="clave">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="1"> Clave </th>
                            <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px;">{{(controlInsumosModificados[row.id])?controlInsumosModificados[row.id]:''}} {{row.clave}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="nombre" >
                            <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true"> Nombre </th>
                            <td mat-cell *matCellDef="let row" fxHide.xs="true"> {{row.nombre_generico}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="cantidad" >
                            <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true" style="white-space: nowrap;"> Cantidad </th>
                            <td mat-cell *matCellDef="let row" fxHide.xs="true" width="1" style="white-space: nowrap; text-align: center;"> {{((row.total_piezas)?row.total_piezas:0) | number:'1.0-0'}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="restante" >
                            <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true" style="white-space: nowrap;"> Restante </th>
                            <td mat-cell *matCellDef="let row" fxHide.xs="true" width="1" style="white-space: nowrap; text-align: center;"> {{(row.cantidad_restante - ((row.total_piezas)?row.total_piezas:0)) | number:'1.0-0'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="recibido" >
                            <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true" style="white-space: nowrap;"> Recibido </th>
                            <td mat-cell *matCellDef="let row" fxHide.xs="true" width="1" style="white-space: nowrap; text-align: center;"> {{row.total_recibido | number:'1.0-0'}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell width="1" *matHeaderCellDef>Acciones</th>
                            <td mat-cell *matCellDef="let row; let i = index" width="1" style="white-space: nowrap;">
                                <button *ngIf="!recepcionSeleccionada" mat-icon-button (click)="agregarLotes(row)"><mat-icon>content_paste</mat-icon></button>
                                <button *ngIf="recepcionSeleccionada" mat-icon-button (click)="verLotes(row)"><mat-icon>visibility</mat-icon></button>
                            </td>
                        </ng-container>
    
                        <ng-container matColumnDef="noResultsFound">
                            <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                No se encontraron insumos 
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row [ngClass]="{'selected-item': row.id==idInsumoSeleccionado, 'medicamento-row-color':row.tipo_insumo == 'MED', 'mat-curacion-row-color':row.tipo_insumo == 'MTC'}" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
    
                        <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(filtroInsumosPedido!=null && filtroInsumosPedido.length==0)}"></tr>
                    </table>
                </div>
                <div fxFlex="none" fxLayout="row">
                    <div fxFlex="none" style="padding-top: 10px;">
                        <button mat-raised-button (click)="limpiarFiltroInsumos()" *ngIf="filtroAplicado"><mat-icon>clear</mat-icon> Limpiar Filtro</button>
                    </div>
                    <!-- Puede haber algo -->
                    <div fxFlex>
                        <mat-paginator #insumosPaginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[9, 18, 27, 36]" showFirstLastButtons (page)="pageEvent = cargarPaginaInsumos($event)"></mat-paginator>
                    </div>
                </div>
            </mat-card>
        </section>
    </section>
</section>