<section fxLayout="column" style="height: 100%; overflow: hidden; flex: 1 1 0%;" (document:keydown.escape)="cancelarAccion()"> <!-- Main Body <<<<<<< -->
    <section fxFlex="none" class="salida-toolbar"> <!-- Toolbar Menu <<<<<<< -->
        <div fxLayout="row">
            <div fxFlex="none" class="label-info" *ngIf="datosAlmacen && datosArticulo">
                <mat-icon>home</mat-icon> {{datosAlmacen.nombre}}: {{datosArticulo.articulo}}
            </div>
            <div fxFlex>
            </div>
            <div fxFlex="none" *ngIf="datosArticulo && datosArticulo.deleted_at" class="label-info-delete">
                Eliminado: {{datosArticulo.deleted_at | date}}
            </div>
            <div fxFlex>
            </div>
            <button fxFlex="none" class="boton-accion" mat-button (click)="cerrar()"><mat-icon>close</mat-icon> Cerrar</button>
        </div>
        <mat-progress-bar *ngIf="isLoading || isSaving" mode="indeterminate" [color]="(isSaving)?'accent':'primary'"></mat-progress-bar>
    </section> <!-- <<<<<<< Toolbar Menu -->
    <section fxFlex fxLayout="column" style="padding: 10px;">
        <div fxFlex="none" fxLayout="row" fxLayoutGap="5px" [style.fontSize.px]="15">
            <mat-card fxFlex fxLayout="row raw"  fxLayoutGap="5px" *ngIf="datosArticulo" class="datos-articulo">
                <div fxFlex class="fake-input">
                    <span class="label">Clave:</span>
                    <span class="value">{{datosArticulo.clave_local}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Familia:</span>
                    <span class="value">{{datosArticulo.familia}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Partida Especifica:</span>
                    <span class="value">{{datosArticulo.clave_partida_especifica}} - {{datosArticulo.partida_especifica}}</span>
                </div>
                <div fxFlex="100" class="fake-input">
                    <span class="label">Especificaciones:</span>
                    <span class="value-text">{{datosArticulo.especificaciones}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Tipo:</span>
                    <span class="value">{{datosArticulo.tipo_bien_servicio}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Unidad de Medida:</span>
                    <span class="value">{{(datosArticulo.unidad_medida)?datosArticulo.unidad_medida:'Sin Asignar'}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">En Catalogo:</span>
                    <span class="value">{{ (datosArticulo.en_catalogo_unidad)?((datosArticulo.es_normativo)?'Normativo':'No Normativo'):'Fuera del Catalogo de la Unidad'}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Cantidad Minima - Maxima:</span>
                    <span class="value">{{datosArticulo.cantidad_minima | number:'1.0-0'}} - {{datosArticulo.cantidad_maxima | number:'1.0-0'}}</span>
                </div>
            </mat-card>
        </div>
        <div fxFlex="none" style="padding:10px 0px;">
            <mat-divider></mat-divider>
        </div>
        <div fxFlex fxLayout="row">
            <div fxFlex="none" class="lista-items">
                <div class="encabezado">Lista de Lotes:</div>
                <div class="lista">
                    <mat-selection-list #listaSeleccionableLotes [multiple]="false" (selectionChange)="seleccionarLote($event)">
                        <mat-list-option *ngFor="let lote of listaLotes" [value]="lote">
                            <mat-icon mat-list-icon matBadgePosition="before" matBadgeSize="small" matBadge="{{lote.movimientos}}">sync_alt</mat-icon>
                            <div mat-line><span class="lote-label">Lote: </span>{{lote.lote}}</div>
                            <div mat-line><span class="lote-label">Cad:</span> {{lote.fecha_caducidad | date}}</div>
                            <div mat-line>E:{{lote.existencia | number:'1.0-0'}} | P:{{lote.existencia_unidades | number:'1.0-0'}}</div>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
            <div fxFlex fxLayout="column" class="item-detalles">
                <div fxFlex="none" class="encabezado">Detalles del Lote:</div>
                <div fxFlex="none" class="detalles-sin-lote" *ngIf="!loteSeleccionado">
                    <span>Seleccione un lote</span>
                </div>
                <div fxFlex="none" fxLayout="row" class="botones" *ngIf="loteSeleccionado">
                    <div fxFlex class="info-existencias">
                        <span>Existencia: </span>{{existencias.cantidad | number:'1.0-0'}} <span *ngIf="nuevaExistencia" class="nueva-existencia">=> {{nuevaExistencia['nrm'] | number:'1.0-0'}}</span><br>
                        <span>Piezas: </span>{{existencias.piezas | number:'1.0-0'}} <span *ngIf="nuevaExistencia" class="nueva-existencia">=> {{nuevaExistencia['uni'] | number:'1.0-0'}}</span>
                    </div>
                    <div fxFlex="none" fxLayout="row" class="info-resumen" *ngIf="resumenMovimientos">
                        <div fxFlex="none">
                            <span>ENT: </span><br>
                            <span>SAL: </span>
                        </div>
                        <div fxFlex="none">&nbsp;</div>
                        <div fxFlex="none">
                            {{resumenMovimientos['ENT']['nrm'] | number:'1.0-0'}}<br>
                            {{resumenMovimientos['SAL']['nrm'] | number:'1.0-0'}}
                        </div>
                        <div fxFlex="none">&nbsp;</div>
                        <div fxFlex="none">
                            <span> | Pzas: </span>{{resumenMovimientos['ENT']['uni'] | number:'1.0-0'}}<br>
                            <span> | Pzas: </span>{{resumenMovimientos['SAL']['uni'] | number:'1.0-0'}}
                        </div>
                    </div>
                    <div fxFlex fxLayout="row">
                        <div fxFlex></div>
                        <button mat-stroked-button fxFlex="none" (click)="cancelarEdicioLote()">Cancelar</button>
                        <div fxFlex="none">&nbsp;</div>
                        <button mat-flat-button color="primary" fxFlex="none" (click)="guardarCambiosLote()" [disabled]="isSaving" [class.button-spinner]="isSaving"><mat-icon>save</mat-icon> Guardar</button>
                    </div>
                </div>
                <div fxFlex="none" fxLayout="row wrap" fxLayoutGap="5px" class="detalles-lote" *ngIf="loteSeleccionado" [formGroup]="formDetallesLote">
                    <mat-form-field fxFlex="none">
                        <mat-label>Lote</mat-label>
                        <input matInput formControlName="lote" autocomplete="off" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="none">
                        <mat-label>Fecha Caducidad</mat-label>
                        <input matInput formControlName="fecha_caducidad" autocomplete="off" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="none">
                        <mat-label>Codigo de Barras</mat-label>
                        <input matInput formControlName="codigo_barras" autocomplete="off">
                    </mat-form-field>

                    <mat-form-field fxFlex fxFlex.lt-lg="50">
                        <mat-label>Empaque Detalle</mat-label>
                        <mat-select formControlName="empaque_detalle_id" (selectionChange)="cambiarDetalle($event)" required>
                            <mat-option *ngIf="empaqueDetalles.length == 0">Sin Registros</mat-option>
                            <mat-option *ngFor="let item of empaqueDetalles" [value]="item.id">
                                {{item.descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div fxFlex fxFlex.lt-lg="100">
                        <div fxFlex fxLayout="row" class="info-empaque-detalle" *ngIf="empaqueDetalleSeleccionado">
                            <div fxFlex class="fake-input">
                                <span class="label">Empaque:</span>
                                <span class="value">{{empaqueDetalleSeleccionado.empaque.descripcion}}</span>
                            </div>
                            <div fxFlex class="fake-input">
                                <span class="label">Piezas X Empaque:</span>
                                <span class="value">{{empaqueDetalleSeleccionado.piezas_x_empaque | number:'1.0-0'}}</span>
                            </div>
                            <div fxFlex class="fake-input">
                                <span class="label">Unidad Medida:</span>
                                <span class="value">{{empaqueDetalleSeleccionado.unidad_medida.descripcion}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex class="tabla-movimientos" *ngIf="loteSeleccionado">
                    <table mat-table [dataSource]="dataSourceMovimientos" class="lista-movimientos-table" matSort>
                        <ng-container matColumnDef="direccion_movimiento">
                            <th mat-header-cell *matHeaderCellDef width="1" mat-sort-header> Dirección </th>
                            <td mat-cell *matCellDef="let row" class="{{listaEstatusClaves[row.estatus]}}-color">
                                <mat-icon matTooltip="{{listaEstatusLabels[row.estatus]}}">{{listaEstatusIconos[row.estatus]}}</mat-icon>
                                <mat-icon [matTooltip]="(row.direccion_movimiento == 'ENT')?'Entrada':'Salida'">{{(row.direccion_movimiento == 'ENT')?'exit_to_app':'launch'}}</mat-icon>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="fecha_movimiento">
                            <th mat-header-cell *matHeaderCellDef width="1" mat-sort-header> Fecha del Movimiento </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.fecha_movimiento | date:'MMMM d, YYYY'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="folio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Folio </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.folio}}<br>
                                {{row.tipo_movimiento}}
                            </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="destino_origen">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Destino | Origen </th>
                            <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px;">
                                {{(row.destino_origen)?row.destino_origen:'---'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="modo_movimiento">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="1" style="white-space: nowrap; padding:0px 5px;"> Modo </th>
                            <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px;">
                                {{row.modo_movimiento}}
                            </td>
                        </ng-container>
    
                        <ng-container matColumnDef="cantidad">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header width="1" style="white-space: nowrap; padding:0px 5px;"> Cantidad </th>
                            <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px;">
                                {{row.cantidad}}
                            </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="noResultsFound">
                            <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length"> No se encontraron Movimientos </td>
                        </ng-container>

                        <ng-container matColumnDef="loadingData">
                            <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length"> Cargando Datos </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row class="tabla-row-articulo {{listaEstatusClaves[row.estatus]}}-color" *matRowDef="let row; let i = index; columns: displayedColumns;">
                        <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="no-results-found" [ngClass]="{'hide': (dataSourceMovimientos && dataSourceMovimientos.filteredData.length > 0) || isLoadingMovimientos}"></tr>
                        <tr mat-footer-row *matFooterRowDef="['loadingData']" class="no-results-found" [ngClass]="{'hide': !isLoadingMovimientos}"></tr>
                    </table>
                    <mat-progress-bar *ngIf="isLoadingMovimientos" mode="indeterminate" [color]="'accent'"></mat-progress-bar>
                </div>
                <div fxFlex="none" *ngIf="loteSeleccionado">
                    <mat-paginator [pageSize]="pageSize" [pageIndex]="currentPage" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </section>
</section>