<div class="form-loading-shade" *ngIf="isLoading"><mat-spinner *ngIf="isLoading"></mat-spinner></div>
<div class="form-loading-shade" *ngIf="!isLoading && !almacenes">No se encontraron los datos del Almacen</div>
<h1 mat-dialog-title><span *ngIf="almacenes.id">Editar</span> <span *ngIf="!almacenes.id">Nuevo</span> Almacen</h1>
<div class="form-container">
    <div [formGroup]="almacenForm">
        <br>
        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

            <mat-form-field fxFlex>
                <input matInput formControlName="nombre" placeholder="Nombre del Almacén" required>
                <mat-error *ngIf="almacenForm.get('nombre').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
                <mat-label>Tipo de Almacén: </mat-label>
                <mat-select formControlName="tipo_almacen_id" required>
                    <mat-option *ngFor="let item of catalogos['tipos_almacenes']" [value]="item.id">
                        {{item.descripcion}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="almacenForm.get('tipo_almacen_id').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>

        </div>


        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" style="padding-top:5px;padding-bottom:5px;">
            <div fxFlex>
                <label>¿Puede surtir por Unidades? </label>
                <mat-radio-group formControlName="puede_surtir_unidades">
                    <mat-radio-button [value]="0">No</mat-radio-button>
                    <mat-radio-button [value]="1">Si</mat-radio-button>
                </mat-radio-group>
            </div>

            <div fxFlex>
                <label>¿El Almacén es Externo? </label>
                <mat-radio-group formControlName="externo">
                    <mat-radio-button [value]="0">No</mat-radio-button>
                    <mat-radio-button [value]="1">Si</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" *ngIf="almacenForm.get('externo').value == 1">
            <mat-form-field fxFlex>
                <input matInput formControlName="direccion" placeholder="Dirección del Almacén Externo">
            </mat-form-field>
        </div>

        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
            <mat-form-field fxFlex>
                <input matInput id="responsable" formControlName="responsable" placeholder="Responsable del Almacén (Nombre Completo)">
                <mat-error *ngIf="almacenForm.get('responsable').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
            <mat-form-field fxFlex="50">
                <mat-label>Tipos de Movimiento: </mat-label>
                <mat-select formControlName="tipos_movimiento_form" [(ngModel)]="tiposMovimientosSeleccionados" multiple>
                  <mat-select-trigger>
                    {{tiposMovimientosSeleccionados.length ? tiposMovimientosSeleccionados[0].descripcion : ''}}
                    <span *ngIf="tiposMovimientosSeleccionados.length > 1" >
                      (+{{tiposMovimientosSeleccionados.length - 1}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngIf="catalogos['tipos_movimiento'] && catalogos['tipos_movimiento'].length == 0" [value]="" disabled>Sin Tipo de Movimiento Capturados</mat-option>
                  <mat-option *ngFor="let movimiento of catalogos['tipos_movimiento']" [value]="movimiento">[{{movimiento.movimiento}}] {{movimiento.descripcion}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
    <span fxFlex></span>
    <button mat-button (click)='onNoClick()'>Cancelar</button>
    <button mat-raised-button (click)="saveAlmacen()" color="primary" [disabled]="almacenForm.invalid || isLoading"><mat-icon>save</mat-icon> Guardar</button>
</div>