<section fxLayout="column" style="height: 100%; overflow: hidden; flex: 1 1 0%;"> <!-- Main Body <<<<<<< -->
    <section fxFlex="none" class="salida-toolbar"> <!-- Toolbar Menu <<<<<<< -->
        <div fxLayout="row">
            <div fxFlex="none" class="label-info">
                <mat-icon>settings_applications</mat-icon> {{(data.almacenData)?data.almacenData.nombre:'Sin Datos de Almacén'}}
            </div>
            <div fxFlex>
            </div>
            <button fxFlex="none" class="boton-accion" mat-button (click)="cerrar()"><mat-icon>close</mat-icon></button>
        </div>
        <mat-progress-bar *ngIf="isLoading || isSaving" mode="indeterminate" [color]="(isSaving)?'accent':'primary'"></mat-progress-bar>
    </section> <!-- <<<<<<< Toolbar Menu -->
    <section fxFlex fxLayout="column">
        <div fxFlex="none" fxLayout="row" [style.fontSize.px]="15" *ngIf="data.articuloData">
            <div fxFlex fxLayout="row raw"  fxLayoutGap="5px" class="datos-articulo">
                <div fxFlex class="fake-input">
                    <span class="label">Clave:</span>
                    <span class="value">{{data.articuloData.clave_local}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Tipo:</span>
                    <span class="value">{{data.articuloData.tipo_bien_servicio}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">En Catalogo:</span>
                    <span class="value">{{ (data.articuloData.en_catalogo_unidad)?((data.articuloData.es_normativo)?'Normativo':'No Normativo'):'Fuera del Catalogo de la Unidad'}}</span>
                </div>
                <div fxFlex="100" class="fake-input">
                    <span class="label">Especificaciones:</span>
                    <span class="value-text">{{data.articuloData.especificaciones}}</span>
                </div>
            </div>
        </div>
        <div fxFlex="none" fxLayout="row" [style.fontSize.px]="15" *ngIf="loteData">
            <div fxFlex fxLayout="row raw"  fxLayoutGap="5px" class="datos-lote">
                <div fxFlex class="fake-input">
                    <span class="label">Existencia:</span>
                    <span class="value">{{loteData.existencia | number:'1.0-0'}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Existencia Piezas:</span>
                    <span class="value">{{loteData.existencia_piezas | number:'1.0-0'}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Resguardo (piezas):</span>
                    <span class="value">{{loteData.resguardo_piezas||0 | number:'1.0-0'}}</span>
                </div>
                <div fxFlex class="fake-input">
                    <span class="label">Piezas X Empaque:</span>
                    <span class="value">{{data.piezasXEmpaque||0 | number:'1.0-0'}}</span>
                </div>
            </div>
        </div>
        <div fxFlex fxLayout="row" class="panel-resguardo">
            <div fxFlex="none" fxLayout="column" class="panel-lista">
                <div fxFlex="none" class="encabezado">Resguardos:</div>
                <div fxFlex *ngIf="loteData">
                    <mat-selection-list #listaDetallesResguardo [multiple]="false" (selectionChange)="seleccionarResguardo($event)" dense>
                        <mat-list-option *ngIf="loteData.resguardo_detalle.length == 0" disabled class="no-results-found">
                            Sin Resguardos
                        </mat-list-option>
                        <mat-list-option *ngFor="let resguardo of loteData.resguardo_detalle" [value]="resguardo">
                            <div mat-line><span class="lote-label">{{resguardo.descripcion}}</span></div>
                            <div mat-line>{{resguardo.cantidad_resguardada | number:'1.0-0'}} <span *ngIf="resguardo.son_piezas">(Pzas.)</span></div>
                        </mat-list-option>
                        <mat-list-option [value]="{nuevo:true}">
                            <mat-icon mat-list-icon>add_circle</mat-icon>
                            <div mat-line>Nuevo Resguardo</div>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </div>
            <div fxFlex fxLayout="column" class="panel-detalle">
                <div fxFlex="none" class="encabezado">Detalles:</div>
                <div fxFlex="none" class="detalles-sin-resguardo" *ngIf="!resguardoSeleccionado">
                    <span>Seleccione un lote</span>
                </div>
                <div fxFlex *ngIf="resguardoSeleccionado">
                    <div fxLayout="row wrap" fxLayoutGap="5px" [formGroup]="formResguardo">
                        <mat-form-field fxFlex fxFlex.lt-lg="100">
                            <mat-label>Descripción</mat-label>
                            <input matInput #descripcion formControlName="descripcion" autocomplete="off" maxlength="255" (keyup.enter)="guardarForm()" required>
                            <mat-hint align="end">{{descripcion.value?.length || 0}}/255</mat-hint>
                            <mat-error *ngIf="formResguardo.get('descripcion').hasError('required')">Este campo es obligatorio</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="none">
                            <mat-label>Cantidad <span *ngIf="formResguardo.get('son_piezas').value">(Piezas)</span></mat-label>
                            <button mat-icon-button matPrefix (click)="formResguardo.get('son_piezas').patchValue(!formResguardo.get('son_piezas').value)" required>
                                <mat-icon>{{formResguardo.get('son_piezas').value ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
                            </button>
                            <input matInput formControlName="cantidad_resguardada" type="number" autocomplete="off" min="1" (keyup.enter)="guardarForm()">
                            <mat-error *ngIf="formResguardo.get('cantidad_resguardada').hasError('required')">Este campo es obligatorio</mat-error>
                            <mat-error *ngIf="formResguardo.get('cantidad_resguardada').hasError('min')">El valor no pude ser menor que 1</mat-error>
                            <mat-error *ngIf="formResguardo.get('cantidad_resguardada').hasError('exceeded')">La cantidad excede las existencias</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="none" fxLayou="row" *ngIf="resguardoSeleccionado" class="botones">
                    <button mat-stroked-button fxFlex="none" color="warn" *ngIf="formResguardo.get('id').value" (click)="eliminarResguardo(formResguardo.get('id').value)"><mat-icon>delete</mat-icon> <span>Eliminar</span></button>
                    <div fxFlex></div>
                    <button mat-stroked-button fxFlex="none" (click)="cancelarForm()"><mat-icon>clear</mat-icon> <span>Cancelar</span></button>
                    <div fxFlex="none">&nbsp;</div>
                    <button mat-flat-button color="accent" fxFlex="none" (click)="guardarForm()" [disabled]="isSaving" [class.button-spinner]="isSaving"><mat-icon>save</mat-icon> <span>Guardar</span></button>
                </div>
            </div>
        </div>
    </section>
</section>