<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
    <div class="data-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
    <section fxFlex="none" fxLayout="row" >
        <mat-card fxFlex>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex fxLayout="row wrap">
                    <mat-form-field fxFill appearance="outline">
                        <mat-label>Buscar</mat-label>
                        <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                        <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex="none" fxFlex.xs="100">
                    <div fxFlex></div>
                    <section class="search-button">
                        <button mat-raised-button color="accent" (click)="applyFilter()">
                            <mat-icon>search</mat-icon> Buscar
                        </button>
                    </section>
                </div>
            </div>
        </mat-card>
    </section>
    <section fxFlex fxLayout="row">
        <mat-card fxFlex fxLayout="column" >
            <div fxFlex="none" fxLayout="row">
                <div fxFlex></div>
                <div fxFlex="none">
                    <button mat-raised-button color="info" (click)="mostrarFormGrupo()"><mat-icon>add_circle</mat-icon> Nuevo Grupo</button>
                </div>
            </div>

            <div fxFlex fxLayout="row raw" style="overflow: auto;">
               <div *ngFor="let grupo of dataSource" fxFlex="25" style="padding:3px;">
                    <mat-card class="grupo" fxLayout="column">
                        <div fxFlex class="grupo-body">
                            {{grupo.descripcion}}
                        </div>
                        <div fxFlex="none" fxLayout="row">
                            <span *ngIf="grupo.unidad_medica_principal" class="folio-value" fxFlex>{{grupo.unidad_medica_principal.nombre}}</span>
                        </div>
                        <div fxFlex="none" class="grupo-action" fxLayout="row">
                            <mat-chip-list aria-label="Group Users" fxFlex="none" style="padding-top: 5px;">
                                <mat-chip [selected]="grupo.total_unidades > 0" matTooltip="Total de Unidades Asignadas" [matTooltipPosition]="'below'"><mat-icon>business</mat-icon> - {{grupo.total_unidades | number:'1.0-0'}}</mat-chip>
                            </mat-chip-list>
                            <div fxFlex></div>
                            <div fxFlex="none">
                                <button mat-icon-button (click)="mostrarFormGrupo(grupo.id)">
                                    <mat-icon color="primary">edit</mat-icon>
                                </button>
                                <button mat-icon-button>
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card>
               </div>
            </div>

            <div fxFlex="none">
                <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadListadoGrupos($event)"></mat-paginator>
            </div>
        </mat-card>
    </section>
</section>