<section fxLayout="column" fxLayoutAlign="start" style="min-height:470px; overflow: auto; flex: 1 1 0%;">
    <section fxFlex="none" class="dialog-toolbar">
        <div fxLayout="row">
            <div fxFlex="none" class="label-info">
                <mat-icon>timeline</mat-icon> Historial de Modificaciones:
            </div>
            <div fxFlex>
            </div>
            <button fxFlex="none" class="boton-accion" mat-button (click)="cerrar()"><mat-icon>close</mat-icon></button>
        </div>
    </section>
    <section fxFlex fxLayout="row" style="padding: 8px;">
        <div fxFlex="none">
            lista de modificaciones hechas
        </div>
        <div fxFlex>
            detalles de la modificacion seleccionada
        </div>
    </section>
</section>