<section fxLayout="column" fxLayoutAlign="start" style="height: 100%; overflow: auto; flex: 1 1 0%;" (document:keydown.escape)="cancelarAccion()">
    <section fxFlex="none" class="dialog-toolbar">
        <div fxLayout="row">
            <div fxFlex="none" class="label-info">
                <mat-icon>timeline</mat-icon> Historial de Modificaciones:
            </div>
            <div fxFlex>
            </div>
            <button fxFlex="none" class="boton-accion" mat-button (click)="cerrar()"><mat-icon>close</mat-icon></button>
        </div>
    </section>
    <section fxFlex fxLayout="row" style="padding: 8px; overflow: hidden;">
        <mat-card fxFlex="none" fxLayout="column" class="lista-items">
            <div fxFlex="none" class="encabezado" fxLayout="row"><span fxFlex="none">Modificaciones:</span> <span fxFlex></span> <span fxFlex="none" *ngIf="dataSourceMods">{{dataSourceMods.filteredData.length}}/{{dataSourceMods.data.length}}</span></div>
            <div fxFlex="none" fxLayout="row" class="campo-filtro">
                <div fxFlex class="small-search-input">
                    <mat-form-field fxFlex appearance="outline">
                        <input matInput [(ngModel)]="filtroMods" (keyup)="aplicarFiltroMods($event)" placeholder="Filtrar" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex class="lista">
                <mat-selection-list #listaSeleccionable [multiple]="false" (selectionChange)="seleccionarModificacion($event)">
                    <mat-list-option *ngIf="isLoadingMods" disabled class="no-results-found">
                        <div fxLayout="row">
                            <div fxFlex="none">
                                <mat-spinner class="mini-spinner" [diameter]="20" [mode]="'indeterminate'"></mat-spinner>
                            </div>
                            <div fxFlex>
                                Cargando Historial . . .
                            </div>
                        </div>
                    </mat-list-option>
                    <mat-list-option *ngIf="!isLoadingMods && dataSourceMods.filteredData.length == 0" disabled class="no-results-found">
                        Sin Resultados
                    </mat-list-option>
                    <mat-list-option *ngFor="let modificacion of dataSourceMods.filteredData" [value]="modificacion">
                        <mat-icon mat-list-icon>{{listaEstatusIconos[modificacion.estatus]}}</mat-icon>
                        <div mat-line><span class="item-label">Solicitado: </span>{{modificacion.solicitado_usuario}}</div>
                        <div mat-line><span class="item-label">Fecha:</span> {{modificacion.solicitado_fecha | date}}</div>
                        <div mat-line><span class="item-label">Nivel:</span> {{(modificacion.nivel == 1)?'Solo Encabezado':'Incluir Articulos'}}</div>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </mat-card>
        <div fxFlex fxLayout="column" class="item-detalles">
            <div fxFlex="none" class="encabezado" *ngIf="modSeleccionada">
                <span *ngIf="datosModificacion.aprobado_nombre && !datosModificacion.cancelado_nombre">Aprobado Por: {{datosModificacion.aprobado_nombre}}</span>
                <span *ngIf="datosModificacion.cancelado_nombre">Cancelado Por: {{datosModificacion.cancelado_nombre}}</span>
                <span *ngIf="!datosModificacion.cancelado_nombre && !datosModificacion.aprobado_nombre">Sin Aprobar</span>
            </div>
            <div fxFlex="none" class="no-seleccionado" *ngIf="!modSeleccionada">
                <span>Seleccione un elemento de la lista</span>
            </div>
            <div fxFlex fxLayout="column" *ngIf="modSeleccionada" style="overflow: hidden;">
                <div fxFlex="none" fxLayout="row wrap" class="datos-modificacion">
                    <div fxFlex="100" class="fake-input" *ngIf="!datosModificacion.modificado_nombre">
                        <span class="label">Solicitado Por:</span>
                        <span class="value">{{datosModificacion.solicitado_nombre}}</span>
                    </div>
                    <div fxFlex="100" class="fake-input" *ngIf="datosModificacion.modificado_nombre">
                        <span class="label">Modificado Por:</span>
                        <span class="value">{{datosModificacion.modificado_nombre}}</span>
                    </div>
                    <div fxFlex="100" class="fake-input">
                        <span class="label">Motivo:</span>
                        <span class="value-text">{{datosModificacion.motivo_modificacion}}</span>
                    </div>
                    <div fxFlex class="fake-input">
                        <span class="label">Estatus:</span>
                        <span class="value">{{listaEstatusLabels[datosModificacion.estatus]}}</span>
                    </div>
                    <div fxFlex class="fake-input">
                        <span class="label">Solicitado:</span>
                        <span class="value">{{datosModificacion.solicitado_fecha}}</span>
                    </div>
                    <div fxFlex class="fake-input" *ngIf="datosModificacion.cancelado_fecha">
                        <span class="label">Cancelado:</span>
                        <span class="value">{{datosModificacion.cancelado_fecha}}</span>
                    </div>
                    <div fxFlex class="fake-input" *ngIf="!datosModificacion.cancelado_fecha">
                        <span class="label">Aprobado:</span>
                        <span class="value">{{datosModificacion.aprobado_fecha||'---'}}</span>
                    </div>
                    <div fxFlex class="fake-input" *ngIf="!datosModificacion.cancelado_fecha">
                        <span class="label">Modificado:</span>
                        <span class="value">{{datosModificacion.modificado_fecha||'---'}}</span>
                    </div>
                </div>
                <div fxFLex fxLayout="row" *ngIf="datosModificacion.estatus != 'FIN'">
                    <div fxFlex class="no-seleccionado">
                        <span *ngIf="datosModificacion.estatus != 'CAN'">Modificación Pendiente de Aplicar</span>
                        <span *ngIf="datosModificacion.estatus == 'CAN'">Modificación Cancelada: {{datosModificacion.motivo_revertido}}</span>
                    </div>
                </div>
                <div fxflex fxLayout="row" style="overflow: auto;"  *ngIf="datosModificacion.estatus == 'FIN'">
                    <div fxFlex fxLayout="column" class="detalles-movimiento">
                        <div fxFlex="none" class="no-seleccionado" *ngIf="datosModificacion.datos_movimiento.length == 0">
                            <span>Sin Registro de Modificaciones</span>
                        </div>
                        <div fxFlex="none" class="encabezado-detalle">
                            <span>Movimiento:</span>
                        </div>
                        <div fxFlex="none" class="detalle">
                            <table class="table-modificacion">
                                <thead>
                                    <tr>
                                        <th>Valor</th>
                                        <th>Original</th>
                                        <th>Modificado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of datosModificacion.datos_movimiento | keyvalue" [ngClass]="{'modificado':item.value.original != item.value.modificado}">
                                        <td>{{item.value.etiqueta}}</td>
                                        <td>{{item.value.original}}</td>
                                        <td>{{item.value.modificado}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div fxFlex="none" class="encabezado-detalle">
                            <span>Articulos:</span>
                        </div>
                        <div fxFlex="none" class="elementos-modificados" *ngFor="let item of datosModificacion.modificaciones_articulos">
                            <table style="width: 100%;" class="table-{{item.datos_articulo_modificado.clase}}">
                                <tr class="cambios-encabezado-articulo">
                                    <td width="1" class="titulo-tipo">
                                        {{item.datos_articulo_modificado.tipo}}
                                    </td>
                                    <td class="titulo-descripcion">
                                        <div class="titulo">{{item.datos_articulo_modificado.clave}}</div>
                                        <div class="subtitulo">{{item.datos_articulo_modificado.nombre}}</div>
                                    </td>
                                </tr>
                                <tr class="cambios-lista-detalles" *ngFor="let item of item.comparativa_datos">
                                    <td colspan="2">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td colspan="3">
                                                        {{item.titulo}}
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="!item.es_arreglo">
                                                <tr *ngFor="let object of item.datos | keyvalue" [ngClass]="{'modificado':object.value.original != object.value.modificado}">
                                                    <td width="1" class="etiqueta">{{(object.value.etiqueta)?object.value.etiqueta:object.key}}</td>
                                                    <td>{{object.value.original||'---'}}</td>
                                                    <td>{{object.value.modificado||'---'}}</td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="item.es_arreglo">
                                                <ng-template ngFor let-object [ngForOf]="item.datos" let-i="index">
                                                    <tr>
                                                        <td width="1" class="etiqueta">{{ object.folio.etiqueta }}</td>
                                                        <td colspan="2">{{object.folio.original||'---'}}</td>
                                                    </tr>
                                                    <tr *ngIf="object.estatus" [ngClass]="{'modificado':object.estatus.original != object.estatus.modificado}">
                                                        <td width="1" class="etiqueta">{{(object.estatus.etiqueta)?object.estatus.etiqueta:object.key}}</td>
                                                        <td>{{object.estatus.original||'---'}}</td>
                                                        <td>{{object.estatus.modificado||'---'}}</td>
                                                    </tr>
                                                    <tr *ngIf="object.cantidad" [ngClass]="{'modificado':object.cantidad.original != object.cantidad.modificado}">
                                                        <td width="1" class="etiqueta">{{(object.cantidad.etiqueta)?object.cantidad.etiqueta:object.key}}</td>
                                                        <td>{{object.cantidad.original||'---'}}</td>
                                                        <td>{{object.cantidad.modificado||'---'}}</td>
                                                    </tr>
                                                    <tr *ngIf="object.modificado_por_usuario" [ngClass]="{'modificado':object.modificado_por_usuario.original != object.modificado_por_usuario.modificado}">
                                                        <td width="1" class="etiqueta">{{(object.modificado_por_usuario.etiqueta)?object.modificado_por_usuario.etiqueta:object.key}}</td>
                                                        <td>{{object.modificado_por_usuario.original||'---'}}</td>
                                                        <td>{{object.modificado_por_usuario.modificado||'---'}}</td>
                                                    </tr>
                                                    <tr *ngIf="object.updated_at" [ngClass]="{'modificado':object.updated_at.original != object.updated_at.modificado}">
                                                        <td width="1" class="etiqueta">{{(object.updated_at.etiqueta)?object.updated_at.etiqueta:object.key}}</td>
                                                        <td>{{object.updated_at.original||'---'}}</td>
                                                        <td>{{object.updated_at.modificado||'---'}}</td>
                                                    </tr>
                                                    <tr *ngIf="object.deleted_at" [ngClass]="{'modificado':object.deleted_at.original != object.deleted_at.modificado}">
                                                        <td width="1" class="etiqueta">{{(object.deleted_at.etiqueta)?object.deleted_at.etiqueta:object.key}}</td>
                                                        <td>{{object.deleted_at.original||'---'}}</td>
                                                        <td>{{object.deleted_at.modificado||'---'}}</td>
                                                    </tr>
                                                </ng-template>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>