<section fxLayout="column" style="height: 100%; overflow: hidden; flex: 1 1 0%;"> <!-- Main Body <<<<<<< -->
    <section fxFlex="none" class="entrada-toolbar"> <!-- Toolbar Menu <<<<<<< -->
        <div fxLayout="row">
            <button fxFlex="none" mat-button [routerLink]="'/almacen/entradas'"><mat-icon>backspace</mat-icon> Volver</button>
            <button fxFlex="none" mat-button color="default" [matMenuTriggerFor]="menuMovimiento" aria-label="Menu de entrada" *ngIf="estatusMovimiento != 'NV'">
                <mat-icon>settings</mat-icon> Opciones <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <button fxFlex="none" mat-button *ngIf="verBoton['guardar']" [matTooltip]="'Guardar'" [disabled]="isSaving || !formMovimiento.valid" (click)="guardarMovimiento()" [class.button-spinner]="isSaving">
                <mat-icon>save</mat-icon>
            </button>
            <div fxFlex>
            </div>
            <div fxFlex="none" *ngIf="datosEntrada && datosEntrada.folio" class="label-info">
                <span>{{datosEntrada.folio}}</span>
            </div>
            <div fxFlex="none" fxLayout="column" *ngIf="estatusMovimiento">
                <div fxFlex fxLayout="row" class="estatus-movimiento {{listaEstatusClaves[estatusMovimiento]}}-color">
                    <span fxFlex="none" style="padding-top:2px;"><mat-icon>{{listaEstatusIconos[estatusMovimiento]}}</mat-icon></span>
                    <span fxFlex="none" style="padding-top:5px;">{{listaEstatusLabels[estatusMovimiento]}}</span>
                </div>
            </div>
        </div>
        <mat-progress-bar *ngIf="isLoading || isSaving" mode="indeterminate" [color]="(isSaving)?'accent':'primary'"></mat-progress-bar>
        <mat-menu #menuMovimiento="matMenu">
            <button mat-menu-item *ngIf="verBoton['concluir'] && estatusMovimiento == 'BOR'" [disabled]="isSaving || !formMovimiento.valid" (click)="concluirMovimiento()">
                <mat-icon>all_inbox</mat-icon>
                <span>Concluir Movimiento</span>
            </button>
            <button mat-menu-item *ngIf="verBoton['concluir'] && estatusMovimiento == 'PERE'" [disabled]="isSaving || !formMovimiento.valid" (click)="concluirMovimiento()">
                <mat-icon>all_inbox</mat-icon>
                <span>Concluir Recepción</span>
            </button>
            <button mat-menu-item *ngIf="estatusMovimiento == 'FIN'" [routerLink]="'/almacen/salidas/nueva'" [state]="{data:{movimiento_id:datosEntrada.id}}">
                <mat-icon color="primary">reply</mat-icon>
                <span>Crear Salida</span>
            </button>
            <mat-divider *ngIf="estatusMovimiento == 'BOR'"></mat-divider>
            <button mat-menu-item style="color:red;" *ngIf="estatusMovimiento == 'BOR'" (click)="eliminarEntrada()">
                <mat-icon color="warn">delete</mat-icon>
                <span>Eliminar Entrada</span>
            </button>
            <div [ifHasPermission]="'XwFSazUr0aCZcAYtcdjYkw69N9amlutP'">
                <mat-divider *ngIf="estatusMovimiento == 'FIN'"></mat-divider>
                <button mat-menu-item style="color:red;" *ngIf="estatusMovimiento == 'FIN'" (click)="cancelarEntrada()">
                    <mat-icon color="warn">cancel</mat-icon>
                    <span>Cancelar Entrada</span>
                </button>
            </div>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="generarPDF()">
                <mat-icon>print</mat-icon>
                <span>Imprimir</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item [routerLink]="'/almacen/entradas/nueva'">
                <mat-icon>add_circle</mat-icon>
                <span>Nueva Entrada</span>
            </button>
            <!--button mat-menu-item *ngIf="estatusMovimiento == 'FIN'">
                <mat-icon>settings_applications</mat-icon>
                <span>Configurar Firmantes</span>
            </button>
            <button mat-menu-item *ngIf="estatusMovimiento == 'FIN'">
                <mat-icon>border_color</mat-icon>
                <span>Firmar</span>
            </button>
            <button mat-menu-item *ngIf="verBoton['enviar_revision'] && estatusMovimiento == 'BOR'">
                <mat-icon>outbox</mat-icon>
                <span>Enviar a Revisión</span>
            </button-->
        </mat-menu>
    </section> <!-- <<<<<<< Toolbar Menu -->

    <section fxFlex fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="position:relative; padding:10px; overflow: hidden;"> <!-- Module Body <<<<<<< -->
        <div class="data-loading-shade" *ngIf="isLoading || isSaving"></div>
        <section fxFlex="none" fxLayout="column">
            <mat-card fxFlex fxLayout="row raw"  fxLayoutGap="5px" fxLayoutAlign="space-between center" [formGroup]="formMovimiento" [style.fontSize.px]="15">
                <mat-form-field fxFlex="none" *ngIf="datosForm.fecha_movimiento">
                    <mat-label>Fecha Entrada</mat-label>
                    <input matInput formControlName="fecha_movimiento" [max]="maxFechaMovimiento" [matDatepicker]="picker" required readonly>
                    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [disabled]="!editable"></mat-datepicker>
                    <mat-hint align="start"><mat-icon>arrow_upward</mat-icon>Click en icono para seleccionar</mat-hint>
                    <mat-error *ngIf="formMovimiento.get('fecha_movimiento').hasError('required')">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="none" *ngIf="!datosForm.fecha_movimiento && datosEntrada">
                    <mat-label>Fecha Entrada</mat-label>
                    <input matInput value="{{datosEntrada.fecha_movimiento | date:'MMMM d, y'}}" readonly>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="datosForm.almacen_id">
                    <mat-label>Almacén</mat-label>
                    <mat-select formControlName="almacen_id" (selectionChange)="checarAlmacenSeleccionado()" required>
                        <mat-option *ngIf="catalogos['almacenes'].length == 0">Sin Almacenes</mat-option>
                        <mat-option *ngFor="let item of catalogos['almacenes']" [value]="item.id">
                            {{item.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="!datosForm.almacen_id && datosEntrada">
                    <mat-label>Almacén</mat-label>
                    <input matInput [value]="(datosEntrada.almacen)?datosEntrada.almacen.nombre:'Sin Almacén'" readonly>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="datosForm.tipo_movimiento_id">
                    <mat-label>Tipo de Entrada</mat-label>
                    <mat-select formControlName="tipo_movimiento_id" required>
                        <mat-option *ngIf="catalogos['tipos_movimiento'].length == 0" disabled>Sin Tipos de Movimiento</mat-option>
                        <mat-option *ngFor="let item of catalogos['tipos_movimiento']" [value]="item.id">
                            {{item.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="none" *ngIf="!datosForm.tipo_movimiento_id && datosEntrada">
                    <mat-label>Tipo Entrada</mat-label>
                    <input matInput [value]="(datosEntrada.tipo_movimiento)?datosEntrada.tipo_movimiento.descripcion:'Sin Tipo Asignado'" readonly>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="datosForm.turno_id">
                    <mat-label>Turno</mat-label>
                    <mat-select formControlName="turno_id" required>
                        <mat-option *ngIf="catalogos['turnos'].length == 0">Sin Turnos Capturados</mat-option>
                        <mat-option *ngFor="let item of catalogos['turnos']" [value]="item.id">
                            {{item.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="none" *ngIf="!datosForm.turno_id && datosEntrada">
                    <mat-label>Turno</mat-label>
                    <input matInput [value]="(datosEntrada.turno)?datosEntrada.turno.nombre:'Sin Turno Asignado'" readonly>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="datosForm.programa">
                    <mat-label>Programa</mat-label>
                    <input type="text" matInput aria-label="Programa" placeholder="Teclee para buscar un programa" formControlName="programa" [matAutocomplete]="autoProgramas" autocomplete="off" required>
                    <button mat-icon-button matPrefix>
                        <mat-icon>list_alt</mat-icon>
                    </button>
                    <mat-autocomplete autoActiveFirstOption #autoProgramas="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" panelWidth="auto">
                        <mat-option *ngIf="catalogos['programas'].length == 0" value="">No hay programas capturados</mat-option>
                        <mat-option *ngFor="let programa of filteredProgramas | async" [value]="programa">
                            {{programa.descripcion}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint *ngIf="formMovimiento.get('programa').value"><mat-icon>{{(formMovimiento.get('programa').value.id)?'check_box':'indeterminate_check_box'}}</mat-icon></mat-hint>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="!datosForm.programa && datosEntrada">
                    <mat-label>Programa</mat-label>
                    <input matInput [value]="(datosEntrada.programa)?datosEntrada.programa.descripcion:'Sin Programa'" readonly>
                </mat-form-field>
                
                <mat-form-field fxFlex *ngIf="datosForm.documento_folio">
                    <mat-label>Folio - Documento</mat-label>
                    <input matInput formControlName="documento_folio" autocomplete="off" [readonly]="!editable">
                    <mat-hint align="end">En caso de ser necesario</mat-hint>
                </mat-form-field>

                <mat-form-field fxFlex="none" *ngIf="!datosForm.documento_folio && datosEntrada">
                    <mat-label>Folio - Documento</mat-label>
                    <input matInput [value]="(datosEntrada.documento_folio)?datosEntrada.documento_folio:'---'" readonly>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="datosForm.proveedor">
                    <mat-label>Proveedor</mat-label>
                    <input #proveedorInput type="text" placeholder="Teclee para buscar un proveedor" matInput formControlName="proveedor" [matAutocomplete]="autoProveedores">
                    <button mat-icon-button matPrefix>
                        <mat-icon>list_alt</mat-icon>
                    </button>
                    <mat-autocomplete #autoProveedores="matAutocomplete" [displayWith]="getDisplayFn('nombre')" panelWidth="auto">
                        <mat-option *ngIf="catalogos['proveedores'].length == 0" value="">No hay proveedores capturados</mat-option>
                        <mat-option *ngFor="let proveedor of filteredProveedores | async" [value]="proveedor">
                            {{proveedor.nombre}} <mat-hint>[{{proveedor.rfc}}]</mat-hint>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint *ngIf="formMovimiento.get('proveedor').value"><mat-icon>{{(formMovimiento.get('proveedor').value.id)?'check_box':'indeterminate_check_box'}}</mat-icon></mat-hint>
                    <mat-hint align="end" *ngIf="formMovimiento.get('proveedor').value">[{{formMovimiento.get('proveedor').value.rfc}}]</mat-hint>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="!datosForm.proveedor && datosEntrada">
                    <mat-label>Proveedor</mat-label>
                    <input matInput [value]="(datosEntrada.proveedor)?datosEntrada.proveedor.nombre:'Sin Proveedor'" readonly>
                </mat-form-field>

                <mat-form-field fxFlex="none" *ngIf="datosForm.referencia_folio">
                    <mat-label>No de Referencia</mat-label>
                    <input matInput formControlName="referencia_folio" [readonly]="!editable" autocomplete="off">
                    <mat-hint>Folio de Referencia o Factura</mat-hint>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="!datosForm.referencia_folio && datosEntrada">
                    <mat-label>No de Referencia</mat-label>
                    <input matInput [value]="(datosEntrada.referencia_folio)?datosEntrada.referencia_folio:'---'" readonly>
                    <mat-hint>Folio de Referencia o Factura</mat-hint>
                </mat-form-field>

                <mat-form-field fxFlex="none" *ngIf="datosForm.referencia_fecha">
                    <mat-label>Fecha de Referencia</mat-label>
                    <input matInput formControlName="referencia_fecha" [max]="maxFechaMovimiento" [matDatepicker]="pickerReferencia" readonly>
                    <mat-datepicker-toggle matPrefix [for]="pickerReferencia"></mat-datepicker-toggle>
                    <mat-datepicker #pickerReferencia [disabled]="!editable" startView="year"></mat-datepicker>
                    <mat-hint align="start"><mat-icon>arrow_upward</mat-icon>Click en icono para seleccionar</mat-hint>
                </mat-form-field>

                <mat-form-field fxFlex="none" *ngIf="!datosForm.referencia_fecha && datosEntrada">
                    <mat-label>Fecha de Referencia</mat-label>
                    <input matInput [value]="(datosEntrada.referencia_fecha)?(datosEntrada.referencia_fecha | date:'MMMM d, y'):'---'" readonly>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="datosForm.observaciones">
                    <mat-label>Observaciones</mat-label>
                    <textarea matInput formControlName="observaciones" rows="1" [readonly]="!editable"></textarea>
                </mat-form-field>

                <mat-form-field fxFlex *ngIf="!datosForm.observaciones && datosEntrada">
                    <mat-label>Observaciones</mat-label>
                    <textarea matInput rows="1" readonly>{{(datosEntrada.observaciones)?datosEntrada.observaciones:'---'}}</textarea>
                </mat-form-field>
            </mat-card>
        </section>

        <section fxFlex fxLayout="row" fxLayoutGap="10px">
            <section fxFlex="25" fxLayout="column">
                <mat-card fxFlex="none" fxLayout="column" *ngIf="verBoton['agregar_articulos']" style="padding:0px; margin-bottom: 5px;">
                    <widget-buscador-articulos fxFlex="none" [mostrarExistencias]="false" (articuloSeleccionado)="agregarArticulo($event)"></widget-buscador-articulos>
                </mat-card>
                <mat-card fxFlex="none" fxLayout="column" *ngIf="tieneSolicitado" class="datos-movimiento-solicitud">
                    <div fxFlex="none">
                        <div fxFlex class="solicitud-tipo {{listaEstatusClaves[datosEntrada.solicitud.estatus]}}-color">
                            {{datosEntrada.solicitud.tipo_solicitud.descripcion}}
                        </div>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div fxFlex="none" class="folio">
                        <span>{{ datosEntrada.solicitud.folio }}</span>
                    </div>
                    <div fxFlex="none" fxLayout="row" class="demi-table">
                        <div fxFlex="none" fxLayout="column" class="demi-rows-labels">
                            <div fxFlex>&nbsp;</div>
                            <div fxFlex>Claves</div>
                            <div fxFlex>Articulos</div>
                        </div>
                        <div fxFlex fxLayout="column">
                            <div fxFlex class="demi-column-label">Solicitados / Surtidos</div>
                            <div fxFlex class="demi-column-data">{{datosEntrada.solicitud.total_claves_solicitadas | number:'1.0-0'}} / {{datosEntrada.solicitud.total_claves_surtidas | number:'1.0-0'}}</div>
                            <div fxFlex class="demi-column-data">{{datosEntrada.solicitud.total_articulos_solicitados | number:'1.0-0'}} / {{datosEntrada.solicitud.total_articulos_surtidos | number:'1.0-0'}}</div>
                        </div>
                        <div fxFlex fxLayout="column">
                            <div fxFlex class="demi-column-label">%</div>
                            <div fxFlex class="demi-column-data">{{ +datosEntrada.solicitud.porcentaje_claves_surtidas | number:'1.0-2'}} %</div>
                            <div fxFlex class="demi-column-data">{{ +datosEntrada.solicitud.porcentaje_articulos_surtidos | number:'1.0-2'}} %</div>
                        </div>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div fxFlex="none" class="fecha">
                        <span>{{ datosEntrada.solicitud.updated_at | date:'MMMM d, y' }}</span>
                    </div>
                </mat-card>
                <mat-card fxFlex fxLayout="column" style="overflow: auto;">
                    <div fxFlex="none" fxLayout="column">
                        <mat-list role="list" dense *ngIf="totalesRecibidos">
                            <mat-divider></mat-divider>
                            <h3 matSubheader>Totales</h3>
                            <mat-divider></mat-divider>
                            <mat-list-item role="listitem">
                                Claves: {{ totalesRecibidos.claves | number }}
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                Articulos: {{ totalesRecibidos.articulos | number}}
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="totalesRecibidos.recibidos >= 0">
                                Articulos Recibidos: {{ totalesRecibidos.recibidos | number}}
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                Monto: $ {{ totalesRecibidos.monto | number:'1.2-2'}}
                            </mat-list-item>
                            <ng-template *ngIf="totalesRecibidos.por_caducar.claves > 0">
                                <mat-divider></mat-divider>
                                <h3 matSubheader>Por Caducar</h3>
                                <mat-divider></mat-divider>
                                <mat-list-item role="listitem">
                                    Claves: {{ totalesRecibidos.por_caducar.claves | number }}
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                    Articulos: {{ totalesRecibidos.por_caducar.articulos | number}}
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                    Monto: $ {{ totalesRecibidos.por_caducar.monto | number:'1.2-2'}}
                                </mat-list-item>
                            </ng-template>
                            <ng-template *ngIf="totalesRecibidos.caducados.claves > 0">
                                <mat-divider></mat-divider>
                                <h3 matSubheader>Caducados</h3>
                                <mat-divider></mat-divider>
                                <mat-list-item role="listitem">
                                    Claves: {{ totalesRecibidos.caducados.claves | number }}
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                    Articulos: {{ totalesRecibidos.caducados.articulos | number}}
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                    Monto: $ {{ totalesRecibidos.caducados.monto | number:'1.2-2'}}
                                </mat-list-item>
                            </ng-template>
                        </mat-list>
                    </div>
                    <div fxFlex fxLayout="column"></div>
                </mat-card>
            </section>
            <section fxFlex fxLayout="column">
                <mat-card fxFlex="100" fxLayout="column">
                    <div fxFlex="none" fxLayout="row" style="padding-top:4px;">
                        <div fxFlex class="small-search-input">
                            <mat-form-field fxFlex appearance="outline">
                                <input matInput [(ngModel)]="filtroArticulos" (keyup)="aplicarFiltroArticulos($event)" placeholder="Filtrar">
                            </mat-form-field>
                        </div>
                        <div fxFlex="none">
                            <button mat-stroked-button (click)="limpiarFiltroArticulos()" [disabled]="!filtroAplicado">
                                <mat-icon>filter_alt_off</mat-icon>
                            </button>
                        </div>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <div fxFlex style="overflow: auto;">
                        <table mat-table [dataSource]="dataSourceArticulos" class="data-table" matSort multiTemplateDataRows>
                            
                            <ng-container matColumnDef="estatus" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="1"> Estatus </th>
                                <td mat-cell *matCellDef="let row" style="text-align: center;">
                                    <mat-icon class="estatus-articulo-{{estatusArticulosColores[row.estatus]}}">{{estatusArticulosIconos[row.estatus]}}</mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="clave">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header width="1"> Clave </th>
                                <td mat-cell *matCellDef="let row" style="white-space: nowrap; padding:0px 5px;">
                                    {{row.clave}}
                                </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="nombre" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true"> Nombre </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true"> {{row.nombre}} </td>
                            </ng-container>

                            <ng-container matColumnDef="no_lotes" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true" width="1" style="text-align: center; white-space: nowrap;"> # Lotes </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true" width="1" style="white-space: nowrap; text-align: center;"> {{row.no_lotes | number:'1.0-0'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="cantidad_solicitada" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true" width="1" style="text-align: center; white-space: nowrap;"> Solicitado </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true" width="1" style="white-space: nowrap; text-align: center;"> {{row.cantidad_solicitada | number:'1.0-0'}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="total_piezas" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true" width="1" style="text-align: center; white-space: nowrap;"> {{(modoRecepcion)?'Enviado':'Cantidad'}} </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true" width="1" style="white-space: nowrap; text-align: center;"> {{row.total_piezas | number:'1.0-0'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="total_monto" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true" style="text-align: center; white-space: nowrap;"> Monto </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true" width="1" style="white-space: nowrap; text-align: center;"> ${{row.total_monto | number:'1.2-2'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="total_recibido" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true" style="text-align: center; white-space: nowrap;"> Recibido </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="true" width="1" style="white-space: nowrap; text-align: center;"> {{row.total_recibido | number:'1.0-0'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell width="1" *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let row; let i = index" width="1" style="white-space: nowrap;">
                                    <mat-icon>{{(idArticuloSeleccionado == row.id)?'expand_less':'expand_more'}}</mat-icon>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="expandedDetail">
                                <td mat-cell *matCellDef="let articulo" [attr.colspan]="displayedColumns.length">
                                    <div class="articulo-detalle-listado-lotes" [@detailExpand]="articulo.id == idArticuloSeleccionado ? 'expanded' : 'collapsed'">
                                    <div class="articulo-listado-lotes">
                                        <div fxLayout="column">
                                            <div fxFlex="none">
                                                {{articulo.descripcion}}
                                            </div>
                                            <div fxFlex="none" fxLayout="row">
                                                <mat-icon fxFlex="none" matTooltip="En Catalogo" *ngIf="articulo.en_catalogo" style="color:blue;">fact_check</mat-icon>
                                                <mat-icon fxFlex="none" matTooltip="Normativo" *ngIf="articulo.normativo" style="color:green;">notification_important</mat-icon>
                                                <mat-icon fxFlex="none" matTooltip="Descontinuado" *ngIf="articulo.descontinuado" style="color:red;">warning</mat-icon>
                                                <div fxFlex></div>
                                                <button fxFlex="none" class="medium-button" color="warn" mat-button (click)="quitarArticulo(articulo)" *ngIf="puedeEditarElementos && !modoRecepcion">
                                                    <mat-icon>delete</mat-icon> Eliminar Articulo
                                                </button>
                                            </div>
                                        </div>
                                        <inner-articulo-admin-lista-lotes   [articulo]="articulo" 
                                                                            [edicionActiva]="puedeEditarElementos" 
                                                                            [fechaMovimiento]="(formMovimiento.get('fecha_movimiento'))?formMovimiento.get('fecha_movimiento').value:datosEntrada.fecha_movimiento"
                                                                            [catalogoMarcas]="catalogos['marcas']"
                                                                            [modoRecepcion]="modoRecepcion"
                                                                            (cambiosEnLotes)="aplicarCambios($event)">
                                        </inner-articulo-admin-lista-lotes>
                                    </div>
                                    </div>
                                </td>
                            </ng-container>
        
                            <ng-container matColumnDef="noResultsFound">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length"> No se encontraron articulos </td>
                            </ng-container>
                            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row class="tabla-row-articulo" *matRowDef="let row; let i = index; columns: displayedColumns;" 
                                (click)="expandirRow(row)" [class.tabla-row-articulo-expandido]="idArticuloSeleccionado === row.id" >
                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="tabla-row-articulo-detalle"></tr>
        
                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide': dataSourceArticulos && dataSourceArticulos.filteredData.length > 0}"></tr>
                        </table>
                    </div>
                    <div fxFlex="none" fxLayout="row">
                        <div fxFlex="none" style="padding-top: 10px;">
                        </div>
                        <div fxFlex>
                            <mat-paginator [pageSize]="pageSize" [pageIndex]="currentPage" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </mat-card>
            </section>
        </section>
    </section> <!-- <<<<<<< Module Body -->
</section> <!-- <<<<<<< Main Body -->