.medicamento-bg-color{
    background-color: cornflowerblue !important;
}

.mat-curacion-bg-color{
    background-color: coral !important;
}

.medicamento-color{
    color: cornflowerblue !important;
}

.mat-curacion-color{
    color: coral !important;
}

.icono-tipo-insumo{
    height: 25px;
}

:host ::ng-deep .filtro-tipo-insumo .mat-button-toggle-button{
    text-shadow: 1px 1px black !important;
}

.mat-button-toggle {
    color: rgba(0,0,0,1);
}

.mat-button-toggle-checked {
    background-color: lightskyblue;
    color: rgba(0,0,0,.54);
}

:host ::ng-deep .mat-radio-container{
    height: 12px;
    width: 12px;
}
:host ::ng-deep .mat-radio-outer-circle{
    height: 12px;
    width: 12px;
}
:host ::ng-deep .mat-radio-inner-circle{
    height: 12px;
    width: 12px;
}
:host ::ng-deep .mat-radio-button .mat-radio-ripple{
    height: 24px; /*double of your required circle radius*/
    width: 24px;  /*double of your required circle radius*/
    left: calc(50% - 12px); /*'12px'-same as your required circle radius*/
    top: calc(50% - 12px); /*'12px'-same as your required circle radius*/
}

:host ::ng-deep .mat-radio-label-content{
    padding-right:5px;
}

.lista-insumos-item{
    height: 272px;
    overflow: hidden;
    padding:8px;
    background-color:whitesmoke;
}


/*.lista-insumos-item-contenido{
    padding: 0px 8px 8px 8px;
}*/

.lista-insumo-item-acciones{
    /* flex-direction: row;
    box-sizing: border-box;
    display: flex;
    display: block; */
    margin: 0px -8px -8px -8px;
    padding: 9px 8px;
    background-color: lightgray;
    filter: brightness(1.1);
}

.lista-insumos-item:hover{
    /*background-color: lightgoldenrodyellow;*/
    border: dashed thin black;
    background-color: white;
}

.lista-insumos-item.selected{
    background-color: lightblue;
}

.lista-insumos-item.selected:hover{
    background-color: none !important;
}

.lista-insumos-item .lista-insumos-item-etiqueta{
    height: 49px;
    width: 100%;
    display: table;
    color: whitesmoke;
    margin: -8px -8px 0px -8px;
    padding: 0px 8px 0px 8px;
}

.lista-insumos-item .lista-insumos-item-etiqueta-icono{
    height: 35px;
    width: 35px;
    border-radius: 25%;
    flex-shrink: 0;
    object-fit: cover;
    padding:5px;
    display: table-cell;
}

.lista-insumos-item .lista-insumos-item-etiqueta-texto{
    padding:5px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    height: 18px;
}

.lista-insumos-item-cabecera{
    display: flex;
    flex-direction: column;
}

.lista-insumos-item-cabecera-titulo{
    height: 48px;
    display: block;
    font-weight: 450;
    font-size: 20px;
    text-overflow: ellipsis;
    text-align: justify;
    text-justify: inter-word;
}

.lista-insumos-item-cabecera-subtitulo{
    height: 17px;
    display: block;
    font-size: 14px;
    color: rgba(0,0,0,.54);
}

.lista-insumos-item-texto{
    height: 112px;
    display: block;
    font-size: 14px;
    padding: 5px 0;
    text-overflow: ellipsis;
    text-align: justify;
    text-justify: inter-word;
}

.insumo-lotes-tile:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: dashed thin black;
    z-index: 99999;

    filter: brightness(125%);
}