<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
    <section fxFlex="none">
        <table class="table-articulo">
            <tr><th><span>Clave:</span></th><td>{{(datosArticulo.clave_cubs)?datosArticulo.clave_cubs:datosArticulo.clave_local}}</td></tr>
            <tr><th><span>Articulo:</span></th><td>{{datosArticulo.articulo}}</td></tr>
            <tr><th><span>Especificaciones:</span></th><td>{{datosArticulo.especificaciones}}</td></tr>
        </table>
    </section>
    <section fxFlex>
        <div>
            5456
        </div>
    </section>
    <section fxFlex="none">
        <div>
            5456
        </div>
    </section>
</section>
