<!--h1 mat-dialog-title>Buscar Empleado</h1-->
<div mat-dialog-content [class.mat-dialog-content-fullscreen]="mediaSize=='xs'">
    <section >
        <mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="selectedTab = $event" [color]="'accent'" [backgroundColor]="'primary'" animationDuration="0ms">
            <mat-tab label="Buscar Empleado" [disabled]="(selectedTab != 0)">
                <ng-template matTabContent>
                    <br>
                    <div fxLayout="column" fxLayout.xs="column">
                        <section fxFlex fxLayout="row" fxLayout.xs="column">
                            <mat-form-field fxFlex fxFlex.xs="100" appearance="outline">
                                <mat-label>Buscar Empleado</mat-label>
                                <input matInput #busquedaEmpleado cdkFocusInitial [(ngModel)]="search" (keyup.escape)="search = ''"  (keyup.enter)="buscarEmpleados()" [readonly]="isLoading" autofocus>
                            </mat-form-field>
                            <div fxFlex="none" fxFlex.xs="100">
                                <section class="search-button">
                                    <button mat-raised-button color="accent" (click)="buscarEmpleados()" [disabled]="isLoading" fxFlex.xs="100">
                                        <mat-icon>search</mat-icon> <span fxHide fxShow.xs="true">&nbsp;Buscar</span>
                                    </button>
                                </section>
                            </div>
                        </section>
                
                        <div fxFlex><!--class="mat-elevation-z8" max-height: 300px;  -->
                            <div style="padding-bottom:5px; overflow: auto;">
                                <table #usersTable mat-table [dataSource]="dataSource" class="employees-table" matSort>
                                    <ng-container matColumnDef="estatus">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
                                        <td mat-cell *matCellDef="let row"> <mat-icon>{{(row.estatus >= 2)?statusIcon[row.estatus]:statusIcon[row.estatus+'-'+row.validado]}}</mat-icon> </td>
                                    </ng-container>
                
                                    <!-- Username Column -->
                                    <ng-container matColumnDef="nombre">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre / RFC </th>
                                        <td mat-cell *matCellDef="let row"> {{row.nombre}} <br> <small>{{row.rfc}}</small> </td>
                                    </ng-container>
                            
                                    <!--ng-container matColumnDef="rfc">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> RFC </th>
                                        <td mat-cell *matCellDef="let row"> {{row.rfc}} </td>
                                    </ng-container-->
                
                                    <ng-container matColumnDef="clues">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="true"> CLUES / CR </th>
                                        <td mat-cell *matCellDef="let row" fxHide.xs="true"> 
                                            {{row.clues.nombre_unidad}}<br> <small>{{ (row.cr)?row.cr.descripcion:'Sin CR asignado'}}</small> 
                                        </td>
                                    </ng-container>
                
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                        <td mat-cell *matCellDef="let row; let i = index">
                                            <button *ngIf="row.estatus == 3"                                mat-raised-button color="primary"   (click)="activarEmpleado(row)"   matTooltip="Activar Empleado"   [matTooltipPosition]="'before'">
                                                <mat-icon>link</mat-icon>
                                            </button>
                                            <button *ngIf="row.estatus != 3 && row.empleado_propio == 0"    mat-raised-button color="accent"    (click)="solicitarEmpleado(row)" matTooltip="Solicitar Empleado" [matTooltipPosition]="'before'">
                                                <mat-icon>redo</mat-icon>
                                            </button>
                                            <button *ngIf="row.estatus != 3 && row.empleado_propio == 1"    mat-raised-button color="info"      (click)="editarEmpleado()"    matTooltip="Editar"             [matTooltipPosition]="'before'" routerLink="/empleados/editar/{{row.id}}">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <!--button mat-raised-button color="primary"><mat-icon>swap_horiz</mat-icon></button-->
                                        </td>
                                    </ng-container>
                
                                    <ng-container matColumnDef="noResultsFound">
                                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="columnsToDisplay.length">
                                            No se encontraron registros 
                                        </td>
                                    </ng-container>
                
                                    <ng-container matColumnDef="loadingResults">
                                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="columnsToDisplay.length">
                                            <mat-spinner diameter="30"></mat-spinner> Cargando
                                        </td>
                                    </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; let i = index; columns: columnsToDisplay;"></tr>
                
                                    <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0) || isLoading}"></tr>
                                    <tr mat-footer-row *matFooterRowDef="['loadingResults']" class="not-results-found" [ngClass]="{'hide':!isLoading}"></tr>
                                </table>
                            </div>
                            <mat-hint *ngIf="resultsLength > 20">*Se muestran los primeros 20 resultados de la busqueda</mat-hint>
                            <!--<mat-paginator *ngIf="resultsLength > 0" #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadEmpleadosData($event)"></mat-paginator>-->
                        </div>
                    </div>
                </ng-template>
            </mat-tab>

            <mat-tab label="{{actionLabel}}" [disabled]="(selectedTab != 1)">
                <ng-template matTabContent >
                    <section fxLayout="row" fxLayout.xs="column">
                        <section fxFlex="30" style="padding-top:10px; padding-right:10px;">
                            <div class="credential-loading-shade" *ngIf="isLoadingCredential">
                                <mat-progress-bar mode="indeterminate"></mat-progress-bar><br>
                                <span>Cargando los datos de la credencial del empleado</span>    
                            </div>
        
                            <div *ngIf="!isLoadingCredential && !datosCredencial" style="text-align: center;">
                                <span>No se encontraron los datos de la credencial de este empleado</span><br>
                                <button (click)="cargarDatosCredencial()" mat-button color="primary"><mat-icon>refresh</mat-icon> Recargar los Datos</button>
                            </div>
                            
                            <img *ngIf="!isLoadingCredential && datosCredencial" mat-card-image style="height:250px; width: 100%; margin:0 auto 0 auto; border-radius: 50%;" src="{{datosCredencial.photo}}" alt="">
                            <div *ngIf="!isLoadingCredential && datosCredencial" fxLayout="column" >
                                <div fxFlex style="text-align: center;">
                                    <h3>
                                        <small>{{datosCredencial.Adscripcion_Area}} <!-- <br/>{{datosCredencial.Direccion}}{{datosCredencial.Nombre}}<br> --> </small>
                                    </h3>
                                </div>
                            </div>
                        </section>
                        <section fxFlex="70" fxLayout="column"  style="padding-top:10px;">
                            <section fxFlex class="mat-elevation-z2">
                                <table class="tabla-info-transferencia">
                                    <tr *ngIf="itemSelected">
                                        <th>Nombre</th><td>{{itemSelected.nombre}}</td><td width="1" fxHide.xs="true">{{itemSelected.rfc}}</td>
                                    </tr>
                                    <tr>
                                        <th>CLUES</th><td>{{cluesOrigen.nombre_unidad}}</td><td width="1" fxHide.xs="true">{{cluesOrigen.clues}}</td>
                                    </tr>
                                    <tr *ngIf="crOrigen">
                                        <th>CR</th><td>{{crOrigen.descripcion}}</td><td fxHide.xs="true">{{crOrigen.cr}}</td>
                                    </tr>
                                </table>
                            </section>
                    
                            <div fxFlex fxLayoutAlign="center center"><mat-icon>arrow_downward</mat-icon></div>
                    
                            <section fxFlex fxLayout="column">
                                <mat-form-field fxFlex>
                                    <mat-label>CLUES</mat-label>
                                    <input type="text" aria-label="clues" matInput [formControl]="cluesSearch" [(ngModel)]="cluesDestino" [matAutocomplete]="cluesAutocomplete">
                                    <mat-autocomplete #cluesAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('nombre_unidad')" [panelWidth]="'auto'" (optionSelected)='getCrCatalog($event.option.value)'>
                                        <mat-option *ngFor="let item of filteredClues | async" [value]="item">
                                            {{item.nombre_unidad}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-hint align="end" *ngIf="cluesDestino">{{cluesDestino.clues}}</mat-hint>
                                </mat-form-field>
    
                                <mat-form-field fxFlex>
                                    <mat-label>CR</mat-label>
                                    <input type="text" aria-label="cr" matInput [formControl]="crSearch" [(ngModel)]="crDestino" [matAutocomplete]="crAutocomplete">
                                    <mat-autocomplete #crAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" [panelWidth]="'auto'">
                                        <mat-option *ngFor="let item of filteredCr | async" [value]="item">
                                            {{item.descripcion}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-hint align="end" *ngIf="crDestino">{{crDestino.cr}}</mat-hint>
                                </mat-form-field>
                            </section>
                        </section>
                    </section>
                    <br>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </section>
</div> <!-- mat-tab-dialog-content -->
<div mat-dialog-actions>
    <button *ngIf="selectedTab == 0" mat-raised-button color="info"  routerLink="/empleados/nuevo" (click)="dialogRef.close()" [disabled]="isLoading">
        <mat-icon>add_circle</mat-icon>
        Empleado Nuevo
    </button>
    <span fxFlex></span>
    <button *ngIf="selectedTab == 0" mat-button (click)='cancelar()'>Cerrar</button>
    <button *ngIf="selectedTab == 1" mat-raised-button (click)="cancelAction()" [disabled]="isLoading">
        <mat-icon>navigate_before</mat-icon>
        Regresar
    </button>
    <button *ngIf="selectedTab == 1 && actionSelected == 'solicitar'" mat-raised-button color="accent" (click)="confirmarSolicitar()" [disabled]="!(cluesDestino && crDestino)">
        <mat-icon>redo</mat-icon>
        Solicitar
    </button>
    <button *ngIf="selectedTab == 1 && actionSelected == 'activar'" mat-raised-button color="primary" (click)="confirmarActivar()" [disabled]="!(cluesDestino && crDestino)">
        <mat-icon>link</mat-icon>
        Activar
    </button>
</div>
