<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
    <section fxFlex="none" style="font-weight: 450; font-size: 20px; text-align: center;">
        Se requiere una acción
    </section>
    <section fxFlex="none" fxLayout="column" style="font-size: 14px;">
        El pedido ya contiene insumos agregados, por lo tanto es necesario realizar una acción adicional al agregar o eliminar unidades.
    </section>
    <section fxFlex="none" fxLayout="row">
        <div fxFlex></div>
        <div fxFlex="70" fxLayout="column">
            <mat-radio-group class="grupo-acciones" [(ngModel)]="accionSeleccionada">
                <mat-radio-button class="boton-accion" *ngFor="let accion of listaAcciones" [value]="accion.codigo">
                    {{accion.descripcion}}
                </mat-radio-button>
            </mat-radio-group>
            <div *ngIf="accionSeleccionada == 'SEL'">
                <mat-form-field style="width: 100%;">
                    <input matInput type="text" placeholder="Seleccione una unidad" [matAutocomplete]="auto" [formControl]="unidadSeleccionada">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="mostrarTextoValor" [panelWidth]="'auto'">
                      <mat-option *ngFor="let unidad of unidadesFiltradas | async" [value]="unidad">
                        {{unidad.nombre}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div fxFlex></div>
    </section>
    <section fxFlex="none">
        <div fxLayout="row">
            <div fxFlex>
            </div>
            <div fxFlex="none">
                <button mat-button (click)="close()">Cancelar</button>&nbsp;
                <button mat-raised-button color="info" (click)="aplicarAccion()" [disabled]="!accionSeleccionada">Aceptar</button>
            </div>
        </div>
    </section>
</section>
