<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
    <div class="data-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
    <section fxFlex="none" fxLayout="column">
        <div fxFlex="none">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex fxLayout="row wrap">
                    <mat-form-field fxFill appearance="fill">
                        <mat-label>Buscar</mat-label>
                        <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                        <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                            <mat-icon>close</mat-icon>
                        </button>
                        <button mat-icon-button matSuffix (click)="applyFilter()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>

            <div *ngIf="showReportForm || showMyStepper && isLoadingPDF" fxLayout="column" fxLayoutAlign="center stretch">
                <!-- <div *ngIf="showReportForm">
                    <section fxLayout="column" fxLayoutAlign="center stretch">
                        <button mat-stroked-button (click)="reportePacientes()" color="info"><mat-icon class="material-icons-outlined">picture_as_pdf</mat-icon> Descargar Archivo PDF</button>
                    </section>
                </div> -->
                &nbsp;
                <div class="my-stepper" *ngIf="showMyStepper">
                    <ng-container *ngFor="let step of stepperConfig.steps; let i = index">
                        <div class="my-step" [class.my-step-active]="step.status == 2" [class.my-step-done]="step.status == 3" [class.my-step-error]="step.status == 0">
                            <mat-icon>{{step.icon}}</mat-icon>
                            <div class="my-step-label">
                                {{(step.status < 2)?step.label.standBy:((step.status == 2)?step.label.active:step.label.done)}} <mat-progress-bar *ngIf="step.status == 2" mode="indeterminate"></mat-progress-bar>
                                <small *ngIf="step.status == 0" class="my-step-error-message">{{step.errorMessage}}</small>
                            </div>
                            <mat-icon *ngIf="step.status == 3">done</mat-icon>
                            <mat-icon *ngIf="step.status == 0">error</mat-icon>
                        </div>
                        <div *ngIf="(i+1) < stepperConfig.steps.length" class="my-step-separator"></div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div fxFlex="none" fxLayout="row" fxLayoutGap="5px">
            <div fxFlex fxLayout="row" fxLayoutGap="5px">
                <div fxFlex="none">
                    <button mat-stroked-button [matMenuTriggerFor]="filtroEstatus" [matTooltipPosition]="'above'" [matTooltip]="(filtros.estatus)?listaEstatusLabels[filtros.estatus]:'Todos'">
                        <mat-icon>{{(filtros.estatus)?listaEstatusIconos[filtros.estatus]:'clear_all'}}</mat-icon>
                    </button>
                    <mat-menu #filtroEstatus="matMenu">
                        <button mat-menu-item [disabled]="filtros.estatus === false" (click)="filtros.estatus = false; aplicarFiltro()">
                            <mat-icon>clear_all</mat-icon> Todos
                        </button>
                        <button mat-menu-item *ngFor="let estatus of filtrosCatalogos.estatus" [disabled]="filtros.estatus == estatus.clave" (click)="filtros.estatus = estatus.clave; aplicarFiltro()">
                            <mat-icon>{{listaEstatusIconos[estatus.clave]}}</mat-icon> {{estatus.descripcion}}
                        </button>
                    </mat-menu>
                </div>
                <div fxFlex="none" class="small-select-input">
                    <mat-form-field appearance="outline">
                        <mat-select [(ngModel)]="filtros.almacen_id" (selectionChange)="aplicarFiltro()">
                            <mat-option [value]="false">Todos los Almacenes</mat-option>
                            <mat-option *ngIf="filtrosCatalogos.almacenes.length == 0" [value]="" disabled>Sin Almacenes Asignados</mat-option>
                            <mat-option *ngFor="let almacen of filtrosCatalogos.almacenes" [value]="almacen.id">
                                {{almacen.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="none" class="small-select-input">
                    <mat-form-field appearance="outline">
                        <mat-select [(ngModel)]="filtros.tipo_movimiento_id" (selectionChange)="aplicarFiltro()">
                            <mat-option [value]="false">Todas las Entradas</mat-option>
                            <mat-option *ngIf="filtrosCatalogos.almacenes.length == 0" [value]="" disabled>Sin Tipos de Entrada</mat-option>
                            <mat-option *ngFor="let movimiento of filtrosCatalogos.tipos_movimiento" [value]="movimiento.id">
                                {{movimiento.descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="none" class="small-select-input">
                    <mat-form-field appearance="outline">
                        <mat-date-range-input [rangePicker]="rangePicker">
                            <input matStartDate [(ngModel)]="filtros.rango_fechas.inicio" placeholder="Inicio" readonly>
                            <input matEndDate [(ngModel)]="filtros.rango_fechas.fin" placeholder="Fin" readonly>
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                        <mat-date-range-picker #rangePicker disabled="false">
                            <mat-date-range-picker-actions>
                            <button mat-button matDateRangePickerCancel>Cancelar</button>
                            <button mat-raised-button color="primary" matDateRangePickerApply (click)="checarFechasFiltro()">Aplicar</button>
                            </mat-date-range-picker-actions>
                        </mat-date-range-picker>
                    </mat-form-field>
                </div>
                <div fxFlex="none">
                    <button mat-flat-button (click)="limpiarFiltro()" matTooltip="Quitar Filtro"><mat-icon>filter_alt_off</mat-icon></button>
                </div>
            </div>
            <div fxFlex></div>
            <div fxFlex="none" [ifHasPermission]="'Ret6H40ZJQ16rv74RKnz0V0KAcXm27MS'">
                <button mat-stroked-button color="accent" (click)="verDialogoSubirArchivo()" matTooltip="Subir Archivo de Existencias"><mat-icon>file_upload</mat-icon></button>
            </div>
            <div fxFlex="none">
                <!--button mat-raised-button color="info"   ><mat-icon>add_circle</mat-icon> Nuevo Pedido</button-->
                <button mat-flat-button color="info" [routerLink]="'/almacen/entradas/nueva'" ><mat-icon>add_circle</mat-icon> Nueva Entrada</button>
            </div>
        </div>
    </section>
    <section fxFlex fxLayout="column">
        <mat-card fxFlex fxLayout="column" >
            <div fxFlex style="overflow: auto;">
                <table #dataTable mat-table [dataSource]="listadoMovimientos" class="data-table" matSort>
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef width="1"> Estatus </th>
                        <td mat-cell *matCellDef="let row" class="{{row.estatus_clave}}-color" style="text-align: center;"> <mat-icon matTooltip="{{row.estatus_label}}">{{row.estatus_icono}}</mat-icon> </td>
                    </ng-container>

                    <ng-container matColumnDef="folio">
                        <th mat-header-cell *matHeaderCellDef> Folio - Tipo Entrada </th>
                        <td mat-cell *matCellDef="let row" width="1">
                            <span style="white-space: nowrap;">{{ row.folio }}</span><br>
                            <span class="added-data">
                                {{(row.tipo_movimiento)?row.tipo_movimiento:'Sin Tipo'}}&nbsp;
                                <span *ngIf="row.tipo_solicitud">{{row.tipo_solicitud}}: {{+row.porcentaje_surtido | number:'1.0-2'}} %</span>
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="folio_referencia">
                        <th mat-header-cell *matHeaderCellDef> Referencia </th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">
                            {{(row.referencia_folio)?row.referencia_folio:'---'}}<br>
                            <span class="added-data" *ngIf="row.referencia_fecha">Fecha: {{row.referencia_fecha}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="almacen">
                        <th mat-header-cell *matHeaderCellDef> Almacén - Origen </th>
                        <td mat-cell *matCellDef="let row" > 
                            {{row.almacen}}<br>
                            <span class="added-data" *ngIf="row.origen">Origen: {{row.origen}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fecha_movimiento" >
                        <th mat-header-cell *matHeaderCellDef fxHide.xs="true" width="1"> Fecha - Turno </th>
                        <td mat-cell *matCellDef="let row" fxHide.xs="true" style="white-space: nowrap; text-align: center;"> 
                            {{row.fecha_movimiento}}<br>
                            <span class="added-data">{{row.turno}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="totales_claves_articulos" >
                        <th mat-header-cell *matHeaderCellDef fxHide.xs="true" style="white-space: nowrap;"> Totales<br> Claves ( Pzas. ) </th>
                        <td mat-cell *matCellDef="let row" fxHide.xs="true" style="white-space: nowrap; text-align: center;"> {{row.total_claves | number:'1.0-0'}} ( {{row.total_articulos | number:'1.0-0'}} ) </td>
                    </ng-container>

                    <ng-container matColumnDef="total_monto" >
                        <th mat-header-cell *matHeaderCellDef fxHide.xs="true" style="white-space: nowrap;"> Total Monto </th>
                        <td mat-cell *matCellDef="let row" fxHide.xs="true" style="white-space: nowrap; text-align: center;"> ${{row.total_monto | number:'1.0-0'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dato_usuario" >
                        <th mat-header-cell *matHeaderCellDef fxHide.xs="true" width="1"> Usuario </th>
                        <td mat-cell *matCellDef="let row" fxHide.xs="true" style="white-space: nowrap;text-align: center;"> 
                            {{row.usuario}}<br>
                            <span class="added-data">{{row.updated_at | date:'dd-MM-yyyy'}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef width="1"><mat-icon>more_vert</mat-icon></th>
                        <td mat-cell *matCellDef="let row; let i = index" width="1" style="text-align: center;">
                            <button mat-icon-button  [matMenuTriggerFor]="menuAccionesEntradas" [matMenuTriggerData]="{id: row.id, estatus: row.estatus}">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="noResultsFound">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                            No se encontraron registros 
                        </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row [ngClass]="{'selected-item': i==selectedItemIndex,'cancelado':row.estatus_clave == 'cancelado'}" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                    <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(listadoMovimientos!=null && listadoMovimientos.length==0)}"></tr>
                </table>
            </div>

            <mat-menu #menuAccionesEntradas="matMenu">
                <ng-template matMenuContent let-id="id" let-estatus="estatus">
                        <button mat-menu-item [routerLink]="'/almacen/entradas/editar/'+id" *ngIf="estatus != 'PERE'">
                            <mat-icon>{{(estatus != 'BOR')?'visibility':'edit'}}</mat-icon>
                            <span>{{(estatus != 'BOR')?'Ver Detalles':'Editar'}}</span>
                        </button>
                        <button mat-menu-item [routerLink]="'/almacen/entradas/editar/'+id" *ngIf="estatus == 'PERE'">
                            <mat-icon color="accent">inventory</mat-icon>
                            <span>Recibir</span>
                        </button>
                        <mat-divider *ngIf="estatus == 'FIN'"></mat-divider>
                        <button mat-menu-item *ngIf="estatus == 'FIN'" [routerLink]="'/almacen/salidas/nueva'" [state]="{data:{movimiento_id:id}}">
                            <mat-icon color="primary">reply</mat-icon>
                            <span>Crear Salida</span>
                        </button>

                        <mat-divider *ngIf="estatus == 'FIN' || estatus == 'CAN'"></mat-divider>
                        <button mat-menu-item *ngIf="estatus == 'FIN' || estatus == 'CAN'" [routerLink]="'/almacen/entradas/nueva'" [state]="{data:{movimiento_id:id}}">
                            <mat-icon>content_copy</mat-icon>
                            <span>Duplicar Entrada</span>
                        </button>
                        <mat-divider *ngIf="estatus == 'FIN'"></mat-divider>
                        <button mat-menu-item *ngIf="estatus == 'FIN'" (click)="activarModificacionEntrada(id)">
                            <mat-icon color="admin">admin_panel_settings</mat-icon>
                            <span>Modificar Entrada</span>
                        </button>

                        <div [ifHasPermission]="'XwFSazUr0aCZcAYtcdjYkw69N9amlutP'" >
                            <mat-divider *ngIf="estatus == 'FIN' || estatus == 'PERE'"></mat-divider>
                            <button mat-menu-item color="warn" *ngIf="estatus == 'FIN' || estatus == 'PERE'" (click)="cancelarEntrada(id)">
                                <mat-icon color="warn">cancel</mat-icon>
                                <span>Cancelar Entrada</span>
                            </button>
                        </div>
                        <mat-divider *ngIf="estatus == 'BOR'"></mat-divider>
                        <button mat-menu-item color="warn" *ngIf="estatus == 'BOR'" (click)="eliminarEntrada(id)">
                            <mat-icon color="warn">delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="obtenerEntrada(id)">
                            <mat-icon>print</mat-icon>
                            <span>Imprimir</span>
                        </button>
                </ng-template>
            </mat-menu>

            <div fxFlex="none">
                <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadListadoMovimientos($event)"></mat-paginator>
            </div>
        </mat-card>
    </section>
</section>